/* STYLE TABS MENU */

.nav-tabs .mytab .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ff4757 !important;
  background-color: transparent !important;
  border-color: transparent transparent #ff4757 !important;
  border-bottom: 3px solid !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.nav-tabs .mytab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #9a9a9a;
  font-size: 18px;
}

.nav-tabs {
  outline: none !important;
}

.nav-tabs .nav-link:focus {
  outline: none !important;
}

/* STYLE MODAL */

.modal .modal-content .modal-body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.modal .modal-content .modal-header {
  padding-left: 15px;
  color: #888888;
}

/* STYLE SEARCH GLOBAL */

.his-search {
  width: 100%;
}

.his-search .form-control {
  padding-left: 2.375rem;
}

.his-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* STYLE INPUT FILE */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ff4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* STYLE PAGINATION */

.page-link {
  border: 0;
  border-radius: 30px !important;
  transition: all 0.3s;
  padding: 0 11px !important;
  margin: 0 3px !important;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: 0 0;
  text-align: center;
}

.page-link:hover {
  color: #999;
}

.page-item.active .page-link {
  border: none !important;
  border-radius: 100%;
  background-color: #ff4757;
  border-color: #ff4757;
  box-shadow: none;
}

.page-item.disabled .page-link {
  border: none !important;
}

/* STYLE MULTISELECT */

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 1rem !important;
}

.multiselect__single {
  padding-top: 0.30rem !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.multiselect__input,
.multiselect__single {
  padding-left: 1px !important;
}

.multiselect__tags {
  font-size: 1rem !important;
  padding-top: 0.30rem !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.multiselect__placeholder {
  display: inline !important;
  color: #E3E3E3 !important;
}

.multiselect__option--highlight {
  background: #007bff !important;
  outline: none;
  color: #fff
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #007bff !important;
  color: #fff
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #ff4757 !important;
  color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #ff4757 !important;
  content: attr(data-deselect);
  color: #fff
}

/* STYLE LOADING */

.loader {
  font-size: 7px;
  text-indent: -9999em;
  margin: 0px auto;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background: #bdc3c7;
  background: -moz-linear-gradient(left, #bdc3c7 10%, rgba(0, 255, 251, 0) 42%);
  background: -webkit-linear-gradient(left, #bdc3c7 10%, rgba(0, 255, 251, 0) 42%);
  background: -o-linear-gradient(left, #bdc3c7 10%, rgba(0, 255, 251, 0) 42%);
  background: -ms-linear-gradient(left, #bdc3c7 10%, rgba(0, 255, 251, 0) 42%);
  background: linear-gradient(to right, #bdc3c7 10%, rgba(0, 255, 251, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #bdc3c7;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.vertical {
  border-top: 5px solid #ff4757;
  margin-bottom: 20px;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.close { 
  outline: none !important;
  text-shadow: none !important;
}

