<template>
    <div id="SideBarExpand">
        <div class="expandeds pointer" @click="actionShow">
            <h6 style="margin:0;">{{title}}</h6>
            <transition name="fade" mode="out-in">
                <span class="myCaret caret-round">
                    <i class="fa fa-chevron-down" :class="!MCallopse ? 'fa-kanan':'fa-bawah'"></i>
                </span>
            </transition>
        </div>
        <b-collapse v-model="MCallopse" id="sideMenuCollapse">
            <slot></slot>
        </b-collapse>  
    </div>
</template>
<script>
import bCollapse from "bootstrap-vue/es/components/collapse/collapse";

export default {
  name: "SideBarExpand",
  components: {
    bCollapse
  },
  props: {
    title: {
      type: String
    },
    showCollapse: {
      type: Boolean,
      default: true
    },
    onPath: {
      type: String
    }
  },
  data() {
    return {
      MCallopse: true
    };
  },
  methods: {
    actionShow() {
      this.MCallopse = !this.MCallopse;
    }
  }
};
</script>
<style scoped>
.expandeds {
  position: relative;
  padding: 18px 14px !important;
  /* font-weight: bold; */
  /* background-color: rgba(255, 255, 255, 0.1); */
  margin-bottom: 1px;
  /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.4); */
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.expandeds, h6 {
  color: #777777;
}
.expandeds:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* .expandeds:hover > .myCaret {
  background-color: rgba(0, 0, 0, 0.2);
} */
.expandeds > .myCaret {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 14px;
  margin-top: 12px;
  /* background-color: rgba(255, 255, 255, 0.2); */
  width: 28px;
  height: 28px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.fa {
  transition-duration: 0.25s;
  transition-property: transform;
  color: #6C6C6C;
}

.fa-kanan {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.fa-bawah {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
</style>