<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 px-md-5">
                <img src="/static/assets/images/logowarna.svg" class="mb-4 logos" alt="logos" width="45%">
                <h3 class="mb-2">Atur Ulang Kata Sandi</h3>
                <p style="font-size: 12px;">Silahkan masukkan password baru anda pada form dibawah ini.</p>
                <form v-on:submit.prevent="submit">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control shadow-none" placeholder="Masukkan Email Anda" disabled v-model="email">
                  </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password Baru* <span style="color: #FF4757;" data-toggle="tooltip" title="Password minimal 8 karakter dan terdiri dari huruf besar atau kecil, angka dan simbol (!@#$%^&*().)."><i class="fa fa-question-circle"></i></span></label>
                      <input :type="!showNewPassword ? 'password' : 'text'" title="" class="form-control shadow-none" @input="password_check" v-model="password" placeholder="Masukkan Kata Sandi Baru" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="password" required>
                      <small class="btn-eye pointer" @click="showModalPaswd()">
                        <span class="fa" style="color: #FF4757" :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"></span>
                      </small>
                      <small v-if="status" class="form-text text-danger">{{status}}</small>
                    </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Konfirmasi Password*</label>
                        <input :type="!showConfirmPassword ? 'password' : 'text'" title="" class="form-control shadow-none" @input="password_check" v-model="passwordcheck" placeholder="Konfirmasi Kata Sandi Baru" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" required>
                        <small class="btn-eye pointer" @click="showConfirmPaswd()">
                          <span class="fa" style="color: #FF4757" :class="[!showConfirmPassword ? 'fa-eye':'fa-eye-slash']"></span>
                        </small> 
                      </div>
                  <button type="submit" :disabled="disabled" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">
                    <span v-if="disabled"><i class="fa fa-spinner fa-pulse fa-lg"></i>
                    </span>
                    <span v-else>Reset Kata Sandi</span>
                  </button>
                </form>
                  <div class="text-footer">
                    <p>Copyright © 2020 Mystoku</p>
                  </div>
              </div>
            </div>
            <b-modal v-model="konfirmasi" size="md" no-close-on-backdrop no-close-on-esc hide-footer hide-header class="p-0">
              <h3><i style="color: #00c300 " class="fa fa-check-square-o"></i>&nbsp; Password berhasil direset!</h3>
              <p class="my-2" style="font-size: 15px;">Silakan kembali kehalaman login dan masuk ke halaman dashboard dengan password terbaru Anda. 
              </p><br>
              <p class="link text-right pointer" @click="goSignin()">Kembali ke halaman login <i class="fa fa-angle-double-right"></i></p>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {callapi} from "@/Api.js";

export default {
  data () {
    return {
      showNewPassword: false,
      showConfirmPassword: false,
      disabled: false,
      konfirmasi: false,
      password: '',
      passwordcheck: '',
      status: '',
      email: localStorage.getItem("email"),
    }
  },
  beforeCreate: function () {
    if (!localStorage.getItem("email")) {
      this.$router.push('/lupa-password')
    }
  },
  mounted() {
    this.$refs.password.focus();
  },
  watch: {
    password: (function() {
      if (this.password == '') {
        this.status = '';
      }
    }),
    passwordcheck: (function() {
      if (this.passwordcheck == '') {
        this.status = '';
      }
    })
  },
  methods: {
    submit() {
      if (this.status == 'Kata sandi tidak sama' || 
      this.status == 'Kata sandi diisi minimal 8 karakter.' ||
      this.status == 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).' ) {
        alert("Silahkan periksa password Anda!");
        this.$refs.password.focus();
        return false;
      } 
      this.disabled = true;
      var email = localStorage.getItem("email");
      var code = localStorage.getItem("code");
      var datalogin = {
        password: this.password,
        email: email,
        code: code
      };
      callapi().then(kirim => {
        kirim.put(`account/changepass`, datalogin)
        .then(async response => {
          this.disabled = false;
          this.konfirmasi = true;
        })
        .catch(err => {
          this.disabled = false;
          console.log(err);
        });
      })
    },
    password_check: function () {
      var number = /.{8,}/.test(this.password || this.passwordcheck);
      var huruf = /[a-z]/.test(this.password || this.passwordcheck);
      var besar = /[A-Z]/.test(this.password || this.passwordcheck);
      var charackter = /[!@#\$%\^\&*\)\(+=._-]/.test(this.password || this.passwordcheck);

      if (this.passwordcheck == '') {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
          this.status = '';
        } 
      } else if (this.password == '') {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
          this.status = '';
        } 
      } else {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else if (this.password != this.passwordcheck) {
          this.status = 'Kata sandi tidak sama';
        } else {
          this.status = '';
        } 
      }
    },
    goSignin() {
      this.$router.push({
      name: "Signin"
      });
      localStorage.removeItem("email");
      localStorage.removeItem("code");
    },
    showModalPaswd(val) {
      this.showNewPassword = !this.showNewPassword;
    },
    showConfirmPaswd(val) {
      this.showConfirmPassword = !this.showConfirmPassword;
    },
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.link {
  color: #3069E3;
  cursor: pointer;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.bg-image {
  background-image: url('/static/assets/images/reset.svg');
  background-size: cover;
  background-position: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.text-footer {
  background: none;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }
}

</style>
