<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-3 info">
          <div class="container">
              <div class="row">
                <div class="col-md-12 text-center py-5">
                  <img src="/static/assets/images/logo.svg" class="mb-5" alt="logos" width="55%">
                </div>
                <div class="col-md-12">
                  <p class="title-info">Step kedua dalam mendaftar MYSTOKU adalah Anda mengisi form informasi 
                    bisnis anda seperti mengisi Nama bisnis Anda, Telepon, Nama Instagram pemasaran, 
                    Alamat tempat bisnis serta Gambar banner bisnis Anda yang akan tampil pada aplikasi Mobile. <br><br>
                    <!-- <span>Apabila Anda mendapatkan kendala, Anda dapat hubungi kami di :</span> <br><br>
                    <span><i class="fa fa-whatsapp"></i> +62008 321 8765</span>  -->
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-8 col-lg-9 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-9 px-md-5">
                <div class="row">
                  <div class="col-lg-8 col-md-12">
                    <h3 class="mb-4">Step 2/2 Profil Bisnis</h3>
                  </div>
                  <div class="col-lg-4 col-md-12 text-right mt-3 pointer" @click="BackRegist()">
                    <h5 style="color: #FFA217;">Kembali</h5>
                  </div>
                </div>
                <form v-on:submit.prevent="submit">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nama Bisnis</label>
                        <input type="text" title="" v-model="namausaha" class="form-control shadow-none" placeholder="Masukkan Nama Bisnis Anda" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="nama" required>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">No. Telepon Bisnis</label>
                        <input type="number" title="" v-model="telepon" onKeyPress="if(this.value.length==12) return false;" class="form-control shadow-none" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" placeholder="Nomor Telepon Bisnis" required>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Instagram (Opsional)</label>
                        <input type="text" title="" v-model="instagram" class="form-control shadow-none" placeholder="@Nama Instagram Anda" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Alamat Bisnis</label>
                        <textarea class="form-control shadow-none" v-model="alamat" placeholder="Masukkan Alamat Bisnis Anda" ref="alamat" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Banner Bisnis</label>
                        <div v-if="resultURL == ''">
                        <input @change="upload($event)" type="file" name="file" id="file" class="input-file" ref="banner">
                        <label for="file" class="btn btn-tertiary">
                          <i class="fa fa-upload"></i>
                          <span>Pilih Gambar</span>
                        </label>
                        </div>
                        <div v-else>
                          <img class="rounded mx-auto d-block img-thumbnail" :src="resultURL">
                          <small class="btn-img pointer" @click="Delimg()">
                            <i class="fa fa-trash"></i>
                          </small>
                        </div>

                          <b-modal v-model="modalCrop" no-close-on-backdrop no-close-on-esc hide-footer hide-header-close title="Setting Gambar" class="p-0">
                          <clipper-basic class="my-clipper" bg-color='rgba(0,0,0,0)' ref="clipper" :ratio="4/2" :src="imgURL">
                          </clipper-basic>
                          <b-row>
                            <b-col>
                              <b-button class="mt-3 shadow-none" block @click="getResult">Crop Gambar</b-button>
                            </b-col>
                            <b-col>
                              <b-button class="mt-3 shadow-none" block variant="danger" @click="close()">Batal</b-button>
                            </b-col>
                          </b-row>
                          </b-modal>
                      </div>
                    </div>
                  </div>
                  <p class="">Dengan mendaftar, saya menyatakan menyetujui <span class="link pointer">Ketentuan Layanan</span> dan <span class="link pointer">Kebijakan Mystoku.</span></p>
                  <div class="row mb-3">
                    <div class="col-lg-8 align-item-center">
                      <p class="mt-2">Sudah punya akun?<span class="link" @click="goSignin()"> Masuk</span></p>
                    </div>
                    <div class="col-lg-4 col-md-12 text-right">
                    <button type="submit" :disabled="disabled" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">
                      <span v-if="disabled"><i class="fa fa-spinner fa-pulse fa-lg"></i>
                      </span>
                      <span v-else>Daftar</span>
                    </button>
                    </div>
                  </div>
                  <p>Copyright © 2020 Mystoku</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal v-model="konfirmasi" centered size="md" no-close-on-backdrop no-close-on-esc hide-footer hide-header class="p-0">
      <h3><i style="color: #00c300 " class="fa fa-check-square-o"></i>&nbsp; Daftar akun berhasil!</h3>
      <p class="my-2" style="font-size: 15px;">Kami telah mengirimkan tautan validasi akun ke {{email}}. Silakan buka email Anda dan ikuti petunjuk berikutnya. 
      </p><br>
      <p class="link text-right pointer" @click="goSignin()">Kembali ke halaman login <i class="fa fa-angle-double-right"></i></p>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import {callapi} from "@/Api.js";
import VuejsClipper from 'vuejs-clipper'

Vue.use(VuejsClipper, {
　components: {
    clipperBasic: true,
    clipperPreview: true
　}
})

export default {
  components: {},
  data () {
    return {
      imgURL: '',
      resultURL: '',
      namausaha: '',
      telepon: '',
      instagram: '',
      alamat: '',
      email: '',
      modalCrop: false,
      konfirmasi: false,
      disabled: false,
    }
  },
  beforeCreate: function () {
    if (!localStorage.getItem("step1")) {
      this.$router.push('/register')
    }
  },
  mounted() {
    if (localStorage.getItem("step2")) {
      var akun = localStorage.getItem("step2");
      var idakun = JSON.parse(akun);
      this.namausaha = idakun.namausaha;
      this.instagram = idakun.instagram;
      this.alamat = idakun.alamat;
      this.telepon = idakun.notelp;
      this.resultURL = idakun.banner;
    }
    this.$refs.nama.focus();
  },
  methods: {
    submit() {
      if (this.alamat == '') {
        alert("Silahkan lengkapi alamat bisnis Anda!");
        this.$refs.alamat.focus();
        return false;
      } else if (this.resultURL == '') {
        alert("Silahkan lengkapi banner bisnis Anda!");
        this.$refs.banner.focus();
        return false;
      }
      this.disabled = true;
      var akun = localStorage.getItem("step1");
      var idakun = JSON.parse(akun);
      this.email = idakun.email;
      let data = {
        account: {
          nama: idakun.nama,
          alamat: idakun.alamat,
          notelp: idakun.notelp,
          email: idakun.email,
          password: idakun.password
        },
        usaha: {
          namausaha: this.namausaha,
          instagram: this.instagram,
          alamat: this.alamat,
          notelp: this.telepon,
          banner: this.resultURL
        }
      }
      // console.log(data);
      callapi().then(kirim => {
        kirim.post(`account/register`, data)
        .then(response => {
          console.log(response);
          this.disabled = false;
          this.konfirmasi = true;
        })
        .catch(err => {
          this.disabled = false;
          console.log(err.response);
        });
      })
    },
    upload(e){
      console.log(e);
      if (e.target.files.length !== 0) {
        if(this.imgURL) URL.revokeObjectURL(this.imgURL)
        this.imgURL = window.URL.createObjectURL(e.target.files[0]);
        this.modalCrop = true;
      }
    },
    Delimg() {
      this.resultURL = '';
    },
    close() {
      this.imgURL = "";
      this.resultURL = "";
      this.modalCrop = false;
    },
    getResult: function () {
      let pixel = 450;
      const canvas = this.$refs.clipper.clip({ wPixel: pixel,  })
      this.resultURL = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
      console.log(this.resultURL);
      this.modalCrop = false;
    },
    goSignin() {
      this.$router.push({
      name: "Signin"
      });
      localStorage.removeItem("step1");
      localStorage.removeItem("step2");
    },
    BackRegist() {
      this.$router.push({
      name: "Register"
      });
      let data = {
        namausaha: this.namausaha,
        instagram: this.instagram,
        alamat: this.alamat,
        notelp: this.telepon,
        banner: this.resultURL
      }
      localStorage.setItem("step2", JSON.stringify(data));
    }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.info {
    background-color: #FF4757;
}

.title-info {
  margin-top: 50px;
  font-size: 14px !important;
  color: #ffff;
}

.link {
  color: #3069E3;
  cursor: pointer;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}

.btn-img {
  text-align: center;
  float: right;
  margin-right: 128px;
  margin-top: -50px;
  position: relative;
  font-size: 14px;
  z-index: 2;
  background: #FFF;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.pointer {
  cursor: pointer;
}

</style>
