<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-3 info">
          <div class="container">
              <div class="row">
                <div class="col-md-12 text-center py-5">
                  <img src="/static/assets/images/logo.svg" class="mb-5" alt="logos" width="55%">
                </div>
                <div class="col-md-12">
                  <p class="title-info">Step pertama dalam mendaftar MYSTOKU adalah Anda mengisi form informasi akun anda seperti 
                    mengisi Nama Anda, Nomor telepon, Email, Password login, serta Alamat detail Anda. <br><br>
                    <!-- <span>Apabila Anda mendapatkan kendala, Anda dapat hubungi kami di :</span> <br><br>
                    <span><i class="fa fa-whatsapp"></i> +62008 321 8765</span>  -->
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-8 col-lg-9 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-9 px-md-5">
                <h3 class="mb-4">Step 1/2 Profil Akun</h3>
                <form v-on:submit.prevent="submit">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nama</label>
                        <input type="text" title="" v-model="nama" class="form-control shadow-none" placeholder="Masukkan Nama Anda" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="name" required>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">No. Hp</label>
                        <input type="number" title="" v-model="telepon" onKeyPress="if(this.value.length==12) return false;" class="form-control shadow-none" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="telepon" placeholder="Masukkan Nomor Hp" required>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" title="" v-model="email" class="form-control shadow-none" placeholder="Masukkan Email Anda" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="email" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password* <span style="color: #FF4757;" data-toggle="tooltip" title="Password minimal 8 karakter dan terdiri dari huruf besar atau kecil, angka dan simbol (!@#$%^&*().)."><i class="fa fa-question-circle"></i></span></label>
                        <input :type="!showNewPassword ? 'password' : 'text'" title="" class="form-control shadow-none" @input="password_check" v-model="password" placeholder="Masukkan Kata Sandi" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="password" required>
                        <small class="btn-eye pointer" @click="showModalPaswd()">
                          <span class="fa" style="color: #FF4757" :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"></span>
                        </small>
                        <small v-if="status" class="form-text text-danger">{{status}}</small>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                      <div class="form-group">
                        <label for="exampleInputPassword1">Konfirmasi Password*</label>
                        <input :type="!showConfirmPassword ? 'password' : 'text'" title="" class="form-control shadow-none" @input="password_check" v-model="passwordcheck" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" placeholder="Konfirmasi Kata Sandi" required>
                        <small class="btn-eye pointer" @click="showConfirmPaswd()">
                          <span class="fa" style="color: #FF4757" :class="[!showConfirmPassword ? 'fa-eye':'fa-eye-slash']"></span>
                        </small> 
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Alamat</label>
                        <textarea v-model="alamat" class="form-control shadow-none" placeholder="Masukkan Alamat Anda" rows="3" ref="alamat"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-8 align-item-center">
                      <p class="mt-2">Sudah punya akun?<span class="link" @click="goSignin()"> Masuk</span></p>
                    </div>
                    <div class="col-lg-4 col-md-12 text-right">
                      <button type="submit" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">Lanjutkan <i class="fa fa-chevron-right"></i></button>
                    </div>
                  </div>
                  <p>Copyright © 2020 Mystoku</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {callapi} from "@/Api.js";
import { validasiEmail } from "@/function";

export default {
  name: 'HelloWorld',
  data () {
    return {
      showNewPassword: false,
      showConfirmPassword: false,
      nama: '',
      telepon: '',
      email: '',
      alamat: '',
      password: '',
      passwordcheck: '',
      status: '',
    }
  },
  mounted() {
    if (localStorage.getItem("step1")) {
      var akun = localStorage.getItem("step1");
      var idakun = JSON.parse(akun);
      this.nama = idakun.nama;
      this.alamat = idakun.alamat;
      this.telepon = idakun.notelp;
      this.email = idakun.email;
      this.password = idakun.password;
      this.passwordcheck = idakun.password;
    }
    this.$refs.name.focus();
  },
  watch: {
    password: (function() {
      if (this.password == '') {
        this.status = '';
      }
    }),
    passwordcheck: (function() {
      if (this.passwordcheck == '') {
        this.status = '';
      }
    })
  },
  methods: {
    submit() {
      if (this.status == 'Kata sandi tidak sama' || 
      this.status == 'Kata sandi diisi minimal 8 karakter.' ||
      this.status == 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).' ) {
        alert("Silahkan periksa password Anda!");
        this.$refs.password.focus();
        return false;
      } else if (!validasiEmail(this.email)) {
        alert("Email tidak valid, periksa kolom email!");
        this.$refs.email.focus();
        return false;
      } else if (this.alamat == "") {
        alert("Silahkan lengkapi alamat Anda!");
        this.$refs.alamat.focus();
        return false;
      }
      this.CekEmail();
    },
    CekEmail() {
      callapi().then(kirim => {
        kirim.get(`account/cekemail?email=${this.email}&nama=${this.nama}&nohp=${this.telepon}`)
        .then(response => {
          console.log(response.data.message);
          let data = {
            nama: this.nama,
            alamat: this.alamat,
            notelp: this.telepon,
            email: this.email,
            password: this.password
          }
          localStorage.setItem("step1", JSON.stringify(data));
          this.nextRegist();
        })
        .catch(err => {
          // console.log(err.response.data.message);
          var res = err.response.data.message;
          if (res == 'Email sudah digunakan') {
            alert('Email yang kamu gunakan telah terdaftar sebelumnya, gunakan email yang lain atau cek user anda.')
            this.$refs.email.focus();
            return false;
          } else if (res == 'Nama sudah digunakan') {
            alert('Nama yang kamu gunakan telah terdaftar sebelumnya, gunakan nama yang lain atau cek user anda.')
            this.$refs.name.focus();
            return false;
          } else if (res == 'No Hp sudah digunakan') {
            alert('Nomor telepon yang kamu gunakan telah terdaftar sebelumnya, gunakan Nomor telepon yang lain atau cek user anda.')
            this.$refs.telepon.focus();
            return false;
          }
        });
      })
    },
    password_check: function () {
      var number = /.{8,}/.test(this.password || this.passwordcheck);
      var huruf = /[a-z]/.test(this.password || this.passwordcheck);
      var besar = /[A-Z]/.test(this.password || this.passwordcheck);
      var charackter = /[!@#\$%\^\&*\)\(+=._-]/.test(this.password || this.passwordcheck);

      if (this.passwordcheck == '') {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
          this.status = '';
        } 
      } else if (this.password == '') {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
          this.status = '';
        } 
      } else {
        if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else if (this.password != this.passwordcheck) {
          this.status = 'Kata sandi tidak sama';
        } else {
          this.status = '';
        } 
      }
    },
    showModalPaswd(val) {
      this.showNewPassword = !this.showNewPassword;
    },
    showConfirmPaswd(val) {
      this.showConfirmPassword = !this.showConfirmPassword;
    },
    nextRegist() {
      this.$router.push({
      name: "NextRegister"
      });
    },
    goSignin() {
      this.$router.push({
      name: "Signin"
      });
    }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.frmValidation--passed{color:#717b85;}
.frmValidation--passed .frmIcon{color:#0fa140;}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.info {
    background-color: #FF4757;
}

.title-info {
  margin-top: 50px;
  font-size: 14px !important; 
  color: #ffff;
}

.link {
  color: #3069E3;
  cursor: pointer;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.pointer {
  cursor: pointer;
}

</style>
