<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 px-md-5">
                <a href="https://www.mystoku.com/">
                  <img src="/static/assets/images/logowarna.svg" class="mb-5 logos" alt="logos" width="45%">
                </a>
                <h2 class="mb-4">Login Dashboard</h2>
                <form v-on:submit.prevent="submit">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" title="" class="form-control shadow-none" placeholder="Masukkan Email Anda" v-model="email" ref="email" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input title="" :type="!showNewPassword ? 'password' : 'text'" class="form-control shadow-none" v-model="password" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" placeholder="Masukkan Kata Sandi" required>
                    <small class="btn-eye pointer" @click="showModalPaswd()">
                      <span class="fa" style="color: #FF4757" :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"></span>
                    </small> 
                  </div>
                  <p class="link" @click="goReset()">Lupa password?</p>
                  <small class="form-text text-danger mb-3">{{status}}</small>
                  <button type="submit" :disabled="disabled" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">
                    <span v-if="disabled"><i class="fa fa-spinner fa-pulse fa-lg"></i>
                    </span>
                    <span v-else>Masuk</span>
                  </button>
                  <p class="mb-3">Tidak punya akun? <span class="link" @click="register()">Daftar</span></p>
                  <div class="text-footer">
                  <p>Copyright © 2020 Mystoku</p>
                  </div>
                </form>
              </div>
            </div>
            <b-modal v-model="konfirmasi" size="md" no-close-on-backdrop no-close-on-esc hide-footer hide-header class="p-0">
              <h3><i style="color: #00c300 " class="fa fa-check-square-o"></i>&nbsp; Validasi Email Sukses!</h3>
              <p class="my-2" style="font-size: 15px;">Silahkan login dahsboard Anda menggunakan email & password yang telah Anda daftarkan sebelumnya. 
              </p><br>
              <p class="link text-right pointer" @click="Govalidasi()">Masuk Sekarang <i class="fa fa-angle-double-right"></i></p>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {callapi} from "@/Api.js";
import moment from "moment";
import { validasiEmail } from "@/function";

export default {
  name: 'HelloWorld',
  data () {
    return {
      showNewPassword: false,
      disabled: false,
      konfirmasi: false,
      email: '',
      password: '',
      status: '',
    }
  },
  beforeCreate: function () {
    if (localStorage.getItem("ID-Token")) {
      this.$router.push('/admin/menu')
    }
  },
  mounted() {
    if (this.$route.query.aktivasi == 'success') {
      this.konfirmasi = true;
    }
    this.$refs.email.focus();
  },
  methods: {
    submit() {
      if (!validasiEmail(this.email)) {
        alert("Email tidak valid, periksa kolom email!");
        this.$refs.email.focus();
        return false;
      }
      this.disabled = true;
      var datalogin = {
        email: this.email,
        password: this.password
      };

      callapi().then(kirim =>{
        kirim.post(`account/auth`, datalogin)
        .then(async res => {
          // console.log("sukses", res.data.data);
          this.status = ''

          let response = res.data.data.account;
          let data = {
            code: res.data.data.account.code,
            nama: res.data.data.mitra.namausaha,
            email: res.data.data.account.email,
            role: res.data.data.account.role,
            instagram: res.data.data.mitra.instagram,
            expired: moment().add(1, "day").format("X"),
            tour: res.data.data.account.tour
          };

          localStorage.setItem("ID-Blast", JSON.stringify(data));
          localStorage.setItem("ID-Token", JSON.stringify(res.data.token));

          this.disabled = false;
          this.$router.replace({ name: "Menu" });
        })
        .catch(err => {
          this.disabled = false;
          var res = err.response.data.msg
          // console.log();
          if (res == 'Email tidak terdaftar') {
            this.status = 'Email yang Anda masukkan tidak terdaftar, Silahkan melakukan pendaftaran dahulu.'
          } else if (res == 'Email belum di konfirmasi') {
            this.status = 'Email yang Anda masukkan belum terverifikasi, Silahkan buka pesan email Anda.'
          } else {
            this.status = 'Email atau Password salah, Coba lagi atau klik lupa password untuk menyetel ulang.'
          }
        });
      })
    },
    async Govalidasi() {
      this.konfirmasi = false;
      await this.timeout(300)
      this.$refs.email.focus();
    },
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    showModalPaswd(val) {
      this.showNewPassword = !this.showNewPassword;
    },
    goReset() {
      this.$router.push({
        name: "Reset"
      });
    },
    register() {
      this.$router.push({
        name: "Register"
      });
    }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.link {
  color: #3069E3;
  cursor: pointer;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.bg-image {
  background-image: url('/static/assets/images/login.svg');
  background-size: cover;
  background-position: center;
}

.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.text-footer {
  background: none;
  bottom: 15px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }
}

</style>
