<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 px-md-5">
                <a href="https://www.mystoku.com/">
                  <img src="/static/assets/images/logowarna.svg" class="mb-5 logos" alt="logos" width="45%">
                </a>
                <h2 style="margin-bottom: 70px;">Verifikasi Akun</h2>
                <form v-on:submit.prevent="submit">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Kode Verifikasi</label>
                    <input type="number" title="" class="form-control shadow-none" placeholder="Masukkan Kode Verifikasi" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="verifikasi" v-model="kode" required>
                  </div>
                  <button type="submit" :disabled="disabled" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">
                    <span v-if="disabled"><i class="fa fa-spinner fa-pulse fa-lg"></i>
                    </span>
                    <span v-else>Kirim</span>
                  </button>
                  <small class="form-text text-danger mb-3">{{status}}</small>
                  <p class="m-0">Tidak menerima kode verifikasi? </p>
                  <p v-if="timer" style="margin-bottom: 70px;" class="text-muted" disabled>Kirim ulang kode verifikasi 00:{{ showcountDown }}</p>
                  <p v-else style="margin-bottom: 70px;" class="link pointer" @click="KirimUlangkode()">Kirim ulang kode verifikasi <span v-if="loading"><i class="fa fa-spinner fa-pulse"></i></span></p>
                </form>
                <div class="text-footer">
                  <p>Copyright © 2020 Mystoku</p>
                </div>
              </div>
            </div>
            <b-modal v-model="konfirmasi" size="md" no-close-on-backdrop no-close-on-esc hide-footer hide-header class="p-0">
              <h3><i style="color: #00c300 " class="fa fa-check-square-o"></i>&nbsp; Kirim token berhasil!</h3>
              <p class="my-2" style="font-size: 15px;">Silakan klik lanjutkan untuk merubah kata sandi Anda. 
              </p><br>
              <p class="link text-right pointer" @click="Govalidasi()">Lanjutkan <i class="fa fa-angle-double-right"></i></p>
            </b-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {callapi} from "@/Api.js";

export default {
  name: 'HelloWorld',
  data () {
    return {
      kode: '',
      disabled: false,
      konfirmasi: false,
      loading: false,
      timer: false,
      status: '',
      countDown : 30,   
      count_down_timer: null
    }
  },
  beforeCreate: function () {
    if (!localStorage.getItem("email")) {
      this.$router.push('/lupa-password')
    }
  },
  mounted() {
    this.$refs.verifikasi.focus();
  },
  computed: {
    showcountDown() {
      const timeLeft = this.timeLeft;
      const minutes = Math.floor(timeLeft / 60);
      let seconds = timeLeft % 60;
      if (this.countDown < 10) {
        seconds = `0${seconds}`;
      }
      return `${seconds}`;
    },
    timeLeft() {
      return this.countDown - 0;
    },
  },
  methods: {
    submit() {
      this.disabled = true;
      var local = localStorage.getItem("email");
      var datalogin = {
        email: local,
        code: this.kode
      };
      callapi().then(kirim => {
        kirim.post(`account/cekcode`, datalogin)
        .then(async response => {
          localStorage.setItem("code", datalogin.code);
          this.disabled = false;
          this.konfirmasi = true;
        })
        .catch(err => {
          this.disabled = false;
          this.status = 'Kode token tidak valid, Coba lagi atau klik ulang pengiriman.'
          console.log(err);
        });
      })
    },
    countDownTimer() {
      if(this.countDown > 0) {
        this.count_down_timer = setTimeout(() => {
        this.countDown--;
        this.countDownTimer();
        }, 1000);
      }
    },
    show(){                
      this.myVar = setTimeout(() => {
        this.timer = false;
        }, 30000);
    },
    KirimUlangkode(){
      this.loading = true;
      var datalogin = {
        email: localStorage.getItem("email"),
      };
      callapi().then(kirim => {
        kirim.post(`account/reset`, datalogin)
        .then(async response => {
          this.loading = false;
          this.timer = true;
          this.countDown = 30;
          this.countDownTimer();
          this.show();
          console.log(response);
        })
        .catch(err => {
          this.loading = false;
          console.log(err);
        });
      })
    },
    Govalidasi() {
      this.$router.push({
        name: "AturPassword"
      });
    },
    goSignin() {
      this.$router.push({
      name: "Signin"
      });
    }
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.link {
  color: #3069E3;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.bg-image {
  background-image: url('/static/assets/images/verifikasi.svg');
  background-size: cover;
  background-position: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.pointer {
  cursor: pointer;
}

.text-footer {
  background: none;
  bottom: 15px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }
}

</style>
