.table{

  .radio,
  .checkbox{
    position: relative;
    height: 20px;
    display: block;
    width: 20px;
    padding: 0px 0px;
    margin: 0px 5px;
    text-align: center;

    .icons{
      left: 5px;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td{
    padding: 12px 8px;
    vertical-align: middle;
    &:last-child {
      width: 100%;
    }
  }
  tr:first-child th:first-child { border-top-left-radius: 10px; }
  tr:first-child th:last-child { border-top-right-radius: 10px; }

  > thead > tr > th{
    border-bottom-width: 1px;
    font-size: $font-size-navbar;
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: $font-weight-normal;
    padding-bottom: 10px;
    border-top: none !important;
    border-bottom: none;
    background-color: #F5F5F5;
  }

  .td-actions .btn{
    @include opacity(0.36);

    &.btn-xs{
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  .td-actions{
    min-width: 90px;
  }

  > tbody > tr{
    position: relative;

    &:hover{
      .td-actions .btn{
        @include opacity(1);
      }
    }
  }

  .btn:focus{
    box-shadow: none !important;
  }
}

.table.table-sm {

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td{
    padding: 6px 6px;
  }

  > thead > tr > th,
  > thead > th {
    font-size: $font-size-small;
    padding-bottom: 3px;
  }

  > tbody > tr > td {
    font-size: $font-size-small;
  }
}

.table-upgrade{
  .table{
    tr{
      td{
        width: 100%
      }
    }
  }
}
