<template>
  <card class="mb-0 pr-0 pl-0 mt-1 mb-1" style="border: 0px;">
    <form v-on:submit.prevent="Simpan">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="exampleInputPassword1">
              Password Lama
              <span
                style="color: #FF4757;"
                data-toggle="tooltip"
                title="Password minimal 8 karakter dan terdiri dari huruf besar atau kecil, angka dan simbol (!@#$%^&*().)."
              >
                <i class="fa fa-question-circle"></i>
              </span>
            </label>
            <input
              :type="!showNewPassword ? 'password' : 'text'"
              title
              class="form-control shadow-none"
              @input="password_check"
              v-model="password_lama"
              placeholder="Password Lama"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              ref="passlama"
              required
            />
            <small class="btn-eye pointer" @click="showModalPaswd()">
              <span
                class="fa"
                style="color: #FF4757"
                :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"
              ></span>
            </small>
            <small v-if="status" class="form-text text-danger">{{status}}</small>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="exampleInputPassword1">
                Password Baru
                <span
                  style="color: #FF4757;"
                  data-toggle="tooltip"
                  title="Password minimal 8 karakter dan terdiri dari huruf besar atau kecil, angka dan simbol (!@#$%^&*().)."
                >
                  <i class="fa fa-question-circle"></i>
                </span>
              </label>
              <input
                :type="!showNewPassword ? 'password' : 'text'"
                title
                class="form-control shadow-none"
                @input="password_check_baru"
                v-model="password_baru"
                placeholder="Password Baru"
                oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                oninput="setCustomValidity('')"
                ref="passbaru"
                required
              />
              <small class="btn-eye pointer" @click="showModalPaswd()">
                <span
                  class="fa"
                  style="color: #FF4757"
                  :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"
                ></span>
              </small>
              <small v-if="statusbaru" class="form-text text-danger">{{statusbaru}}</small>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Ulangi Password Baru</label>
              <input
                :type="!showConfirmPassword ? 'password' : 'text'"
                title
                class="form-control shadow-none"
                @input="password_check_baru"
                v-model="passwordcheck"
                oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                oninput="setCustomValidity('')"
                placeholder="Ulangi Password Baru"
                ref="passcheck"
                required
              />
              <small class="btn-eye pointer" @click="showConfirmPaswd()">
                <span
                  class="fa"
                  style="color: #FF4757"
                  :class="[!showConfirmPassword ? 'fa-eye':'fa-eye-slash']"
                ></span>
              </small>
            </div>
          </div>
        </div>
      <div class="text-right">
        <button type="submit" :disabled="disabled" class="btn btn-fill btn-primary shadow-none">
          <span v-if="disabled">
            Proses
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span v-else>Update Password</span>
        </button>
      </div>
    </form>
  </card>
</template>

<script>
import {callapi} from "@/Api.js";
export default {
  data() {
    return {
      showNewPassword: false,
      showConfirmPassword: false,
      password_lama: "",
      password_baru: "",
      passwordcheck: "",
      status: '',
      statusbaru: '',
      disabled: false,
    };
  },
  watch: {
    password_lama: (function() {
      if (this.password_lama == '') {
        this.status = '';
      }
    }),
    password_baru: (function() {
      if (this.password_baru == '') {
        this.statusbaru = '';
      }
    }),
    passwordcheck: (function() {
      if (this.passwordcheck == '') {
        this.statusbaru = '';
      }
    }),
  },
  methods:{
    async Simpan() {
      if (this.statusbaru == 'Kata sandi tidak sama' || 
      this.statusbaru == 'Kata sandi diisi minimal 8 karakter.' ||
      this.statusbaru == 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).' ) {
        alert("Silahkan periksa password Anda!");
        this.$refs.passbaru.focus();
        return false;
      } 
      this.disabled = true;
      let data = {
          passlama: this.password_lama,
          passbaru: this.password_baru,
          passkonfirm: this.passwordcheck,
        }
      // console.log(data);
      callapi().then(kirim => {
        kirim.put(`account/ubahpassword`, data)
        .then(res => {
          // console.log(res);
          this.notifku(true, 'Edit Password');
          this.disabled = false;
          this.resetVal();
        })
        .catch(error => {
          this.notifku(false, error.response.data.error);
          this.disabled = false;
          // console.log(error.response.data);
        });
      })
    },
    password_check: function () {
      var number  = /.{8,}/.test(this.password_lama);
      var huruf = /[a-z]/.test(this.password_lama);
      var besar = /[A-Z]/.test(this.password_lama);
      var charackter = /[!@#\$%\^\&*\)\(+=._-]/.test(this.password_lama);

      if (number == false) {
          this.status = 'Kata sandi diisi minimal 8 karakter.';
          this.$refs.passlama.focus();
      } else if ( charackter == false || huruf == false || besar == false) {
          this.$refs.passlama.focus();
          this.status = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
      } else {
        this.status = '';
      }
    },
    password_check_baru: function () {
      var number = /.{8,}/.test(this.password_baru || this.passwordcheck);
      var huruf = /[a-z]/.test(this.password_baru || this.passwordcheck);
      var besar = /[A-Z]/.test(this.password_baru || this.passwordcheck);
      var charackter = /[!@#\$%\^\&*\)\(+=._-]/.test(this.password_baru || this.passwordcheck);

      if (this.password_baru == '') {
        if (number == false) {
            this.statusbaru = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
            this.statusbaru = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
            this.statusbaru = '';
        }
      } else if (this.passwordcheck == '') {
        if (number == false) {
            this.statusbaru = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
            this.statusbaru = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else {
            this.statusbaru = '';
        }
      } else {
          if (number == false) {
            this.statusbaru = 'Kata sandi diisi minimal 8 karakter.';
        } else if ( charackter == false || huruf == false || besar == false) {
            this.statusbaru = 'Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).'
        } else if (this.password_baru != this.passwordcheck) {
          this.statusbaru = 'Kata sandi tidak sama';
        } else {
            this.statusbaru = '';
        }
      }
    },
    resetVal() {
      this.password_baru = "";
      this.password_lama = "";
      this.passwordcheck = "";
      this.$refs.passlama.focus();
    },
    showModalPaswd(val) {
      this.showNewPassword = !this.showNewPassword;
    },
    showConfirmPaswd(val) {
      this.showConfirmPassword = !this.showConfirmPassword;
   },
   notifku (status, message) {
      this.$notifications.notify(
        {
          message: `<span><b>${ status ? "Berhasil" : "Gagal" }</b> ${message}</span>`,
          icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
          horizontalAlign: "right",
          verticalAlign: "top",
          type: status ? "success" : "danger"
        })
    }
  }
};
</script>

<style>
.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}
</style>
