<template>
  <card class="mb-0 pr-0 pl-0 mt-1 mb-1" style="border: 0px;">
    <form v-on:submit.prevent="submit">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Nama</label>
            <input
              type="text"
              title
              v-model="nama"
              class="form-control shadow-none"
              placeholder="Masukkan Nama Anda"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              ref="name"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">No. Hp</label>
            <input
              type="number"
              title
              v-model="telepon"
              onkeypress="if(this.value.length==12) return false;"
              class="form-control shadow-none"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              ref="telepon"
              placeholder="Masukkan Nomor Hp"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="text"
              title
              v-model="email"
              class="form-control shadow-none"
              placeholder="Masukkan Email Anda"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              ref="email"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Alamat</label>
            <textarea
              v-model="alamat"
              class="form-control shadow-none"
              placeholder="Masukkan Alamat Anda"
              rows="3"
              ref="alamat"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" :disabled="disabled" class="btn btn-fill btn-primary shadow-none">
          <span v-if="disabled">
            Proses
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span v-else>Update Akun</span>
        </button>
      </div>
    </form>
  </card>
</template>

<script>
import {callapi} from "@/Api.js";
import { validasiEmail } from "@/function";

export default {
  data () {
    return {
      nama: '',
      telepon: '',
      email: '',
      alamat: '',
      disabled: false,
      has_number: false,
      has_lowercase: false,
      has_uppercase: false,
      has_special: false,
    }
  },
  mounted(){
    this.GetData();
  },
  methods: {
    submit() {
      if (this.nama == "") {
        alert("Silahkan lengkapi nama Anda!");
        this.$refs.name.focus();
        return false; 
      } else if (this.telepon == "") {
        alert("Silahkan telepon Anda!");
        this.$refs.telepon.focus();
        return false;
      } else if (!validasiEmail(this.email)) {
        alert("Email tidak valid, periksa kolom email!");
        this.$refs.email.focus();
        return false;
      } else if (this.alamat == "") {
        alert("Silahkan lengkapi alamat Anda!");
        this.$refs.alamat.focus();
        return false;
      }
      this.Simpan();
    },
    GetData() {
      callapi().then(kirim => {
        kirim.get(`account`)
        .then(res => {
          console.log(res);
          var respon = res.data.data
          this.nama = respon.nama;
          this.telepon = respon.notelp;
          this.email = respon.email;
          this.alamat = respon.alamat;
        })
        .catch(error => {
          console.log(error);
        });
      })
    },
    async Simpan() {
      this.disabled = true;
      let data = {
          nama : this.nama,
          notelp : this.telepon, 
          email : this.email,
          alamat : this.alamat, 
        }
      await this.timeout(400);
      callapi().then(kirim => {
        kirim.put(`account`, data)
        .then(res => {
          // console.log(res);
          this.notifku(true, 'Edit Profil Usaha');
          this.disabled = false;
          this.GetData();
        })
        .catch(error => {
          this.notifku(false, 'Edit Profil Usaha');
          this.disabled = true;
          console.log(error);
        });
      })
    },
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    notifku (status, message) {
    this.$notifications.notify(
      {
        message: `<span><b>${ status ? "Berhasil" : "Gagal" }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger"
      })
    },
    resetVal(){
      this.nama = "";
      this.telepon = ""; 
      this.email = "";
      this.alamat = "";
    }
  }
};
</script>

<style>
</style>