<template>
  <card class="mb-0 pr-0 pl-0 mt-1 mb-1" style="border: 0px;">
    <form v-on:submit.prevent="Simpan">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <label>Nama Bisnis</label>
            <input
              type="text"
              title
              v-model="namausaha"
              class="form-control shadow-none"
              placeholder="Masukkan Nama Bisnis Anda"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              ref="nama"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <label>No. Telepon Bisnis</label>
            <input
              type="number"
              title
              v-model="telepon"
              onkeypress="if(this.value.length==12) return false;"
              class="form-control shadow-none"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              placeholder="Nomor Telepon Bisnis"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="form-group">
            <label>Instagram (Opsional)</label>
            <input
              type="text"
              title
              v-model="instagram"
              class="form-control shadow-none"
              placeholder="@Nama Instagram Anda"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="form-group">
            <label>Pajak PPN %</label>
            <input
              type="number"
              title
              v-model="pajak"
              class="form-control shadow-none"
              placeholder="Pajak PPN %"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-2">
          <div class="form-group">
            <label>Status PPN</label>
            <br />
            <VueToggles
              @click="toggleppn = !toggleppn"
              :value="toggleppn"
              height="30"
              width="60"
              checkedText="On"
              uncheckedText="Off"
              checkedBg="#ff4757"
              uncheckedBg="lightgrey"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="form-group">
            <label>Voice Note</label>
            <input
              type="text"
              title
              v-model="voice"
              class="form-control shadow-none"
              placeholder="Pajak PPN %"
              oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
              oninput="setCustomValidity('')"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="form-group">
            <label>Status Voice</label>
            <br />
            <VueToggles
              @click="togglevoice = !togglevoice"
              :value="togglevoice"
              height="30"
              width="60"
              checkedText="On"
              uncheckedText="Off"
              checkedBg="#ff4757"
              uncheckedBg="lightgrey"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Alamat Bisnis</label>
            <textarea
              class="form-control shadow-none"
              v-model="alamat"
              placeholder="Masukkan Alamat Bisnis Anda"
              ref="alamat"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Banner Bisnis</label>
            <div v-if="resultURL == ''" class="text-center">
              <input
                @change="upload($event)"
                type="file"
                name="file"
                id="file"
                class="input-file"
                ref="banner"
              />
              <label for="file" class="btn btn-tertiary" style="width: 70%;">
                <i class="fa fa-upload"></i>
                <span>Pilih Gambar</span>
              </label>
            </div>
            <div v-else>
              <img
                class="rounded mx-auto d-block img-thumbnail"
                :src="resultURL"
              />
              <small class="btn-del pointer" @click="Delimg()">
                <i class="fa fa-trash"></i>
              </small>
            </div>

            <b-modal
              v-model="modalCrop"
              no-close-on-backdrop
              hide-header-close
              no-close-on-esc
              hide-footer
              title="Setting Gambar"
              class="p-0"
            >
              <clipper-basic class="my-clipper" ref="clipper" bg-color='rgba(0,0,0,0)' :ratio="4/2" :src="imgURL"></clipper-basic>
              <b-row>
                <b-col>
                  <b-button class="mt-3 shadow-none" block @click="getResult">Crop Gambar</b-button>
                </b-col>
                <b-col>
                  <b-button class="mt-3 shadow-none" block variant="danger" @click="close()">Batal</b-button>
                </b-col>
              </b-row>
            </b-modal>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" :disabled="disabled" class="btn btn-fill btn-primary shadow-none">
          <span v-if="disabled">
            Proses
            <i class="fa fa-spinner fa-pulse"></i>
          </span>
          <span v-else>Update Bisnis</span>
        </button>
      </div>
    </form>
  </card>
</template>

<script>
import Vue from 'vue'
import {callapi} from "@/Api.js";
import VuejsClipper from 'vuejs-clipper'
import VueToggles from 'vue-toggles';

Vue.component('VueToggles', VueToggles);

export default {
    data() {
    return {
      imgURL: '',
      resultURL: '',
      namausaha: '',
      telepon: '',
      instagram: '',
      alamat: '',
      email: '',
      pajak: '',
      voice: '',
      togglevoice: false,
      toggleppn: false,
      modalCrop: false,
      disabled: false,
    }
  },
  mounted() {
    this.GetData();
  },
  methods: {
    GetData(page) {
      callapi().then(kirim => {
        kirim.get(`mitra`)
        .then(res => {
          // console.log(res);
          var respon = res.data.data
          this.namausaha = respon.namausaha;
          this.telepon = respon.notelp
          this.instagram = respon.instagram
          this.alamat = respon.alamat
          this.pajak = respon.pajak.value
          this.voice = respon.voice.value
          var Api = 'https://server.mystoku.com/api/'
          this.resultURL = respon.banner
          if (respon.pajak.status == true) {
            this.toggleppn = true;
          } else {
            this.toggleppn = false;
          }
          if (respon.voice.status == true) {
            this.togglevoice = true;
          } else {
            this.togglevoice = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
      })
    },
    async Simpan() {
      if (this.alamat == '') {
        alert("Silahkan lengkapi alamat bisnis Anda!");
        this.$refs.alamat.focus();
        return false;
      } else if (this.resultURL == '') {
        alert("Silahkan lengkapi banner bisnis Anda!");
        return false;
      }
      this.disabled = true;
      let data = {
        namausaha: this.namausaha,
        instagram: this.instagram,
        alamat: this.alamat,
        notelp: this.telepon,
        banner: this.resultURL,
        pajak:{
          value: parseInt(this.pajak),
          status: this.toggleppn,
          },
        voice:{
          value: this.voice,
          status: this.togglevoice,
          }
        }
      // console.log(data);

      await this.timeout(400);
      callapi().then(kirim => {
        kirim.put(`mitra`, data)
        .then(res => {
          // console.log(res);
          this.notifku(true, 'Edit Profil Bisnis');
          this.disabled = false;
          this.GetData();
        })
        .catch(error => {
          this.notifku(false, 'Edit Profil Bisnis');
          this.disabled = true;
          console.log(error);
        });
      })
    },
    upload(e){
      console.log(e);
      if (e.target.files.length !== 0) {
        if(this.imgURL) URL.revokeObjectURL(this.imgURL)
        this.imgURL = window.URL.createObjectURL(e.target.files[0]);
        this.modalCrop = true;
      }
    },
    Delimg() {
      this.resultURL = '';
    },
    close() {
      this.imgURL = "";
      this.resultURL = "";
      this.modalCrop = false;
    },
    getResult: function () {
      let pixel = 450;
      const canvas = this.$refs.clipper.clip({ wPixel: pixel,  })
      this.resultURL = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
      console.log(this.resultURL);
      this.modalCrop = false;
    },
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    notifku (status, message) {
      this.$notifications.notify(
        {
          message: `<span><b>${ status ? "Berhasil" : "Gagal" }</b> ${message}</span>`,
          icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
          horizontalAlign: "right",
          verticalAlign: "top",
          type: status ? "success" : "danger"
        })
    }
  }
};
</script>
<style scoped>
.btn-del {
  text-align: center;
  float: right;
  margin-right: 275px;
  margin-top: -50px;
  position: relative;
  font-size: 14px;
  z-index: 2;
  background: #fff;
  padding: 4px 0px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vue-toggles {
  outline: none !important;
}
</style>
<style lang="scss" scoped>
.img-thumbnail {
  max-width: 100% !important;
}

@media (max-width: 1024px){
  .img-thumbnail {
    max-width: 100% !important;
  }
  .btn-del {
    margin-right: 120px;
  }
}

@media (max-width: 426px){
  .img-thumbnail {
    max-width: 100% !important;
  }
  .btn-del {
    margin-right: 20px;
  }
}
</style>