<template>
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="error-template text-center">
                <h1>404</h1>
                <p class="description">Not Found</p>
                <p class="desc-footer">&copy; All Rights Reserved by Mystoku &bull; 2020 </p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed');

.error-template {
  margin-top: 150px;
  text-align: center;
}

.error-template h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 250px !important;
}

.error-template .description {
  font-size: 32px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.error-template .desc-footer {
  font-size: 14px;
  color: #747d8c;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@media only screen and (max-width: 600px) {
  .error-template {
    margin-top: 50px;
    text-align: center;
  }
  .error-template h1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 80px !important;
  }

  .error-template .description {
    font-size: 24px;
  }
  .error-template .desc-footer {
    font-size: 12px;
  }
}
</style>

