<template>
    <!-- ping-url="https://server.mystoku.com" -->
  <v-offline
    online-class="online"
    offline-class="offline"
    @detected-condition="amIOnline">
    <template v-slot:[onlineSlot] :slot-name="onlineSlot">
        <!-- <a v-if="onLine == true" class="btn icon-btn btn-success" href="#"><span class="fa fa-check-circle img-circle text-muted" style="color:yellow !important"></span>Online</a>
        <a v-if="onLine == false" class="btn icon-btn btn-danger" href="#"><span class="fa fa-exclamation-circle img-circle text-muted" style="color:red !important"></span>Offline</a>
         -->
    </template>
    <template v-slot:[offlineSlot] :slot-name="offlineSlot">
        <!-- ( Online: {{ onLine }} ) -->
        <a v-if="onLine == false" class="btn icon-btn btn-danger" href="#"><span class="fa fa-exclamation-circle img-circle text-muted" style="color:red !important"></span>Offline</a>
        
        <!-- {{notifku(false, "Internet Terputus Periksa Koneksi Anda")}} -->
    </template>
  </v-offline>
</template>

<script>
import VOffline from 'v-offline';
import swal from "sweetalert";
export default {
    components: {
    VOffline
  },
  data: () => ({
    onLine: null,
    onlineSlot: 'online',
    offlineSlot: 'offline',
  }),
  methods: {
    amIOnline(e) {
      this.onLine = e;
      if (this.onLine == false) {
          swal({
            text: "Internet Terputus Periksa Koneksi Anda",
            title: "Error",
            icon: "warning",
            button: "OK",
          });
      }
    },
  },
}
</script>

<style scoped>
/* .offline {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
.online {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
} */
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
</style>