<template>
  <div class="content">
    <div class="container-fluid">
      <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
          <i
            class="text-white fa-2x"
            :class="isload ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'"
            @click="getDataTransaksi()"
          ></i>
        </div>
      </div>
      <div class="row">
        <div
          class="col-xl-3 col-md-6 col-sm-12 mb-3"
          v-for="(item, key) in datapesanan"
          :key="key"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-0 pr-0 pl-0 text-center box-shadow">
                    <div
                      class="card-header pb-2"
                      :class="
                        item.typeOrder === 'Dine In'
                          ? 'card-header2'
                          : 'card-header'
                      "
                    >
                      <div class="row" slot="header">
                        <div class="col-md-7">
                          <h5
                            class="card-title font-weight-bold text-left text-white"
                          >
                            {{ item.code }}
                          </h5>
                        </div>
                        <div class="col-md-5">
                          <h6>{{ countUpFromTime(item.createAt, key) }}</h6>
                          <span
                            class="timeel minutes text-center tx"
                            style="color: whitesmoke; font-weight: 900"
                            >{{ item.pajak }}</span
                          >
                        </div>
                      </div>
                    </div>
                    <h3 class="text-left mt-0 pr-3 pl-3 pt-2 font-500">
                      {{ item.typeOrder }}
                    </h3>
                    <h5 class="text-left pr-3 pl-3 font-500">
                      {{ item.nama_pembeli }}
                    </h5>
                    <hr />
                    <div class="scroll">
                      <div v-for="(group, nama) in groupBy(item, 'nama')" :key>
                        <side-bar-expand :title="nama" class="menu">
                          <!-- <h4 class="menu">{{ nama }}</h4> -->
                          <div
                            v-for="(items, id) in group"
                            :key="id"
                            class="row pr-3 pl-3 isi"
                          >
                            <div class="col-xl-6 col-md-6 pt-3">
                              <div class="form-group text-left">
                                <label class="font-500">{{
                                  items.datamenu.nama
                                }}</label>
                              </div>
                            </div>
                            <div class="col-xl-6 col-md-6 pt-3">
                              <div class="form-group text-right">
                                <label class="font-500">{{
                                  items.qty
                                }}</label>
                              </div>
                            </div>
                            <div class="col-xl-12 col-md-12 text-left">
                              <div class="form-group">
                                <h6 class="font-500 font-blue">
                                  "{{ items.note }}"
                                </h6>
                              </div>
                            </div>
                          </div>
                        </side-bar-expand>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="kosong" class="col-xl-12 col-md-12 col-sm-12 text-center">
          <i>
            <h5>Tidak ada data yang ditampilkan</h5>
          </i>
        </div>
      </div>
    </div>
    <footer-design>
      <div class="copyright txt text-center col-xl-3 col-md-4 col-sm-12">
        <h5>Total Order : {{ countapil }}</h5>
      </div>
      <div class="copyright col-xl-3 col-md-2 col-sm-12 ml-auto">
        <b-pagination
          :total-rows="countapil"
          v-model="currentPage"
          :per-page="perHalaman"
          @input="getDataTransaksi(currentPage)"
          align="right"
        ></b-pagination>
      </div>
    </footer-design>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import footerDesign from "../../../src/layout/Dapur/Footer.vue";
import SideBarExpand from "@/components/SidebarPlugin/SideBarExpand.vue";
export default {
  data() {
    return {
      loading: false,
      kosong: false,
      isActive: false,
      disabled: false,
      isload: false,
      countapil: 0,
      currentPage: 1,
      perHalaman: 8,
      datapesanan: [],
      itemMakanan: [],
      itemMinuman: [],
    };
  },
  mounted() {
    this.getDataTransaksi();
    this.launchFullScreen(document.documentElement);
  },
  beforeCreate: function () {
    if (!localStorage.getItem("code")) {
      this.$router.push("/kode");
    }
  },
  components: {
    footerDesign,
    SideBarExpand,
  },
  methods: {
    getDataTransaksi(page) {
      this.loading = true;
      this.isload = true;
      this.disabled = true;
      this.kosong = false;
      let n = this;

      var now = moment();
      var datamonth = moment(now).format("MM");
      var datayear = moment(now).format("YYYY");
      var jumlahHari = moment(
        datayear + "-" + datamonth,
        "YYYY-M"
      ).daysInMonth();
      if (jumlahHari.length === 1) {
        jumlahHari = 0 + jumlahHari;
      }
      // console.log(jumlahHari);
      let kode = JSON.parse(localStorage.getItem("code"));
      let data = {
        start: datayear + "-" + datamonth + "-01",
        end: datayear + "-" + datamonth + "-" + jumlahHari,
        code: kode.code,
      };
      axios
        .post(
          `https://server.mystoku.com/api/transaksi/laporan/usaha/harian?page=${
            page ? page : 1
          }&per_page=8`,
          data
        )
        .then((res) => {
          let isi = res.data.data;
          this.loading = false;
          this.isload = false;
          this.disabled = false;
          if (isi.length === 0) {
            this.kosong = true;
          } else {
            this.kosong = false;
          }
          // console.log("Detail "+isi.length);
          n.datapesanan = isi;
          n.countapil = parseInt(res.data.total);
          setTimeout(function(){
              n.getDataTransaksi();
          }, 3000);
        })
        .catch((error) => {
          // console.log(err);
          if (error == "Network Error" || error == "Error: Network Error") {
            n.getDataTransaksi();
          }
        });
    },
    countUpFromTime(countFrom, id) {
      let n = this;
      // console.log(countFrom);
      if (countFrom) {
        countFrom = new Date(countFrom).getTime();
        var now = new Date(),
          countFrom = new Date(countFrom),
          timeDifference = now - countFrom;

        // console.log(countFrom);
        var secondsInADay = 60 * 60 * 1000 * 24,
          secondsInAHour = 60 * 60 * 1000;

        let days = Math.floor((timeDifference / secondsInADay) * 1);
        let hours = Math.floor(
          ((timeDifference % secondsInADay) / secondsInAHour) * 1
        );
        let mins = Math.floor(
          (((timeDifference % secondsInADay) % secondsInAHour) / (60 * 1000)) *
            1
        );
        let secs = Math.floor(
          ((((timeDifference % secondsInADay) % secondsInAHour) % (60 * 1000)) /
            1000) *
            1
        );
        try {
          this.datapesanan[id].pajak = hours + ":" + mins + ":" + secs;
        } catch (error) {}

        setTimeout(function () {
          n.countUpFromTime(countFrom, id);
        }, 1000);
      }
    },
    groupBy(array, key) {
      // console.log("ini "+array.pembelian);
      // return false;
      if (array !== "") {
        const result = {};
        array.pembelian.forEach((items) => {
          if (!result[items.datamenu.kategori.headmenu[key]]) {
            result[items.datamenu.kategori.headmenu[key]] = [];
          }
          result[items.datamenu.kategori.headmenu[key]].push(items);
        });
        return result;
      }
      // item.pembelian[].datamenu.kategori.headmenu.nama
    },
    launchFullScreen(element) {
      if (element.requestFullScreen) {
        element.requestFullScreen();
      } else if (element.mozRequestFullScreen) {
        element.mozRequestFullScreen();
      } else if (element.webkitRequestFullScreen) {
        element.webkitRequestFullScreen();
      }
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.font-500 {
  font-weight: 900;
  color: black;
  font-family: "Raleway", sans-serif !important;
}
.font-blue {
  color: #5f00fb;
}
.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-notify {
  position: absolute;
  right: -10px;
  top: -20px;
  background: yellow;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}
.tx {
  margin: 5px;
  padding: 5px;
  background: #13131354;
  /* line-height: 5px; */
  height: 5px;
  font-size: 18px;
}
.menu {
  background-color: #cbe8ff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: auto;
  font-family: "Raleway", sans-serif !important;
}
.isi {
  background-color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: auto;
  font-family: "Raleway", sans-serif !important;
}
.card-header {
  background-color: #4ad700 !important;
  padding-bottom: 15px;
}

.card-header2 {
  background-color: #5f00fb !important;
  padding-bottom: 15px;
}

.bt {
  /* display:block; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.posisi {
  position: fixed;
  top: 100px;
  right: 38px;
}
@media (max-width: 425px) {
  .txt {
    display: none;
  }
}
.scroll {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card {
  height: 413px;
}
h5 {
  margin-bottom: 2px !important;
}
hr {
  margin-top: unset !important;
}
</style>
<style lang="scss" scoped>
.fa {
  text-align: center;
  display: inline-block;
  padding: 10px;
  width: auto !important;
}
</style>