<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <!-- <sidebar-link to="/admin/dashboard">
        <i class="nc-icon nc-grid-45"></i>
        <p>Dashboard</p>
      </sidebar-link> -->
      <side-bar-expand title="Produk" onPath="/admin" >
      <sidebar-link to="/admin/menu">
        <i class="nc-icon nc-grid-45"></i>
        <p>Daftar Menu</p>
      </sidebar-link>
      <sidebar-link to="/admin/bahan">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Daftar Bahan</p>
      </sidebar-link>
      <sidebar-link to="/admin/resep">
        <i class="nc-icon nc-notes"></i>
        <p>Daftar Resep</p>
      </sidebar-link>
      <sidebar-link to="/admin/kategori">
        <i class="nc-icon nc-bullet-list-67"></i>
        <p>Daftar Kategori</p>
      </sidebar-link>
      </side-bar-expand>

      <side-bar-expand title="Pergudangan">
      <sidebar-link to="/admin/bahan-masuk">
        <i class="nc-icon nc-delivery-fast"></i>
        <p>Bahan Masuk</p>
      </sidebar-link>
      <sidebar-link to="/admin/bahan-keluar">
        <i class="nc-icon nc-cart-simple"></i>
        <p>Bahan Keluar</p>
      </sidebar-link>
      </side-bar-expand>

      <!-- Bagian Dapur -->
      <!-- <side-bar-expand title="Dapur" onPath="/admin" >
      <sidebar-link to="/admin/dapur">
        <i class="nc-icon nc-app"></i>
        <p>Dapur</p>
      </sidebar-link>
      </side-bar-expand> -->

      <side-bar-expand title="Laporan">
      <sidebar-link to="/admin/laporan-penjualan">
        <i class="nc-icon nc-single-copy-04"></i>
        <p>Laporan Penjualan</p>
      </sidebar-link>
      <sidebar-link to="/admin/laporan-pendapatan">
        <i class="nc-icon nc-single-copy-04"></i>
        <p>Laporan Pendapatan</p>
      </sidebar-link>
      <!-- <sidebar-link to="/admin/maps">
        <i class="nc-icon nc-single-copy-04"></i>
        <p>Penjualan Produk</p>
      </sidebar-link> -->
      </side-bar-expand>

      <side-bar-expand title="Pengaturan">
      <sidebar-link to="/admin/manajemen-karyawan">
        <i class="nc-icon nc-circle-09"></i>
        <p>Manajemen Karyawan</p>
      </sidebar-link>
      <sidebar-link to="/admin/metode-pembayaran">
        <i class="nc-icon nc-money-coins"></i>
        <p>Metode Pembayaran</p>
      </sidebar-link>
      <sidebar-link to="/admin/setting">
        <i class="nc-icon nc-settings-gear-64"></i>
        <p>Pengaturan Akun</p>
      </sidebar-link>
      </side-bar-expand>

      <!-- <side-bar-expand title="Pelanggan">
      <sidebar-link to="/admin/pengaturan-user">
        <i class="nc-icon nc-circle-09"></i>
        <p>Daftar Pelanggan</p>
      </sidebar-link>
      </side-bar-expand> -->

    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style scoped>
.side-title {
  color: #1e272e;
  font-size: 15px;
}
</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  import SideBarExpand from "@/components/SidebarPlugin/SideBarExpand.vue";
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu,
      SideBarExpand
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
