<template>
  <ul class="nav nav-mobile-menu m-0 p-0">
    <li class="nav-item">
      <a class="nav-link" v-b-modal.modaltour @click="hideSidebar()">
        <span class="no-icon">Panduan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" @click="confirm()">
        <span class="no-icon">Keluar</span>
      </a>
    </li>
  </ul>
</template>
<script>
  export default {
    name: 'mobile-menu',
    methods: {
      confirm() {
        localStorage.clear()
        this.$router.push({ path: "/signin" });
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      },
    }
  }
</script>
<style>
</style>
