<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{user}}</a>
        <Internet class="mr-auto"></Internet>
        <button
          type="button"
          class="navbar-toggler navbar-toggler-right"
          :class="{toggled: $sidebar.showSidebar}"
          aria-controls="navigation-index"
          aria-expanded="false"
          aria-label="Toggle navigation"
          @click="toggleSidebar"
        >
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav ml-auto">
          <base-dropdown tag="li">
            <template slot="title">
              <i class="nc-icon nc-circle-09" style="font-size: 20px;"></i>
              <b class="caret"></b>
            </template>
            <a class="dropdown-item" href="#" @click="goprofile()">Profile</a>
            <a class="dropdown-item" href="#" v-b-modal.modaltour>Panduan</a>
          </base-dropdown>
            <li class="nav-item">
              <div class="nav-link" style="cursor: pointer;" @click="confirm()">Keluar</div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <b-modal id="modaltour" v-model="modaltour" size="xl" hide-footer centered>
      <card style="border: 0px;">
        <div class="col-xs-12">
        <b-row class="text-center">
          <b-col md="12">
            <h3 class="font-title">Selamat Datang Di Dashboard Mystoku</h3>
          </b-col>
          <b-col class="ml-auto pt-5 pb-5">
            <div class="row">
              <div class="col-sm btn-align-right sper">
                <b-button @click="hideModal('modaltour'),statusTour()" class="btn btn-fill btn-danger shadow-none btn-style pl-3">Nanti Saja</b-button>
              </div>
              <div class="col-sm btn-align-left sper">
                <b-button v-b-modal.tourisi @click="hideModal('modaltour')" class="btn btn-fill btn-primary shadow-none btn-style pr-3">Panduan</b-button>
              </div>
            </div>
          </b-col>
          <b-col md="12" class="responsive-pad" style="font-weight:400;">Ikuti tutorial berikut untuk memahami alur bisnis yang harus dilalui <br> dalam pengoperasian aplikasi</b-col>
          <b-col md="12" class="pt-4">
            <img src="/static/assets/images/logowarna.svg" class="responsive" alt="logo" style="width: 20%;" />
          </b-col>
        </b-row>
        </div>
      </card>
    </b-modal>
    <b-modal
      id="tourisi"
      size="xl"
      hide-footer
      hide-header
      centered
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
    >
      <!-- :hide-header-close="true" -->
      <div class="modal-header">
        <button
          type="button"
          style="outline: none !important;"
          class="close shadow-none"
          @click="Closemodal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <Tour ref="tour" />
    </b-modal>
  </div>
</template>
<script>
import Tour from "../components/Tour.vue";
import InternetCheck from '@/components/InternetCheck.vue'
import { callapi } from "@/Api.js";

export default {
  components: {
    Tour,
    "Internet" : InternetCheck,
  },
  computed: {
    routeName() {
      const { name } = this.$route;
      return this.capitalizeFirstLetter(name);
    }
  },
  mounted() {
    let IDnama = JSON.parse(localStorage.getItem("ID-Blast"));
    this.user = IDnama.nama;
    if (IDnama.tour === false) {
      this.hideModal('modaltour');
    }else{
      this.modaltour = true;
      this.hideSidebar();
    }
  },
  data() {
    return {
      modaltour: false,
      activeNotifications: false,
      user: '',
    };
  },
  methods: {
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    toggleNotificationDropDown() {
      this.activeNotifications = !this.activeNotifications;
    },
    closeDropDown() {
      this.activeNotifications = false;
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    hideSidebar() {
      this.$sidebar.displaySidebar(false);
    },
    hideModal(id) {
      this.$root.$emit("bv::hide::modal", id);
    },
    confirm() {
      localStorage.clear();
      this.$router.push({ path: "/signin" });
    },
    goprofile() {
      this.$router.push({ path: "/admin/setting" });
    },
    Closemodal(){
      this.$root.$emit("bv::hide::modal", 'tourisi');
      // this.$refs.tour.closeSteps();
    },
    statusTour(){
      let kirim; 
      let n = this;
      kirim = callapi().then(send =>{
        send.put(`account/disabledtour`);
      })
      kirim
        .then(res => {
          let local = localStorage.getItem("ID-Blast");
          local = JSON.parse(local);
          local.tour = false;
          localStorage.setItem("ID-Blast",JSON.stringify(local));
        })
        .catch(error => {
          // console.log(err);
          if (error == "Network Error" || error == "Error: Network Error") {
            n.statusTour();
          }
        });
    },
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.ico {
  height: 75%;
  width: auto;
}
.font-title{
  font-weight: 700;
}
.btn-style{
  height: 200%;
  width: 60%;
  font-weight: 700;
}
.btn-align-right{
  text-align: right !important;
}
.btn-align-left{
  text-align: left !important;
}
#tourisi{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.responsive-pad{
    padding-top: 3rem !important;
  }
@media screen and (max-width: 600px) {
  .responsive {
    width: 100%;
    height: auto;
  }
  .hided {
    display: none;
  }
  .btn-align-right{
    text-align: center !important;
    padding-bottom: inherit;
  }
  .btn-align-left{
    text-align: center !important;
    padding-top: inherit;
  }
  .btn-style{
    height: 100%;
    width: 60%;
    font-weight: 700;
  }
  .responsive-pad{
    padding-top: 0rem !important;
  }
  .sper{
    height: inherit;
    padding-bottom: 10px;
  }
}
</style>
<style lang="scss" scoped>

</style>
