.ct-legend {
    position: relative;
    list-style: none;
    text-align: center;
    z-index: 10;

    li {
        position: relative;
        padding-left: 23px;
        margin-bottom: 3px;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
    }

    li:before {
        width: 18px;
        height: 18px;
        position: absolute;
        margin-top: 4px;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;
    }

    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}