.table{

  .radio,
  .checkbox{
    position: relative;
    height: 20px;
    display: block;
    width: 20px;
    padding: 0px 0px;
    margin: 0px 5px;
    text-align: center;

    .icons{
      left: 5px;
    }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td{
    padding: 16px 8px;
    vertical-align: middle;
    border-top: 1px solid #e8e8e9;
    &:last-child {
      width: 100%;
    }
  }
  // tr:first-child th:first-child { border-top-left-radius: 10px; }
  // tr:first-child th:last-child { border-top-right-radius: 10px; }

  > thead > tr > th{
    border-bottom-width: 1px;
    font-size: 14px;
    text-transform: uppercase;
    color: #7f8c8d;
    font-weight: $font-weight-normal;
    padding-bottom: 10px;
    border-top: none !important;
    border-bottom: none;
    font-weight: 600;
    // background-color: #7f8c8d;
  }

  > thead > tr > th:hover{
    color: #007bff;
    cursor: pointer;
  }

  .td-actions .btn{
    @include opacity(0.36);

    &.btn-xs{
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  .td-actions{
    min-width: 90px;
  }

  > tbody > tr{
    position: relative;
    &:hover{
      .td-actions .btn{
        @include opacity(1);
      }
    }
  }

  .btn:focus{
    box-shadow: none !important;
  }
}

.table.table-sm {

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td{
    padding: 6px 6px;
  }

  > thead > tr > th,
  > thead > th {
    font-size: $font-size-small;
    padding-bottom: 3px;
  }

  > tbody > tr > td {
    font-size: $font-size-small;
  }
}

.table-upgrade{
  .table{
    tr{
      td{
        width: 100%
      }
    }
  }
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
background-color:#fafbfd; // Choose your own color here
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#f1f6ff;
}
