<template>
  <div class="row">
    <div class="col-md-12">
      <v-stepper :steps="steps" ref="stepper" v-model="step" width="100%"></v-stepper>
    </div>
    <template v-if="step === 1">
      <!-- Step 1 Content -->
      <card style="border: 0px;" class="mb-0">
      <div class="row">
        <div class="col-md-12 pt-3 pb-4 text-center">
          <p class="font-title">Pada daftar kategori merupakan halaman untuk mengelompokkan menu makanan</p>
          <!-- <span class="page-subtitle">Kategori untuk pengelompokan jenis pada menu</span> -->
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-xl-4 hilang col-md-12 text-center">
                  <card class="ml-2">
                    <img src="@/assets/images/tour2.png" class="responsive" alt />
                  </card>
                </div>
                <div class="col-xl-8 col-md-12">
                  <card>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Nama Kategori</label>
                          <input
                            type="text"
                            v-model="kategori"
                            placeholder="Nama Menu"
                            class="form-control"
                            oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                            oninput="setCustomValidity('')"
                            style="min-height:44px;"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group text-left">
                          <label>Jenis Menu</label>
                          <multiselect
                            v-model="selectedmenukategori"
                            deselect-label=""
                            selectLabel=""
                            track-by="nama"
                            label="nama"
                            placeholder="Pilih Tipe"
                            :options="Bahan"
                            :searchable="false"
                            :allow-empty="false"
                          ></multiselect>
                        </div>
                      </div>
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-fill btn-danger shadow-none" @click="resertValKategori()"
                        >Batal</button>
                        <button type="submit" class="btn btn-fill btn-primary shadow-none" :disabled="disabled" @click="simpanKategori()">
                          <span v-if="disabled">
                            <span class="spinner-border spinner-border-sm"></span>&nbsp; Loading..
                          </span>
                          <span v-else>Simpan</span>
                        </button>
                      </div>
                  </card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </card>
    </template>
    <template v-if="step === 2">
      <!-- Step 2 Content -->
      <card style="border: 0px;" class="mb-0">
        <div class="row">
          <div class="col-md-12 pt-3 pb-4 text-center">
            <p class="font-title">Pada daftar menu merupakan halaman untuk memanajemen menu yang ditampilkan pada menu Self-Service</p>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-xl-4 hilang col-md-12 text-center">
                    <card>
                      <img src="@/assets/images/tour1.png" alt class="responsive" />
                    </card>
                  </div>
                  <div class="col-xl-8 col-md-12">
                    <card>
                      <div class="row">
                        <div class="col-md-12">
                        <label>Gambar Menu</label>
                        <br />
                        <div v-if="resultURL == ''">
                          <input
                            @change="upload($event),isActive = false"
                            type="file"
                            name="file"
                            id="file"
                            class="input-file"
                            ref="banner"
                          />
                          <label for="file" class="btn btn-tertiary" style="width: 100%;">
                            <i class="fa fa-upload"></i>
                            <span>Pilih Gambar</span>
                          </label>
                        </div>
                        <div v-else>
                          <img class="rounded mx-auto d-block img-thumbnail" :src="resultURL" />
                          <small class="btn-del pointer" @click="Delimg()">
                            <i class="fa fa-trash"></i>
                          </small>
                        </div>
                        <div v-if="imgURL != ''" v-bind:class="{ activeShow: isActive }">
                          <clipper-basic class="my-clipper" ref="clipper" bg-color='rgba(0,0,0,0)' :ratio="4/2" :src="imgURL"></clipper-basic>
                          <b-button class="mt-3 shadow-none" block @click="getResult()">Crop Gambar</b-button>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Nama Menu</label>
                            <input
                              type="text"
                              v-model="menu"
                              placeholder="Nama Menu"
                              class="form-control"
                              style="min-height:44px;"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Nama Kategori</label>
                            <multiselect
                              v-model="selectedkategori"
                              deselect-label=""
                              selectLabel=""
                              track-by="nama"
                              label="nama"
                              placeholder="Pilih Kategori"
                              :options="optionskategoriMenu"
                              :searchable="false"
                              :allow-empty="false"
                            >></multiselect>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Harga</label>
                            <money v-model="harga" class="form-control" v-bind="money"></money>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Jenis</label>
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mb-2 mr-3" v-for="(item, key) in dataGambar" :key="key">
                              <button
                                type="button"
                                class="btnku btnku-labeled btn-fill btn-sm btn-outline-danger shadow-none"
                                @click="jenisAc(item.code,key)"
                                :class="{active: key === activeItem}"
                              >
                              <span class="btnku-label">
                                <img :src="require(`@/assets/images/menuIcon/${item.img}`)" style="height:25px;width:25px"
                                  />
                                </span>
                                {{ item.title }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Keterangan</label>
                            <textarea
                              rows="2"
                              wrap="soft"
                              class="form-control"
                              v-model="komposisi"
                              placeholder="Keterangan"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button
                          type="submit"
                          class="btn btn-fill btn-danger shadow-none"
                          @click="resertValMenu()"
                        >Batal</button>
                        <button
                          type="submit"
                          class="btn btn-fill btn-primary shadow-none"
                          :disabled="disabled"
                          @click="generateImage()"
                        >
                          <span v-if="disabled">
                            <span class="spinner-border spinner-border-sm"></span>&nbsp; Loading..
                          </span>
                          <span v-else>Simpan</span>
                        </button>
                      </div>
                    </card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </card>
    </template>
    <template v-if="step === 3">
      <!-- Step 3 Content -->
      <card style="border: 0px;" class="mb-0">
        <div class="row">
          <div class="col-md-12 pt-3 pb-4 text-center">
            <p class="font-title">Pada daftar bahan merupakan halaman untuk memanajemen bahan yang dipakai pada setiap menu</p>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-xl-4 hilang col-md-12 text-center">
                    <card>
                      <img src="@/assets/images/tour3.png" alt class="responsive" />
                    </card>
                  </div>
                  <div class="col-xl-8 col-md-12">
                    <card>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nama Bahan</label>
                            <input
                              type="text"
                              v-model="nama"
                              placeholder="Nama Bahan"
                              class="form-control"
                              style="min-height:44px;"
                            />
                          </div>
                          <div class="form-group">
                            <label>Tipe</label>
                            <multiselect
                              v-model="selectedtipe"
                              deselect-label=""
                              selectLabel=""
                              track-by="nama"
                              label="nama"
                              placeholder="Pilih Tipe"
                              :options="optionstipeBahan"
                              :searchable="false"
                              :allow-empty="false"
                            >></multiselect>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Unit Bahan</label> <br/>
                              <div class="btn-group mb-2">
                                <button type="button" class="btn btn-fill btn-secondary btn-sm shadow-none" v-bind:class="{ active: isActive1 }" @click="gantiUnit('barang')">Barang</button>
                                <button type="button" class="btn btn-fill btn-secondary btn-sm shadow-none" v-bind:class="{ active: isActive2 }" @click="gantiUnit('massa')">Massa</button>
                                <button type="button" class="btn btn-fill btn-secondary btn-sm shadow-none" v-bind:class="{ active: isActive3 }" @click="gantiUnit('volume')">Volume</button>
                              </div>
                              <multiselect
                                v-model="selectedunit"
                                deselect-label=""
                                selectLabel=""
                                track-by="id"
                                label="id"
                                placeholder="Pilih Salah Satu Unit"
                                :options="optionsBahan"
                                :searchable="false"
                                :allow-empty="false"
                              ></multiselect>
                          </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-fill btn-danger shadow-none" @click="resertValBahan()"
                        >Batal</button>
                        <button type="submit" class="btn btn-fill btn-primary shadow-none" :disabled="disabled" @click="simpanBahan()">
                          <span v-if="disabled">
                            <span class="spinner-border spinner-border-sm"></span>&nbsp; Loading..
                          </span>
                          <span v-else>Simpan</span>
                        </button>
                      </div>
                    </card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </card>
    </template>
    <template v-if="step === 4">
      <!-- Step 4 Content -->
      <card style="border: 0px;" class="mb-0">
        <div class="row">
          <div class="col-md-12 pt-3 pb-4 text-center">
            <p class="font-title">Pada daftar resep merupakan halaman untuk memanajemen resep yang digunakan untuk meracik menu</p>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-xl-4 hilang col-md-12 text-center">
                    <card>
                      <img src="@/assets/images/tour5.png" alt class="responsive" />
                    </card>
                  </div>
                  <div class="col-xl-8 col-md-12">
                    <card>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nama Resep</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="resep"
                              placeholder="Nama Resep"
                              style="min-height:44px;"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nama Menu</label>
                            <multiselect
                              v-model="selectedmenuResep"
                              deselect-label=""
                              track-by="nama"
                              label="nama"
                              placeholder="Pilih Menu"
                              :options="optionsmenu"
                              :searchable="false"
                              :allow-empty="false"
                            >></multiselect>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Detail Bahan</label>
                            <div class="card-body p-0">
                              <table class="table mb-0 table-responsive">
                                <thead>
                                  <tr>
                                    <th scope="col" class="border-0">ID</th>
                                    <th scope="col" class="border-0 text-left">Nama Bahan</th>
                                    <th scope="col" class="border-0">Qty</th>
                                    <th scope="col" colspan="2" class="border-0 text-center">Unit</th>
                                    <th scope="col" class="border-0">Aksi</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(item, key) in databahan" :key="key">
                                    <td width="5%">{{key+1}}</td>
                                    <td width="25%">
                                      <multiselect
                                        v-model="item.selectedbahan"
                                        deselect-label=""
                                        selectLabel=""
                                        :id="key"
                                        track-by="nama"
                                        label="nama"
                                        placeholder="Pilih Bahan"
                                        :options="optionsbahan"
                                        :allow-empty="false"
                                        @select="InsertUnit"
                                      >></multiselect>
                                    </td>
                                    <td width="15%">
                                      <b-input type="number" v-model="item.qty" placeholder="Qty" />
                                    </td>
                                    <td width="25%">
                                      <input
                                        type="text"
                                        v-model="item.satuan"
                                        class="form-control"
                                        placeholder="Satuan"
                                        disabled
                                      />
                                    </td>
                                    <td width="25%">
                                      <multiselect
                                        v-model="item.selectedunit"
                                        deselect-label=""
                                        selectLabel=""
                                        track-by="id"
                                        label="id"
                                        placeholder="Pilih Satuan"
                                        :options="item.optionsunit"
                                        :searchable="false"
                                        :allow-empty="false"
                                      >></multiselect>
                                    </td>
                                    <td width="10%">
                                      <button
                                        outline
                                        @click="HapusRow(item)"
                                        class="btn btn-fill btn-sm btn-danger shadow-none"
                                        :disabled="disabled==key?true:false"
                                        :ref="'hapus'+key"
                                      >
                                        <i class="fa fa-close"></i>
                                      </button>
                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <td colspan="6" class="text-left">
                                    <button class="btn btn-fill btn-sm btn-primary shadow-none"  @click="TambahRow()">
                                      <i class="fa fa-plus"></i> Tambah
                                    </button>
                                  </td>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-fill btn-danger shadow-none" @click="resertValResep()"
                        >Batal</button>
                        <button class="btn btn-fill btn-primary shadow-none" type="submit" :disabled="disabled" @click="simpanResep()">
                          <span v-if="disabled">
                            <span class="spinner-border spinner-border-sm"></span>&nbsp; Loading..
                          </span>
                          <span v-else>Simpan</span>
                        </button>
                      </div>
                    </card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </card>
    </template>
  </div>
</template>

<script>
import { VStepper } from "vue-stepper-component";
import swal from "sweetalert";

import Vue from "vue";
import { callapi } from "@/Api.js";
import Multiselect from "vue-multiselect";
import { debounce } from "@/function";
import _ from "lodash";
import {Money} from 'v-money'

export default {
  components: {
    Money,
    Multiselect,
    VStepper
  },
  async mounted() {
    await this.GetDataMenu();
    await this.GetDataMenuResep();
    await this.GetDataBahan();
    await this.GetDataKategori();
    await this.GetDataNamaKategori();
  },
  data() {
    return {
      steps: 4,
      step: undefined,
      disabled: false,

      // Kategori
      kategori: "",
      selectedmenukategori: "",

      // Menu
      resultURL: "",
      imgURL: "",

      menu: "",
      harga: 0,
      komposisi: "",
      selectedkategori: "",
      imageedit: null,
      optionskategoriMenu: [],
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' ',
        precision: 0,
        masked: false
      },
      dataGambar: [
        {
          title: "Makanan",
          img: "burger.png",
          code: "eat",
        },
        {
          title: "Minuman",
          img: "softdrink.png",
          code: "softdrink",
        },
        {
          title: "Snack",
          img: "snack.png",
          code: "snack",
        },
        {
          title: "Kopi",
          img: "kopi.png",
          code: "cofee",
        },
      ],
      jenis: "",
      activeItem: null,

      // Bahan
      isActive1: true,
      isActive2: false,
      isActive3: false,
      nama: "",
      selectedtipe: "",
      selectedunit: "",
      optionstipeBahan: [{ nama: "barang jadi" }, { nama: "barang mentah" }],
      optionsBahan:[{ id: "pcs" }],
      optionspilihan: [
        {nama : 'barang'},
        {nama : 'massa'},
        {nama : 'volume'},
      ],

      // Resep
      resep: "",
      selectedmenuResep: "",

      menu: "",
      Bahan: [],
      optionsmenu: [],
      optionspilihanResep:[],

      detailbahan: [],
      databahan: [
        {
          qty: "",
          selectedbahan: "",
          satuan: "",
          selectedunit: "",
          optionsunit: [],
        }
      ],
    };
  },
  methods: {
    // function Get Data
    GetDataMenu() {
      return new Promise((resolve,reject)=>{
        callapi().then(kirim =>{
          kirim.get(`headmenu?per_page=9999`)
          .then(response => {
            // console.log(response);
            this.options = response.data.data;
            resolve(true);
          })
          .catch(error => {
            console.log(error);
            reject(false);
          });
        })
      })
    },
    GetDataMenuResep() {
      return new Promise((resolve,reject)=>{
        callapi().then((kirim) => {
          kirim
            .get(`menu?per_page=9999`)
            .then((response) => {
              // console.log(response);
              this.optionsmenu = response.data.data;
              resolve(true);
            })
            .catch((error) => {
              // console.log(error);
              reject(false);
            });
        });
      });
    },
    GetDataBahan() {
      return new Promise((resolve,reject)=>{
        callapi().then((kirim) => {
          kirim
            .get(`bahan?per_page=9999`)
            .then((response) => {
              this.optionsbahan = response.data.data;
              resolve(true);
            })
            .catch((error) => {
              console.log(error);
              reject(false);
            });
        });
      })
    },
    GetDataKategori() {
      return new Promise((resolve,reject)=>{
        callapi().then(kirim =>{
          kirim.get(`headmenu?per_page=9999`)
          .then(response => {
            // console.log(response);
            this.Bahan = response.data.data;
            resolve(true);
          })
          .catch(error => {
            console.log(error);
            reject(false);
          });
        })
      })
    },
    GetDataNamaKategori() {
      return new Promise((resolve,reject)=>{
        callapi().then(kirim => {
          kirim
            .get(`kategori?per_page=9999`)
            .then(response => {
              // console.log(response);
              this.optionskategoriMenu = response.data.data;
              resolve(true);
            })
            .catch(error => {
              console.log(error);
              reject(false);
            });
        });
      });
    },

    // Function yang digunakan pada step Kategori
    simpanKategori() {
      if (!this.id) {
        if (this.selectedmenukategori == "" || this.kategori == "") {
          swal({
            text: "Data Belum Lengkap",
            title: "Lengkapi Data Anda",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          return false;
        }
      }
      let data = {
        idhead: this.selectedmenukategori.id,
        nama: this.kategori,
      };
      this.disabled = true;
      console.log(data);

      let kirim, message;
      
      kirim = callapi().then((send) => {
        send.post(`kategori`, data);
        message = "Lanjut ke tahap input menu";
      });

      kirim
        .then((res) => {
          this.GetDataNamaKategori();
          swal({
            text: message,
            title: "Simpan Kategori Berhasil...",
            icon: "success",
            buttons: "OK",
          });
          this.resertValKategori();
          this.$refs.stepper.next();
          this.disabled = false;
        })
        .catch((err) => {
          swal({
            text: message,
            title: "Gagal...",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          this.disabled = false;
          console.log(err);
        });
    },
    resertValKategori() {
      this.kategori = "";
      this.selectedmenukategori = "";
    },

    // Function yang digunakan pada step Menu
    kirimgambar(val) {
      this.disabled = true;
      let data = {
        file: val,
      };
      callapi().then((kirim) => {
        kirim
          .post(`uploadbase64/menu`, data)
          .then((res) => {
            // console.log(res.data.path);
            let dataimage = res.data.path;
            this.simpanMenu(dataimage);
          })
          .catch((err) => {
            console.log(err);
          });
      });
    },
    simpanMenu(val) {
      let data = {
        nama: this.menu,
        komposisi: this.komposisi,
        harga: parseInt(this.harga),
        idkategori: this.selectedkategori.id,
        jenis: this.jenis,
        gambar: val,
      };
      this.disabled = true;
      // console.log("Fix", data);

      let kirim, message;
      kirim = callapi().then((send) => {
        send.post(`menu`, data);
        message = "Lanjut Ke Tahap input Bahan";
      });
      
      kirim
        .then((res) => {
          // console.log(res);
          swal({
            text: message,
            title: "Simpan Menu Berhasil...",
            icon: "success",
            buttons: "OK",
          });
          this.disabled = false;
          this.$refs.stepper.next();
          this.resertVal();
        })
        .catch((err) => {
          swal({
            text: message,
            title: "Gagal...",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          this.resertVal();
          console.log(err);
        });
    },
    resertValMenu() {
      this.imageedit = "";
      this.resultURL = "";
      this.menu = "";
      this.harga = "";
      this.komposisi = "";
      this.selectedkategori = "";
      this.activeItem = null;
    },
    upload(e) {
      console.log(e);
      if (e.target.files.length !== 0) {
        if (this.imgURL) URL.revokeObjectURL(this.imgURL);
        this.imgURL = window.URL.createObjectURL(e.target.files[0]);
        // this.modalCrop = true;
      }
    },
    generateImage: function () {
      let url = this.resultURL;
      if (!url) {
        swal({
            text: "Data Belum Lengkap",
            title: "Gambar Harus di isi !",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
        return false;
      }
      if (
        this.menu == "" ||
        this.harga == "" ||
        this.komposisi == "" ||
        this.selectedkategori == ""
      ) {
        swal({
            text: "Data Belum Lengkap",
            title: "Lengkapi Data Anda",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
        return false;
      } else {
        this.kirimgambar(url);
      }
    },
    getResult: function () {
      let pixel = 450;
      const canvas = this.$refs.clipper.clip({ wPixel: pixel,  })
      this.resultURL = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
      this.isActive = true;
    },
    resertVal() {
      this.imageedit = "";
      this.menu = "";
      this.harga = "";
      this.komposisi = "";
      this.selectedkategori = "";
      this.jenis = "";
      this.activeItem = null;
      this.tambahdata = false;
      this.resultURL = "";
    },
    Delimg() {
      this.resultURL = "";
    },
    isValidUrl(string) {
      try {
        new URL(string);
      } catch (_) {
        return false;  
      }
      return true;
    },
    jenisAc(val, i, y) {
      this.jenis = val;
      this.activeItem = i;
      // console.log(this.jenis);
      if (y) {
        if (y === "eat") {
          this.activeItem = 0;
        } else if (y === "softdrink") {
          this.activeItem = 1;
        } else if (y === "snack") {
          this.activeItem = 2;
        } else {
          this.activeItem = 3;
        }
      }
    },

    // Function yang digunakan pada step Bahan
    simpanBahan() {
      if (
        this.selectedunit == "" ||
        this.selectedtipe == "" ||
        this.nama == ""
      ) {
        alert("Lengkapi Data Anda");
        return false;
      }
      let data = {
        nama: this.nama,
        tipe: this.selectedtipe.nama,
        unit: {
          code : this.selectedunit.id,
          satuan : this.satuan
        }
      };
      this.disabled = true;
      // console.log(data);

      let kirim, message;
      let n = this;
      kirim = callapi().then((send) => {
        send.post(`bahan`, data);
        message = "Lanjut ke tahap terakhir input resep";
      });
      kirim
        .then((res) => {
          // console.log(res);
          swal({
            text: message,
            title: "Simpan Bahan Berhasil...",
            icon: "success",
            button: "OK",
          });
          n.nextSteps();
          this.disabled = false;
          this.resertValBahan();
        })
        .catch((err) => {
          swal({
            text: message,
            title: "Gagal...",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          this.disabled = false;
          console.log(err);
        });
    },
    resertValBahan() {
      this.selectedunit = "";
      this.selectedtipe = "";
      this.nama = "";
    },
    gantiUnit(val) {
      if (val == 'massa') {
        this.satuan = 'massa';
        this.isActive1 = false;
        this.isActive2 = true;
        this.isActive3 = false;
        this.optionsBahan = [
          { id: "kg" },
          { id: "hg" },
          { id: "dag"},
          { id: "gr" },
          { id: "dg"},
          { id: "cg"},
          { id: "mg"}
        ]
      } else if (val == 'volume') {
        this.satuan = 'volume';
        this.isActive1 = false;
        this.isActive2 = false;
        this.isActive3 = true;
        this.optionsBahan = [
          { id: "kl" },
          { id: "hl" },
          { id: "dal"},
          { id: "lt" },
          { id: "dl"},
          { id: "cl"},
          { id: "ml"}
        ]
      } else if (val == 'barang') {
        this.satuan = 'barang';
        this.isActive1 = true;
        this.isActive2 = false;
        this.isActive3 = false;
        this.optionsBahan = [
          { id: "pcs" }
        ]
      }
    },
    async nextSteps(){
      await this.GetDataBahan();
      await this.timeout(100);
      // console.log('next fix');
      this.$refs.stepper.next();
      this.GetDataMenu();    
    },

    // Function yang digunakan pada step Resep
    simpanResep() {
        if (
          this.databahan[0].qty === "" ||
          this.databahan[0].selectedbahan === "" ||
          this.databahan[0].selectedunit === "" ||
          this.resep === "" ||
          this.selectedmenuResep === ""
        ) {
          swal({
            text: "Data Belum Lengkap",
            title: "Lengkapi Data Anda",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          return false;
        }
      let detail = [];
      this.databahan.forEach(data => {
        console.log(this.databahan);
        
        detail.push({
          idbahan: data.selectedbahan.id,
          qty: parseFloat(data.qty),
          unit: {
            code : data.selectedunit.id,
            satuan : data.satuan
          }
        });
      });
      let data = {
        nama: this.resep,
        idmenu: this.selectedmenuResep.id,
        listbahan: detail
      };
      this.disabled = true;
      // console.log(data);

      let kirim, message;
      kirim = callapi().then(send =>{
        send.post(`resep`, data);
        message = "Akhiri Panduan";
      })
      kirim
        .then(res => {
          // console.log(res);
          swal({
            text: message,
            title: "Simpan Resep Berhasil",
            icon: "success",
            button: "OK",
          });
          this.hideModal('tourisi')
          this.$refs.stepper.reset()
          this.disabled = false;
          this.resertVal();
          this.statusTour();
        })
        .catch(err => {
          swal({
            text: message,
            title: "Gagal...",
            icon: "error",
            buttons: false,
            timer: 2000,
          });
          this.disabled = false;
          console.log(err);
        });
    },
    statusTour(){
      let kirim ;
      let n = this;
      kirim = callapi().then(send =>{
        send.put(`account/disabledtour`);
      })
      kirim
        .then(res => {
          let local = localStorage.getItem("ID-Blast");
          local = JSON.parse(local);
          local.tour = false;
          localStorage.setItem("ID-Blast",JSON.stringify(local));
        })
        .catch(err => {
          // console.log(err);
          if (error == "Network Error" || error == "Error: Network Error") {
            n.statusTour();
          }
        });
    },
    resertValResep() {
      this.resep = "";
      this.selectedmenuResep = "";
      this.databahan = [
        {
          qty: "",
          selectedbahan: "",
          satuan: "",
          selectedunit: "",
          optionsunit: [],
        }
      ]
    },
    TambahRow() {
      this.databahan.push({
        qty: "",
        selectedbahan: "",
        selectedunit: "",
        satuan: "",
        optionsunit: [],
      });
    },
    HapusRow(index) {
      if (this.databahan.length > 1) {
        this.databahan.splice(index, 1);
      } else {
        this.databahan = [
          {
            qty: "",
            selectedbahan: "",
            selectedunit: "",
            satuan: "",
            optionsunit: [],
          },
        ];
      }
    },
    InsertUnit(data, id) {
      // console.log(data, id);
      this.databahan[id].satuan = data.unit.satuan;
      if (data.unit.satuan == 'massa') {
        this.databahan[id].optionsunit = [
          { id: "kg" },
          { id: "hg" },
          { id: "dag"},
          { id: "gr" },
          { id: "dg"},
          { id: "cg"},
          { id: "mg"}
        ]
      } else if (data.unit.satuan == 'volume') {
        this.databahan[id].optionsunit = [
          { id: "kl" },
          { id: "hl" },
          { id: "dal"},
          { id: "lt" },
          { id: "dl"},
          { id: "cl"},
          { id: "ml"}
        ]
      } else if (data.unit.satuan == 'barang') {
        this.databahan[id].optionsunit = [
          { id: "pcs" }
        ]
      }
      this.databahan[id].selectedunit = {id: data.unit.code}
    },

    // function Repeat call
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    hideModal (id) {
      this.$root.$emit('bv::hide::modal',id)
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.ml-2, .mx-2 {
  margin-left: 0px !important;
}
.btn-del {
  text-align: center;
  float: right;
  margin-right: 45px;
  margin-top: -50px;
  position: relative;
  font-size: 14px;
  z-index: 2;
  background: #fff;
  padding: 0px 0px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .ico {
  height: 75%;
  width: auto;
} */
.activeShow{
  display: none;
}
.font-title{
  font-size: 20px !important;
  font-weight: 600;
}
.btnku-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: whitesmoke;
  border-radius: 3px 0 0 3px;
}
.btnku-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btnku {
  margin-bottom: 10px;
  border: none;
  font-weight: 800;
}
.responsive {
  width: 75%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .responsive {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1024px){
  .hilang{
    display: none;
  }
}
</style>
<style lang="scss">
// .modal-dialog-centered{
//   margin-top: -150px !important;
// }
// @media (min-width: 576px){
//   .modal-dialog-centered {
//       min-height: calc(100% - 3.5rem);
//       margin-top: -150px !important;
//   }
// }
</style>