<template>
  <footer class="footer">
    <div class="container-fluid row">
      <div class="col-md-4 txt">
        <nav>
          <ul class="footer-menu">
            <li>
              <a href="https://www.dashboard.mystoku.com/">Mystoku Dashboard</a>
            </li>
          </ul>
        </nav>
      </div>
      <slot></slot>
      <!-- <div class="copyright text-center"> -->
        <!-- &copy; 2020 Mystoku -->
        <!-- <b-pagination
          class="mt-2"
          :total-rows="countapil"
          v-model="currentPage"
          :per-page="perHalaman"
          @input="GetData(currentPage)"
          align="right"
        ></b-pagination> -->
      <!-- </div> -->
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style scoped>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsla(0,0%,100%,.96);;
  color: #888;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.1);
}
@media (max-width: 425px){
  .txt{
    display: none;
  }
}
</style>