<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand ml-3" href="#">{{ user }}</a>
        <div class="justify-content-end">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="nav-link" style="cursor: pointer;" @click="keluar()">Keluar</div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: ""
    };
  },
  mounted() {
    let IDnama = JSON.parse(localStorage.getItem("code"));
    this.user = IDnama.namausaha;
  },
  methods:{
    keluar() {
      localStorage.clear();
      this.$router.push({ path: "/kode" });
    },
  }
};
</script>

<style>
.navbar {
  overflow: hidden;
  background-color: hsla(0,0%,100%,.96);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
  color: #888;
}
</style>
