<template>
<div>
      <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
              <div class="col-md-8">
                <div>
                  <h4 class="card-title m-0">Bahan Keluar</h4>
                  <p class="card-category">Bahan yang telah dikeluarkan untuk digunakan</p>
                </div>
              </div>
        </div>
      </div>
    </nav>
    <div class="content">
    <div class="container-fluid">
                <card style="border: 0px;">
            <div class="row">
              <div class="col-md-12">
                  <div class="pr-0 pl-0 table-responsive">
                    <div class="row">
                      <div class="col-md-4 col-sm-12">
                        <label>Cari</label>
                        <div class="form-group his-search">
                          <span class="fa fa-search form-control-feedback"></span>
                          <input v-model.trim="search" type="text" ref="search" class="form-control" placeholder="Cari" />
                        </div>
                      </div>
                    </div>
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th width="5%" class="text-center">ID</th>
                        <th @click="Sort('nama')" width="25%">Nama Bahan
                          <span>
                            <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                            </i>
                          </span>
                        </th>
                        <th width="20%">Qty Bahan</th>
                        <th width="20%">Tanggal Keluar</th>
                        <th width="30%" class="text-center">Keterangan</th>
                      </tr>
                    </thead>
                    <tbody v-if="loading == false">
                      <tr v-for="(item, key) in datakeluar" :key="key">
                        <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                        <td>{{item.nama}}</td>
                        <td>{{format_float(item.qty)}} {{item.unit.code}}</td>
                        <td>{{FormatTanggal(item.createAt)}}</td>
                        <td>
                          <textarea
                            class="form-control shadow-none"
                            placeholder="Masukkan Keterangan"
                            v-model="item.keterangan"
                            disabled
                            rows="1"
                          ></textarea>
                        </td>
                      </tr>
                    </tbody>
                    <tbody v-else-if="loading == true">
                      <tr>
                        <th colspan="5" class="text-center">
                          <div class="loader mt-2 mb-2"></div>
                        </th>
                      </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i><h5>Tidak ada data yang ditampilkan</h5></i>
                      </th>
                    </tr>
                  </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 v-if="!kosong">Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                  </div>
                  <div class="col-md-6">
                    <b-pagination
                      class="mt-2"
                      :total-rows="countapil"
                      v-model="currentPage"
                      :per-page="perHalaman"
                      @input="GetData(currentPage)"
                      align="right"
                    ></b-pagination>
                  </div>
                </div>
              </div>
            </div>
          </card>
    </div>
  </div>
</div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import moment from "moment";
import {callapi} from "@/Api.js";

export default {
  components: {
    
  },
  mounted() {
    this.GetData();
  },
  data() {
    return {
      search: '',
      Sortnama: 'asc',
      datakeluar: [],
      loading: false,
      kosong: false,
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
    };
  },
  watch: {
    search: _.debounce(function() {
      this.currentPage = 1;
      this.GetData();
    }, 500)
  },
  methods: {
    Sort(name) {
      var sort = '';
      if(name == 'nama') {
        this.Sortnama = this.Sortnama==='asc'?'desc':'asc';
        sort = this.Sortnama;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then(kirim => {
        kirim.get(`bahankeluar?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`)
        .then(response => {
          // console.log(response);
          this.loading = false;
          if (response.data.data.length == 0) {
            this.kosong = true
          } else {
            this.kosong = false
          }
          this.datakeluar = response.data.data;
          this.countapil = parseInt(response.data.total);
        })
        .catch(error => {
          n.loading = false;
          if (error == "Network Error" || error == "Error: Network Error") {
            n.GetData();
          }
          // console.log(error);
        });
      })
    },
    FormatTanggal(val) {
      return moment(val).format("DD-MM-YYYY");
    },
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    float_exponent(number) {
      var exponent = 1;
        while (number < 1.0) {
            exponent += 1
            number *= 10
        }
        return exponent;
    },
    format_float(number, extra_precision) {
      var precision = this.float_exponent(number) + (extra_precision || 0)
      return number.toFixed(precision).split(/\.?0+$/)[0]
    },
    Tambahdata() {
      this.tambahdata = true;
    },
    Closemodal() {
      this.tambahdata = false;
    }
  }
};
</script>
<style>

</style>