<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
              <div class="col-md-8">
                <div slot="header">
                  <h4 class="card-title m-0">Bahan Masuk</h4>
                  <p class="card-category">Bahan yang akan dimasukan dalam gudang</p>
                </div>
              </div>
              <div class="col-md-4 text-right">
                <button class="btn btn-danger btn-sm mt-2 shadow-none" @click="Tambahdata()">
                  <i class="fa fa-plus"></i> Tambah Data Baru
                </button>
              </div>
        </div>
      </div>
    </nav>
      <div class="content">
    <div class="container-fluid">
                <card style="border: 0px;">
            <div class="row" v-if="tablelist">
              <div class="col-md-12">
                <div class="pr-0 pl-0 table-responsive">
                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                      <label>Cari</label>
                      <div class="form-group his-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input v-model.trim="search" type="text" ref="search" class="form-control" placeholder="Cari" />
                      </div>
                    </div>
                  </div>
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th width="5%" class="text-center">ID</th>
                        <th @click="Sort('nama')" width="30%">Nama Bahan
                          <span>
                            <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                            </i>
                          </span>
                        </th>
                        <th width="15%">Qty</th>
                        <th width="20%" class="text-left">Harga</th>
                        <th @click="Sort('supplier')" width="30%">Nama Supplier
                          <span>
                            <i :class="[Sortsupplier ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                            </i>
                          </span>
                        </th>
                        <!-- <th scope="col" width="20%">Aksi</th> -->
                      </tr>
                    </thead>
                    <tbody v-if="loading == false">
                      <tr v-for="(item, key) in listdatamasuk" :key="key">
                        <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                        <td class="text-left">{{item.nama}}</td>
                        <td>{{item.qty}}</td>
                        <td class="text-left">{{toRupiah(item.totharga)}}</td>
                        <td>{{item.supplier}}</td>
                        <!-- <td>
                          <button
                            class="btn btn-fill btn-sm btn-warning shadow-none"
                            @click="Edit(item)"
                          ><i class="fa fa-pencil-square-o"></i> Edit
                          </button>&nbsp;
                          <button class="btn btn-fill btn-sm btn-danger shadow-none"
                            @click="Hapus(item)"
                          ><i class="fa fa-trash-o"></i> Hapus
                          </button>
                        </td> -->
                      </tr>
                    </tbody>
                    <tbody v-else-if="loading == true">
                      <tr>
                        <th colspan="5" class="text-center">
                          <div class="loader mt-2 mb-2"></div>
                        </th>
                      </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i><h5>Tidak ada data yang ditampilkan</h5></i>
                      </th>
                    </tr>
                  </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 v-if="!kosong">Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                  </div>
                  <div class="col-md-6">
                    <b-pagination
                      class="mt-2"
                      :total-rows="countapil"
                      v-model="currentPage"
                      :per-page="perHalaman"
                      @input="GetData(currentPage)"
                      align="right"
                    ></b-pagination>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="tambahdata">
              <div class="col-md-12 mt-1 mb-1">
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <card class="mb-0 pr-0 pl-0">
                      <h4 class="card-title mb-4">Tambah Data</h4>
                      <label>Nama Supplier</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Masukkan Nama Supplier"
                        oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                        oninput="setCustomValidity('')"
                        ref="supplier"
                        v-model="supplier"
                      />
                    </card>
                  </div>
                  <div class="col-md-12 col-lg-8 datamasuk">
                  <card class="pr-0 pl-0 table-responsive">
                    <table class="table">
                      <tbody v-if="loading == false">
                        <tr v-for="(item, key) in datamasuk" :key="key">
                          <th width="5%" class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                          <td width="35%" class="text-left">
                            <multiselect
                              v-model="item.selectedbahan"
                              deselect-label=""
                              selectLabel=""
                              track-by="nama"
                              label="nama"
                              :id="key"
                              placeholder="Pilih Nama Bahan"
                              :options="options"
                              :searchable="false"
                              :allow-empty="false"
                              @select="afterselect"
                            ></multiselect>
                          </td>
                          <td width="25%" class="text-center">
                            <button
                              class="btn btn-fill btn-sm btn-danger shadow-none oval"
                              @click="decrement(key)"
                            ><i class="fa fa-minus"></i>
                            </button>
                            <span class="mr-3 ml-3"><b>{{item.qty}}</b></span>
                            <button class="btn btn-fill btn-sm btn-success shadow-none oval"
                              @click="increment(key)"
                            ><i class="fa fa-plus"></i>
                            </button>
                          </td>
                          <td width="25%">
                            <money v-model="item.harga" @input="hitungJumlah(item, key)" class="form-control" v-bind="money"></money>
                          </td>
                          <td width="10%">
                            <button type="button" class="btn btn-fill btn-sm btn-danger shadow-none" @click="HapusRow(item)"
                              :disabled="disabled==key?true:false"
                              :ref="'hapus'+key"
                            ><i class="fa fa-times"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="text-right">
                            Subtotal
                          </td>
                          <td class="text-right"><b>{{toRupiah(total)}}</b></td>
                          <td style="color: #ffff">.</td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <button :disabled="buttonedit" class="btn btn-fill btn-success btn-sm shadow-none" @click="TambahRow()"><i class="fa fa-plus"></i> Tambah Transaksi</button>
                          </td>
                          <td colspan="2" class="text-right">
                          </td>
                          <td style="color: #ffff">.</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="text-right">
                      <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                      <button type="button" :disabled="disabled" class="btn btn-fill btn-primary shadow-none" @click="Simpan()">
                        <span v-if="disabled">Proses <i class="fa fa-spinner fa-pulse"></i></span>
                        <span v-else>Simpan</span>
                      </button>
                    </div>
                  </card>
                  </div>
                </div>
              </div>
            </div>
          </card>
      <b-modal
        v-model="modalhapus"
        hide-footer
        hide-header
      >
        <div class="modal-content" style="border: 0px;">
          <div class="modal-header">
            <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
            <button 
              type="button"
              style="outline: none !important;"
              class="close"
              @click="resertVal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mt-3">
            <h6 style="font-weight: 400 !important;">Apakah anda yakin, ingin menghapus data tersebut?</h6>
          <div class="text-right mt-4">
            <button type="button" class="btn btn-fill btn-danger btn-sm shadow-none" @click="resertVal()">Batal</button>
            <button type="button" class="btn btn-fill btn-primary btn-sm shadow-none" @click="Simpan()">Ya, Hapus</button>
          </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import {Money} from 'v-money'
import {callapi} from "@/Api.js";
import { convertToRupiah } from "@/function";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
    Money
  },
  computed: {
    subTotal: function() {
      let sub = 0;
      this.datamasuk.forEach(item => {
        sub = sub + item.jumlah;
      });
      return sub;
    },
    total: function() {
      return this.subTotal;
    },
  },
  mounted() {
    this.GetData();
    this.GetDataBahan();
  },
  data() {
    return {
      loading: false,
      kosong: false,
      disabled: false,
      modalhapus: false,
      tambahdata: false,
      buttonedit: false,
      tablelist: true,
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      Sortnama: 'asc',
      Sortsupplier: 'asc',
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' ',
        precision: 0,
        masked: false
      },
      datamasuk: [
        {
          qty: 0,
          selectedbahan: "",
          harga: 0,
          jumlah: 0,
          code: "",
          satuan: "",
        }
      ],
      search: "",
      supplier: "",
      id: "",
      listdatamasuk: [],
      options: [],
    };
  },
  watch: {
    search: _.debounce(function() {
      this.currentPage = 1;
      this.GetData();
    }, 500)
  },
  methods: {
    GetDataBahan() {
      this.loading = true;
      callapi().then(kirim =>{
        kirim.get(`bahan?per_page=9999`)
        .then(response => {
          // console.log(response);
          this.options = response.data.data;
        })
        .catch(error => {
          console.log(error);
          this.loading = false;
        });
      })
    },
    Sort(name) {
      var sort = '';
      if(name == 'nama') {
        this.Sortnama = this.Sortnama==='asc'?'desc':'asc';
        sort = this.Sortnama;
      } else if (name == 'supplier') {
        this.Sortsupplier = this.Sortsupplier==='asc'?'desc':'asc';
        sort = this.Sortsupplier;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then(kirim =>{
        kirim.get(`bahanmasuk?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`)
        .then(response => {
          // console.log(response);
          this.loading = false;
          if (response.data.data.length == 0) {
            this.kosong = true
          } else {
            this.kosong = false
          }
          this.listdatamasuk = response.data.data;
          this.countapil = parseInt(response.data.total);
        })
        .catch(error => {
          n.loading = true;
          if (error == "Network Error" || error == "Error: Network Error") {
            n.GetData();
          }
          // console.log(error);
        });
      })
    },
    async Simpan() {
      var details = [];
      let data = {};
      if (!this.id) {
        if (this.supplier == "") {
          this.$refs.supplier.focus();
          alert('Silahkan lengkapi data Anda!')
          return false;
        } else if (this.datamasuk[0].selectedbahan == "" || 
        this.datamasuk[0].harga == "" || 
        this.datamasuk[0].qty == "") {
          alert('Silahkan lengkapi data Anda!')
          return false;
        }
          this.datamasuk.map(item =>{
            console.log(item);
            let newItem = {};
            if (item) {
              newItem = {
                idbahan: item.selectedbahan.id,
                qty: parseInt(item.qty),
                totharga: parseInt(item.harga),
                unit: {
                  code: item.code,
                  satuan: item.satuan
                }
              }
            }
            details.push(newItem)
          })
          data = {
            supplier: this.supplier,
            bahan: details,
          };
      } else {
        data = {
          supplier: this.supplier,
          idbahan: this.datamasuk[0].selectedbahan.id,
          qty: parseInt(this.datamasuk[0].qty),
          totharga: parseInt(this.datamasuk[0].harga),
          unit:{
            code: this.datamasuk[0].code,
            satuan: this.datamasuk[0].satuan
          },
        };
      }
      this.disabled = true;
      // console.log(data);

      await this.timeout(400);
      let kirim, message
      if (this.id) {
        if (this.modalhapus) {
          kirim = callapi().then(send =>{
            send.delete(`bahanmasuk/${this.id}`);
            message = "Hapus Bahan Masuk";
          })
        } else {
          kirim = callapi().then(send =>{
            send.put(`bahanmasuk/${this.id}`, data);
            message = "Edit Bahan Masuk";
          })
        }
      } else {
        kirim = callapi().then(send =>{
          send.post(`bahanmasuk/many`, data);
          message = "Simpan Bahan Masuk";
        })
      }
      kirim
        .then(res => {
          // console.log(res);
          this.notifku(true, message);
          this.disabled = false;
          this.resertVal();
          this.GetData();
        })
        .catch(err => {
          this.notifku(false, message);
          this.disabled = false;
          console.log(err);
        });
    },
    resertVal() {
      this.modalhapus = false;
      this.tambahdata = false;
      this.buttonedit = false;
      this.tablelist = true;
      this.datamasuk= [{
          qty: 0,
          selectedbahan: "",
          harga: 0,
          jumlah: 0,
          code: "",
          satuan: "",
        }],
      this.search = "";
      this.id = "";
      this.supplier = "";
    },
    Edit(val) {
      console.log(val);
      var jumlahe = val.qty * val.totharga
      this.datamasuk= [{
          qty: val.qty,
          selectedbahan: {nama: val.nama, id: val.idbarang},
          harga: val.totharga,
          jumlah: jumlahe,
          code: val.unit.code,
          satuan: val.unit.satuan,
      }],
      this.supplier= val.supplier;
      this.id = val.id;
      this.tambahdata = true;
      this.tablelist = false;
      this.buttonedit = true;
    },
    Hapus(val) {
      this.modalhapus = true;
      this.id = val.id;
    },
    hitungJumlah(row, key) {
      // console.log(row);
      row.jumlah = row.qty * row.harga
    },
    increment(id) {
      this.datamasuk[id].qty++;
    },
    decrement(id) {
      if (this.datamasuk[id].qty === 0) {
        alert("Nilai negatif tidak diperbolehkan");
      } else {
        this.datamasuk[id].qty--;
      }
    },
    afterselect(data, id) {
      // console.log(row);
      this.datamasuk[id].code = data.unit.code;
      this.datamasuk[id].satuan = data.unit.satuan;
    },
    TambahRow() {
      this.datamasuk.push({
        qty: 0,
        selectedbahan: "",
        harga: 0,
        jumlah: 0,
        code: "",
        satuan: "",
      });
    },
    HapusRow(index) {
      if (this.datamasuk.length > 1) {
        this.datamasuk.splice(index, 1);
      } else {
        this.datamasuk = [
          {
            qty: 0,
            selectedbahan: "",
            harga: 0,
            jumlah: 0,
            code: "",
            satuan: "",
          }
        ];
      }
    },
    async Tambahdata() {
      this.tambahdata = true;
      this.tablelist = false;
      await this.timeout(300);
      this.$refs.supplier.focus();
    },
    toRupiah(val) {
      return convertToRupiah(val);
    },
    timeout(ms) {
      return new Promise(resolve => {
        window.setTimeout(resolve, ms);
      });
    },
    notifku (status, message) {
      this.$notifications.notify(
        {
          message: `<span><b>${ status ? "Berhasil" : "Gagal" }</b> ${message}</span>`,
          icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
          horizontalAlign: "right",
          verticalAlign: "top",
          type: status ? "success" : "danger"
        })
    }
  }
};
</script>
<style>
.oval {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  display: inline-flex;
}

@media screen and (max-width: 991px) { 
  .datamasuk {
    margin-top: 18px;
  }
}
</style>