<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title m-0">Bahan</h4>
            <p class="card-category">Kumpulan bahan makanan yang dapat diolah</p>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-sm mt-2 shadow-none" @click="Tambahdata()">
              <i class="fa fa-plus"></i> Tambah Data Baru
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row" v-if="tablelist">
            <div class="col-lg-12 col-md-12">
              <div class="pr-0 pl-0 table-responsive">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <label>Cari</label>
                    <div class="form-group his-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input
                        v-model.trim="search"
                        type="text"
                        ref="search"
                        class="form-control"
                        placeholder="Cari"
                      />
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="5%" class="text-center">ID</th>
                      <th @click="Sort('nama')" width="25%">
                        Nama Bahan
                        <span>
                          <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th @click="Sort('tipe')" width="25%">
                        Tipe Bahan
                        <span>
                          <i :class="[Sorttipe ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th @click="Sort('unit.code')" width="25%">
                        Satuan
                        <span>
                          <i
                            :class="[Sortsatuan ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"
                          ></i>
                        </span>
                      </th>
                      <th width="20%" class="text-center">Aksi</th>
                    </tr>
                  </thead>
                  <tbody v-if="loading == false">
                    <tr v-for="(item, key) in databahan" :key="key">
                      <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                      <td>{{item.nama}}</td>
                      <td>{{item.tipe}}</td>
                      <td>{{item.unit.code}}</td>
                      <td class="text-center">
                        <button
                          class="btn btn-fill btn-sm btn-warning shadow-none"
                          @click="Editing(item)"
                        >
                          <i class="fa fa-pencil-square-o"></i> Edit
                        </button>&nbsp;
                        <button
                          class="btn btn-fill btn-sm btn-danger shadow-none"
                          @click="Hapus(item)"
                        >
                          <i class="fa fa-trash-o"></i> Hapus
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else-if="loading == true">
                    <tr>
                      <th colspan="5" class="text-center">
                        <div class="loader mt-2 mb-2"></div>
                      </th>
                    </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i>
                          <h5>Tidak ada data yang ditampilkan</h5>
                        </i>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5
                    v-if="!kosong"
                  >Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                </div>
                <div class="col-md-6">
                  <b-pagination
                    class="mt-2"
                    :total-rows="countapil"
                    v-model="currentPage"
                    :per-page="perHalaman"
                    @input="GetData(currentPage)"
                    align="right"
                  ></b-pagination>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12 mt-1 mb-1">
              <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                <h4 class="card-title mb-4">Tambah Data</h4>
                <form v-on:submit.prevent="Simpan">
                  <div class="form-group">
                    <label>Nama Bahan</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Nama Bahan"
                      oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                      oninput="setCustomValidity('')"
                      ref="bahan"
                      v-model="nama"
                    />
                  </div>
                  <div class="form-group">
                    <label>Tipe Bahan</label>
                    <multiselect
                      v-model="selectedtipe"
                      deselect-label=" "
                      selectLabel=" "
                      track-by="nama"
                      label="nama"
                      placeholder="Pilih Salah Satu Tipe"
                      :options="optionstipe"
                      :searchable="false"
                      :allow-empty="false"
                    >></multiselect>
                  </div>
                  <div class="form-group">
                    <label>Satuan Bahan</label>
                    <br />
                    <div class="btn-group mb-2">
                      <button
                        type="button"
                        class="btn btn-fill btn-secondary btn-sm shadow-none"
                        v-bind:class="{ active: isActive1 }"
                        @click="gantiUnit('barang')"
                      >Barang</button>
                      <button
                        type="button"
                        class="btn btn-fill btn-secondary btn-sm shadow-none"
                        v-bind:class="{ active: isActive2 }"
                        @click="gantiUnit('massa')"
                      >Massa</button>
                      <button
                        type="button"
                        class="btn btn-fill btn-secondary btn-sm shadow-none"
                        v-bind:class="{ active: isActive3 }"
                        @click="gantiUnit('volume')"
                      >Volume</button>
                    </div>
                    <multiselect
                      v-model="selectedunit"
                      deselect-label
                      selectLabel
                      track-by="id"
                      label="id"
                      placeholder="Pilih Salah Satu Satuan"
                      :options="options"
                      :searchable="false"
                      :allow-empty="false"
                    >></multiselect>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                    <button
                      type="submit"
                      :disabled="disabled"
                      class="btn btn-fill btn-primary shadow-none"
                    >
                      <span v-if="disabled">
                        Proses
                        <i class="fa fa-spinner fa-pulse"></i>
                      </span>
                      <span v-else>Simpan</span>
                    </button>
                  </div>
                </form>
              </card>
            </div>
          </div>
        </card>
        <b-modal v-model="modalhapus" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin menghapus data tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="Simpan()"
                >Ya, Hapus</button>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import LTable from "@/components/Table.vue";
import { callapi } from "@/Api.js";
import Multiselect from "vue-multiselect";

export default {
  name: "Bahan",
  components: {
    Multiselect,
    LTable,
  },
  data() {
    return {
      tambahdata: false,
      tablelist: true,
      loading: false,
      disabled: false,
      kosong: false,
      modalhapus: false,
      isActive1: false,
      isActive2: false,
      isActive3: false,
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      Sortnama: "asc",
      Sorttipe: "asc",
      Sortsatuan: "asc",
      selectedunit: "",
      selectedtipe: "",
      search: "",
      satuan: "",
      nama: "",
      id: "",
      databahan: [],
      optionstipe: [{ nama: "barang jadi" }, { nama: "barang mentah" }],
      options: [],
    };
  },
  mounted() {
    this.GetData();
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.GetData();
    }, 500),
  },
  methods: {
    Sort(name) {
      var sort = "";
      if (name == "nama") {
        this.Sortnama = this.Sortnama === "asc" ? "desc" : "asc";
        sort = this.Sortnama;
      } else if (name == "tipe") {
        this.Sorttipe = this.Sorttipe === "asc" ? "desc" : "asc";
        sort = this.Sorttipe;
      } else if (name == "unit.code") {
        this.Sortsatuan = this.Sortsatuan === "asc" ? "desc" : "asc";
        sort = this.Sortsatuan;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then((kirim) => {
        kirim
          .get(
            `bahan?page=${page ? page : 1}&filter=${
              this.search
            }&sort=${name}|${sort}`
          )
          .then((response) => {
            // console.log(response);
            this.loading = false;
            if (response.data.data.length == 0) {
              this.kosong = true;
            } else {
              this.kosong = false;
            }
            this.databahan = response.data.data;
            this.countapil = parseInt(response.data.total);
          })
          .catch((error) => {
            n.loading = true;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
            // console.log(error);
          });
      });
    },
    async Simpan() {
      if (!this.id) {
        if (this.selectedunit == "" || this.selectedtipe == "") {
          alert("Silahkan lengkapi data Anda!");
          return false;
        } else if (this.nama == "") {
          this.$refs.bahan.focus();
          alert("Silahkan lengkapi data Anda!");
          return false;
        }
      }
      let data = {
        nama: this.nama,
        tipe: this.selectedtipe.nama,
        unit: {
          code: this.selectedunit.id,
          satuan: this.satuan,
        },
      };
      this.disabled = true;
      // console.log(data);

      await this.timeout(400);
      let kirim, message;
      if (this.id) {
        if (this.modalhapus) {
          kirim = callapi().then((send) => {
            send.delete(`bahan/${this.id}`);
            message = "Hapus Bahan";
          });
        } else {
          kirim = callapi().then((send) => {
            send.put(`bahan/${this.id}`, data);
            message = "Edit Bahan";
          });
        }
      } else {
        kirim = callapi().then((send) => {
          send.post(`bahan`, data);
          message = "Simpan Bahan";
        });
      }
      kirim
        .then((res) => {
          // console.log(res);
          this.notifku(true, message);
          this.disabled = false;
          this.GetData();
          this.resertVal();
        })
        .catch((err) => {
          this.notifku(false, message);
          this.disabled = false;
          console.log(err);
        });
    },
    gantiUnit(val) {
      if (val == "massa") {
        this.satuan = "massa";
        this.isActive1 = false;
        this.isActive2 = true;
        this.isActive3 = false;
        this.options = [
          { id: "kg" },
          { id: "hg" },
          { id: "dag" },
          { id: "gr" },
          { id: "dg" },
          { id: "cg" },
          { id: "mg" },
        ];
      } else if (val == "volume") {
        this.satuan = "volume";
        this.isActive1 = false;
        this.isActive2 = false;
        this.isActive3 = true;
        this.options = [
          { id: "kl" },
          { id: "hl" },
          { id: "dal" },
          { id: "lt" },
          { id: "dl" },
          { id: "cl" },
          { id: "ml" },
        ];
      } else if (val == "barang") {
        this.satuan = "barang";
        this.isActive1 = true;
        this.isActive2 = false;
        this.isActive3 = false;
        this.options = [{ id: "pcs" }];
      }
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    Editing(val) {
      if (val.unit.satuan == "massa") {
        this.options = [
          { id: "kg" },
          { id: "hg" },
          { id: "dag" },
          { id: "gr" },
          { id: "dg" },
          { id: "cg" },
          { id: "mg" },
        ];
        this.isActive1 = false;
        this.isActive2 = true;
        this.isActive3 = false;
      } else if (val.unit.satuan == "volume") {
        this.options = [
          { id: "kl" },
          { id: "hl" },
          { id: "dal" },
          { id: "lt" },
          { id: "dl" },
          { id: "cl" },
          { id: "ml" },
        ];
        this.isActive1 = false;
        this.isActive2 = false;
        this.isActive3 = true;
      } else if (val.unit.satuan == "barang") {
        this.options = [{ id: "pcs" }];
        this.isActive1 = true;
        this.isActive2 = false;
        this.isActive3 = false;
      }

      this.selectedtipe = { nama: val.tipe };
      this.selectedunit = { id: val.unit.code };
      this.id = val.id;
      this.nama = val.nama;
      this.tambahdata = true;
      this.tablelist = false;
    },
    Hapus(val) {
      console.log(val);
      this.modalhapus = true;
      this.id = val.id;
    },
    resertVal() {
      this.tablelist = true;
      this.tambahdata = false;
      this.modalhapus = false;
      (this.isActive1 = false),
        (this.isActive2 = false),
        (this.isActive3 = false),
        (this.selectedunit = "");
      this.selectedtipe = "";
      this.satuan = "";
      this.nama = "";
      this.id = "";
    },
    async Tambahdata() {
      (this.isActive1 = true), (this.satuan = "barang");
      this.options = [{ id: "pcs" }];
      this.tambahdata = true;
      this.tablelist = false;
      await this.timeout(300);
      this.$refs.bahan.focus();
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    },
  },
};
</script>
<style scoped>
</style>