<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4 class="card-title m-0">Kategori</h4>
              <p class="card-category">Kategori untuk pengelompokan jenis pada menu</p>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-sm mt-2 shadow-none" @click="Tambahdata()">
              <i class="fa fa-plus"></i> Tambah Data Baru
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row" v-if="tablelist">
            <div class="col-md-12">
              <div class="pr-0 pl-0 table-responsive">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <label>Cari</label>
                    <div class="form-group his-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input
                        v-model.trim="search"
                        type="text"
                        ref="search"
                        class="form-control"
                        placeholder="Cari"
                      />
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="5%" class="text-center">ID</th>
                      <th @click="Sort('nama')" width="35%">Nama Kategori
                        <span>
                          <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                          </i>
                        </span>
                      </th>
                      <th @click="Sort('headmenu.nama')" width="30%">Nama Menu
                        <span>
                          <i :class="[Sortmenu ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                          </i>
                        </span>
                      </th>
                      <!-- <th width="25%">Kode Icon</th> -->
                      <th width="25%">Aksi</th>
                    </tr>
                  </thead>
                  <tbody v-if="loading == false">
                    <tr v-for="(item, key) in datakategori" :key="key">
                      <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                      <td>{{item.nama}}</td>
                      <td>{{item.headmenu.nama}}</td>
                      <!-- <td>{{item.icon}}</td> -->
                      <td class="text-center">
                        <button
                          class="btn btn-fill btn-sm btn-warning shadow-none"
                          @click="Edit(item)"
                        >
                          <i class="fa fa-pencil-square-o"></i> Edit
                        </button>&nbsp;
                        <button
                          class="btn btn-fill btn-sm btn-danger shadow-none"
                          @click="Hapus(item)"
                        >
                          <i class="fa fa-trash-o"></i> Hapus
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else-if="loading == true">
                    <tr>
                      <th colspan="5" class="text-center">
                        <div class="loader mt-2 mb-2"></div>
                      </th>
                    </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i>
                          <h5>Tidak ada data yang ditampilkan</h5>
                        </i>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5
                    v-if="!kosong"
                  >Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                </div>
                <div class="col-md-6">
                  <b-pagination
                    class="mt-2"
                    :total-rows="countapil"
                    v-model="currentPage"
                    :per-page="perHalaman"
                    @input="GetData(currentPage)"
                    align="right"
                  ></b-pagination>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12 mt-1 mb-1">
              <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                <h4 class="card-title mb-4">Tambah Data</h4>
                <form v-on:submit.prevent="Simpan">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Nama Kategori</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Masukkan Nama Kategori"
                          oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                          oninput="setCustomValidity('')"
                          ref="kategori"
                          v-model="kategori"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Jenis Kategori</label>
                        <multiselect
                          v-model="selectedmenu"
                          deselect-label
                          selectLabel=" "
                          track-by="nama"
                          label="nama"
                          placeholder="Pilih Salah Satu Menu"
                          :options="options"
                          :searchable="false"
                          :allow-empty="false"
                        ></multiselect>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                    <button
                      type="submit"
                      :disabled="disabled"
                      class="btn btn-fill btn-primary shadow-none"
                    >
                      <span v-if="disabled">
                        Proses
                        <i class="fa fa-spinner fa-pulse"></i>
                      </span>
                      <span v-else>Simpan</span>
                    </button>
                  </div>
                </form>
              </card>
            </div>
          </div>
        </card>
        <b-modal v-model="modalhapus" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin menghapus data tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="Simpan()"
                >Ya, Hapus</button>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import { callapi } from "@/Api.js";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  mounted() {
    this.GetData();
    this.GetDataMenu();
  },
  data() {
    return {
      tambahdata: false,
      loading: true,
      disabled: false,
      modalhapus: false,
      tablelist: true,
      kosong: false,
      datakategori: [],
      options: [],
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      Sortnama: "asc",
      Sortmenu: "asc",
      selectedmenu: "",
      kategori: "",
      search: "",
      id: "",
    };
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.GetData();
    }, 500),
  },
  methods: {
    GetDataMenu() {
      this.loading = true;
      callapi().then((kirim) => {
        kirim
          .get(`headmenu?per_page=9999`)
          .then((response) => {
            // console.log(response);
            this.options = response.data.data;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
          });
      });
    },
    Sort(name) {
      var sort = '';
      if(name == 'nama') {
        this.Sortnama = this.Sortnama==='asc'?'desc':'asc';
        sort = this.Sortnama;
      } else if (name == 'headmenu.nama') {
        this.Sortmenu = this.Sortmenu==='asc'?'desc':'asc';
        sort = this.Sortmenu;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then((kirim) => {
        kirim
          .get(`kategori?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`)
          .then((response) => {
            // console.log("response Ada");
            this.loading = false;
            if (response.data.data.length == 0) {
              this.kosong = true;
            } else {
              this.kosong = false;
            }
            this.datakategori = response.data.data;
            this.countapil = parseInt(response.data.total);
          })
          .catch(function (error) {
            n.loading = true;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
          });
      });
    },
    async Simpan() {
      if (!this.id) {
        if (this.selectedmenu == "") {
          alert("Silahkan lengkapi data Anda!");
          return false;
        } else if (this.kategori == "") {
          this.$refs.kategori.focus();
          alert("Silahkan lengkapi data Anda!");
          return false;
        }
      }
      let data = {
        nama: this.kategori,
        idhead: this.selectedmenu.id,
      };
      this.disabled = true;
      // console.log(data);

      await this.timeout(400);
      let kirim, message;
      if (this.id) {
        if (this.modalhapus) {
          kirim = callapi().then((send) => {
            send.delete(`kategori/${this.id}`);
            message = "Hapus Kategori";
          });
        } else {
          kirim = callapi().then((send) => {
            send.put(`kategori/${this.id}`, data);
            message = "Edit Kategori";
          });
        }
      } else {
        kirim = callapi().then((send) => {
          send.post(`kategori`, data);
          message = "Simpan Kategori";
        });
      }
      kirim
        .then((res) => {
          // console.log(res);
          this.notifku(true, message);
          this.disabled = false;
          this.resertVal();
          this.GetData();
        })
        .catch((err) => {
          this.notifku(false, message);
          this.disabled = true;
          console.log(err);
        });
    },
    resertVal() {
      this.tambahdata = false;
      this.tablelist = true;
      this.modalhapus = false;
      this.id = "";
      this.kategori = "";
      this.selectedmenu = "";
    },
    Edit(val) {
      this.tambahdata = true;
      this.tablelist = false;
      this.id = val.id;
      this.kategori = val.nama;
      this.selectedmenu = { nama: val.headmenu.nama, id: val.headmenu.id };
    },
    Hapus(val) {
      this.modalhapus = true;
      this.id = val.id;
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    async Tambahdata() {
      this.tambahdata = true;
      this.tablelist = false;
      await this.timeout(300);
      this.$refs.kategori.focus();
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    },
  },
};
</script>
<style>
</style>