<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                    <h4 class="card-title mb-2">Laporan</h4>
                    <div class="row">
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Periode Tanggal</label>
                          <br />
                          <v2-datepicker-range
                            placeholder="Tempo Pembayaran"
                            format="DD-MM-YYYY"
                            v-model="tglTrx"
                            lang="en"
                            range-separator=" s/d "
                            :picker-options="pickerOptions"
                          >
                          </v2-datepicker-range>
                        </div>
                    <div class="text-right">
                      <button type="button" :disabled="disabled" class="btn btn-sm btn-fill btn-primary shadow-none" @click="Showchart()">
                        <span v-if="disabled">Proses <i class="fa fa-spinner fa-pulse"></i></span>
                        <span v-else>Lihat Laporan</span>
                      </button>
                    </div>
                      </div>
                    </div>
                  </card>
                </div>
              </div>
              <div class="row text-center" v-if="loading">
                <div class="col-md-12">
                  <div class="loader mt-2 mb-2"></div>
                </div>
              </div>
                <div class="row mt-4" v-if="chartlist">
                  <div class="col-md-12">
                    <chart-card
                      style="border: 0px; padding-bottom: 20px;"
                      ref="chartLine"
                      :chart-data="lineChart.data"
                      :chart-options="lineChart.options"
                      :responsive-options="lineChart.responsiveOptions"
                    >
                    <template slot="header">
                      <div class="row">
                        <div class="col-md-8">
                          <h4 class="card-title">Statistik Laporan Pendapatan</h4>
                          <p class="card-category">Periode {{formatDate(tglTrx[0])}} / {{formatDate(tglTrx[1])}}</p>
                        </div>
                        <div class="col-md-4 text-right">
                          <button
                            type="button"
                            :disabled="disabled1"
                            class="btn btn-fill btn-sm btn-primary shadow-none"
                            @click="Cetaklaporan()"
                          > Download Laporan
                            <!-- <span v-if="disabled1">
                              Proses
                              <i class="fa fa-spinner fa-pulse"></i>
                            </span>
                            <span v-else>Download Laporan</span> -->
                          </button>
                        </div>
                      </div>
                    </template>
                  </chart-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";
import ChartCard from "@/components/Cards/ChartCard.vue";
import StatsCard from "@/components/Cards/StatsCard.vue";
import V2Datepicker from "v2-datepicker";
import { callapi } from "@/Api.js";
import Chartist from "chartist";
Vue.use(V2Datepicker);
require('chartist-plugin-legend');

export default {
    components: {
    ChartCard,
    StatsCard,
  },
  mounted() {
    let Code = JSON.parse(localStorage.getItem("ID-Blast"));
    this.code = Code.code;
    // console.log(this.code);
  },
  data() {
    return {
      disabled: false,
      disabled1: true,
      chartlist: false,
      loading: false,
      code: "",
      tglTrx: [moment().format("YYYY-MM-DD"), moment().format("YYYY-MM-DD")],
      lineChart: {
        data: {
          labels: [],
          series: [],
        },
        options: {
          low: 0,
          high: null,
          showArea: false,
          height: "250px",
          axisX: {
            showGrid: true,
          },
          lineSmooth: true,
          showLine: true,
          showPoint: true,
          fullWidth: true,
          chartPadding: {
            right: 30,
            left: 30,
          },
          plugins: [
            Chartist.plugins.legend({
            })
          ]
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0];
                },
              },
            },
          ],
        ],
      },
      pickerOptions: {
        shortcuts: [{
          text: 'Hari Ini',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              picker.$emit('pick', [start, end]);
          }
        }, {
          text: 'Kemarin',
          onClick (picker) {
              const end = moment().subtract(1, 'days');
              const start = moment().subtract(1, 'days');
              picker.$emit('pick', [start._d, end._d]);
          }
        }, {
          text: '7 Hari Terakhir',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
              picker.$emit('pick', [start, end]);
          }
        }, {
          text: '30 Hari Terakhir',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              console.log(start);
              picker.$emit('pick', [start, end]);
          }
        },
        {
          text: 'Bulan Ini',
          onClick (picker) {
              const start = moment().startOf('month')
              const end = moment().endOf('month')
              picker.$emit('pick', [start._d, end._d]);
          }
        },{
          text: 'Bulan Lalu',
          onClick (picker) {
              const start = moment().subtract(1, 'month').startOf('month')
              const end = moment().subtract(1, 'month').endOf('month')
              picker.$emit('pick', [start._d, end._d]);
          }
        }
        ]
      },
    }
  },
  methods: {
    async Showchart() {
      let n = this;
      this.loading = true;
      this.disabled = true;
      this.chartlist = false;
      await this.timeout(400);
      if (this.selectedkasir == "") {
        alert("Silahkan lengkapi data Anda!");
        return false;
      }
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      // console.log(date1);
      var datalap = {
        start: date1,
        end: date2,
        code: this.code
      }
      callapi().then((send) => {
        send.post(`transaksi/laporan/kasir/all`, datalap)
          .then((res) => {
            console.log(res);
            this.disabled = false;
            this.loading = false;
            var respon = res.data.data.chart;
            console.log(res.data.data.label);
            var arr = [];
            respon.forEach(item => {
              arr.push(item.data);
            })
            console.log(arr);
            var maxPeak = arr.reduce((p, c) => p > c ? p : c);
            var max = Math.max.apply(null, maxPeak);
            this.lineChart.options.high = max;
            // console.log(max);
            this.lineChart.data.series = respon
            this.lineChart.data.labels = res.data.data.label;
            // if (res.data.data.chart.label == null) {
            //   this.lineChart.options.high = 100;
            //   this.lineChart.data.labels = ["0"];
            //   this.lineChart.data.series = [[100]];
            // } else {
            //   var datamax = respon.data;
            //   var max = Math.max.apply(null, datamax);
            //   this.lineChart.options.high = max;

            // }
            this.chartlist = true;
          })
          .catch((err) => {
            n.loading = true;
            if (err == "Network Error" || err == "Error: Network Error") {
              n.Showchart();
            }
            // console.log(err);
          });
      });
    },
    async Cetaklaporan() {
      this.disabled1 = true;
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      await this.timeout(400);
      callapi().then((send) => {
        send
          .post(`transaksi/laporan/export/usaha/range`, {
            start: date1,
            end: date2,
            code: this.code
          })
          .then((res) => {
            console.log(res);
            this.disabled1 = false;
            window.open(res.data.url, "_blank");
          })
          .catch((err) => {
            this.disabled1 = true;
            console.log(err);
          });
      });
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    formatDate(value) {
      return moment(value).format("DD-MM-YYYY");
    },
  }
}
</script>

<style scoped>

</style>