<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                    <h4 class="card-title mb-2">Laporan</h4>
                    <div class="row">
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Nama Kasir</label>
                          <multiselect
                            track-by="nama"
                            label="nama"
                            v-model="selectedkasir"
                            :options="optionskasir"
                            :show-labels="false"
                            placeholder="Pilih Salah Satu Kasir"
                            :allow-empty="false"
                          ></multiselect>
                        </div>
                      </div>
                      <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                          <label>Periode Tanggal</label>
                          <br />
                          <v2-datepicker-range
                            placeholder="Tempo Pembayaran"
                            format="DD-MM-YYYY"
                            v-model="tglTrx"
                            lang="en"
                            range-separator=" s/d "
                            :picker-options="pickerOptions"
                          >
                          </v2-datepicker-range>
                        </div>
                      </div>
                    </div>
                    <div class="text-right">
                      <button type="button" :disabled="disabled" class="btn btn-sm btn-fill btn-primary shadow-none" @click="Showchart()">
                        <span v-if="disabled">Proses <i class="fa fa-spinner fa-pulse"></i></span>
                        <span v-else>Lihat Laporan</span>
                      </button>
                    </div>
                  </card>
                </div>
              </div>
              <div class="row" v-if="loadingform">
                <div class="col-md-12 text-center">
                  <div class="loader mt-2 mb-2"></div>
                </div>
              </div>
              <div class="row mt-4" v-if="chartlist">
                <div class="col-xl-4 col-md-6">
                  <stats-card>
                    <div slot="header" class="icon-dark">
                      <i class="nc-icon nc-money-coins text-dark"></i>
                    </div>
                    <div slot="content">
                      <p class="card-category">Total Penjualan</p>
                      <h4 class="card-title">{{toRupiah(totaljual)}}</h4>
                    </div>
                  </stats-card>
                </div>
                <div class="col-xl-4 col-md-6">
                  <stats-card>
                    <div slot="header" class="icon-warning">
                      <i class="nc-icon nc-money-coins text-warning"></i>
                    </div>
                    <div slot="content">
                      <p class="card-category">Total Transaksi</p>
                      <h4 class="card-title">{{totaltransaksi}}</h4>
                    </div>
                  </stats-card>
                </div>
                <div class="col-xl-4 col-md-6">
                  <stats-card>
                    <div slot="header" class="icon-primary">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                    <div slot="content">
                      <p class="card-category">Total Pembayaran</p>
                      <h4 class="card-title">{{toRupiah(totalpembayaran)}}</h4>
                    </div>
                  </stats-card>
                </div>
                <div class="col-md-12">
                  <card style="border: 0px;">
                  <b-tabs justified class="shadow-none">
                    <b-tab title=" Grafik Laporan" title-item-class="mytab">
                      <chart-card
                        style="border: 0px;"
                        ref="chartLine"
                        :chart-data="lineChart.data"
                        :chart-options="lineChart.options"
                        :responsive-options="lineChart.responsiveOptions"
                      >
                        <template slot="header">
                          <div class="row">
                            <div class="col-md-8">
                              <h4 class="card-title">Statistik Laporan Penjualan</h4>
                              <p class="card-category">Periode {{formatDate(tglTrx[0])}} / {{formatDate(tglTrx[1])}}</p>
                            </div>
                            <div class="col-md-4 text-right">
                              <button
                                type="button"
                                :disabled="disabled1"
                                class="btn btn-fill btn-sm btn-primary shadow-none"
                                @click="Cetaklaporan()"
                              >
                                <span v-if="disabled1">
                                  Proses
                                  <i class="fa fa-spinner fa-pulse"></i>
                                </span>
                                <span v-else>Download Laporan</span>
                              </button>
                            </div>
                          </div>
                        </template>
                        <template slot="footer">
                          <div class="legend">
                            <i class="fa fa-circle text-info"></i> Penjualan Masuk
                          </div>
                          <hr />
                        </template>
                      </chart-card>
                    </b-tab>
                    <b-tab title=" Detail Transaksi" title-item-class="mytab">
                      <div class="pr-0 pl-0 mt-4 table-responsive" v-if="tablelist">
                        <div class="form-group his-search">
                          <span class="fa fa-search form-control-feedback"></span>
                          <input
                            v-model.trim="search"
                            type="text"
                            class="form-control"
                            placeholder="Cari"
                          />
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="dashbord email-content" @click="Lihatpayment('CASH')">
                              <div class="title-section">
                                <p>Cash Payment</p>
                              </div>
                              <div class="icon-text-section">
                                <div class="icon-section">
                                  <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <div class="text-section">
                                  <h1>{{toRupiah(payment.cash)}}</h1>
                                </div>
                                <div style="clear:both;"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="dashbord email-content" @click="Lihatpayment('E-Wallet')">
                              <div class="title-section">
                                <p>Digital Payment</p>
                              </div>
                              <div class="icon-text-section">
                                <div class="icon-section">
                                  <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <div class="text-section">
                                  <h1>{{toRupiah(payment.digitalPay)}}</h1>
                                </div>
                                <div style="clear:both;"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="dashbord email-content" @click="Lihatpayment('EDC')">
                              <div class="title-section">
                                <p>EDC Payment</p>
                              </div>
                              <div class="icon-text-section">
                                <div class="icon-section">
                                  <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <div class="text-section">
                                  <h1>{{toRupiah(payment.edc)}}</h1>
                                </div>
                                <div style="clear:both;"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <table class="table table-hover table-striped">
                          <thead>
                            <tr>
                              <th width="5%" class="text-center">ID</th>
                              <th width="20%">Tanggal Trx</th>
                              <th @click="Sort('nama_pembeli')" width="20%">Nama Pembeli
                                <span>
                                  <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                                  </i>
                                </span>
                              </th>
                              <th @click="Sort('metode_pembayaran.detail.nama')" width="20%">Tipe Pembayaran
                                <span>
                                  <i :class="[Sortpembayaran ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"> 
                                  </i>
                                </span>
                              </th>
                              <th width="20%">Total</th>
                              <th width="15%">Detail</th>
                              <!-- <th width="30%" class="text-center">Kode Trx</th> -->
                            </tr>
                          </thead>
                          <tbody v-if="loading == false">
                            <tr v-for="(item,index) in detailData " :key="index">
                              <th class="text-center">{{(currentPage-1)*perHalaman+(index+1)}}</th>
                              <td>{{formatDate(item.createAt)}}</td>
                              <td>{{item.nama_pembeli}}</td>
                              <td>{{item.metode_pembayaran.detail.nama}}</td>
                              <td>{{toRupiah(item.total_pembayaran)}}</td>
                              <td class="text-center">
                                <button
                                  class="btn btn-fill btn-sm btn-success shadow-none"
                                  @click="DetailPesanan(item)"
                                >
                                  <i class="fa fa-asterisk"></i> Lihat
                                </button>
                              </td>
                            </tr>
                          </tbody>
                          <tbody v-else-if="loading == true">
                            <tr>
                              <th colspan="6" class="text-center">
                                <div class="loader mt-2 mb-2"></div>
                              </th>
                            </tr>
                          </tbody>
                          <tbody v-if="kosong">
                            <tr>
                              <th colspan="6" class="text-center">
                                <i>
                                  <h5>Tidak ada data yang ditampilkan</h5>
                                </i>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <h5 v-if="!kosong">Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                        </div>
                        <div class="col-md-6" v-if="sortepayment == true">
                          <b-pagination
                            class="mt-2"
                            :total-rows="countapil"
                            v-model="currentPage"
                            :per-page="perHalaman"
                            @input="sortpayment(currentPage, namepayment)"
                            align="right"
                          ></b-pagination>
                        </div>
                        <div class="col-md-6" v-else>
                          <b-pagination
                            class="mt-2"
                            :total-rows="countapil"
                            v-model="currentPage"
                            :per-page="perHalaman"
                            @input="getDataTransaksi(currentPage)"
                            align="right"
                          ></b-pagination>
                        </div>
                      </div>
                    </b-tab>
                  </b-tabs>
                  </card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal v-model="modalPesanan" size="lg" hide-footer hide-header>
      <div class="modal-content" style="border: 0px;">
        <div class="modal-header">
          <h4 class="modal-title m-0">Detail Pesanan</h4>
          <button type="button" style="outline: none !important;" class="close" @click="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mt-3">
          <div class="col-md-12">
            <ul v-for="(item, key) in detailDataSingle" :key="key" class="list-group">
              <li class="list-group-item vertical">
                <div class="row">
                  <div class="col-md-3">
                    <div class="title-detail">Nama Menu</div>
                    <span>{{item.nama}}</span>
                  </div>
                  <div class="col-md-3">
                    <div class="title-detail">Jumlah</div>
                    <span>{{item.qty}}</span>
                  </div>
                  <div class="col-md-3">
                    <div class="title-detail">Harga</div>
                    <span>{{toRupiah(item.harga)}}</span>
                  </div>
                  <div class="col-md-3">
                    <div class="title-detail">Total</div>
                    <span>{{toRupiah(item.total)}}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
import Vue from "vue";
import moment from "moment";
import ChartCard from "@/components/Cards/ChartCard.vue";
import StatsCard from "@/components/Cards/StatsCard.vue";
import Chartist from "chartist";
import { convertToRupiah } from "@/function";
import Multiselect from "vue-multiselect";
import { callapi } from "@/Api.js";
import V2Datepicker from "v2-datepicker";
Vue.use(V2Datepicker);

export default {
  components: {
    ChartCard,
    StatsCard,
    Multiselect,
  },
  mounted() {
    this.GetData();
  },
  data() {
    return {
      tglTrx: [moment().format("YYYY-MM-DD"), moment().format("YYYY-MM-DD")],
      date_end: null,
      date_start: null,
      chartlist: false,
      disabled: false,
      disabled1: false,
      loading: false,
      loadingform: false,
      kosong: false,
      modalPesanan: false,
      tablelist: true,
      sortepayment: false,
      namepayment: '',
      Sortnama: "asc",
      Sortpembayaran: "asc",
      search: "",
      selectedkasir: "",
      payment: {},
      optionskasir: [],
      totaljual: "",
      totaltransaksi: "",
      totalpembayaran: "",
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      detailData: [],
      detailDataSingle: [],
      detailPesanan: [],
      chartLabel: [],
      chartSeries: [],
      lineChart: {
        data: {
          labels: [],
          series: [],
        },
        options: {
          low: 0,
          high: null,
          showArea: false,
          height: "250px",
          axisX: {
            showGrid: true,
          },
          lineSmooth: true,
          showLine: true,
          showPoint: true,
          fullWidth: true,
          chartPadding: {
            right: 30,
            left: 30,
          },
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              axisX: {
                labelInterpolationFnc(value) {
                  return value[0];
                },
              },
            },
          ],
        ],
      },
      pickerOptions: {
        shortcuts: [{
          text: 'Hari Ini',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              picker.$emit('pick', [start, end]);
          }
        }, {
          text: 'Kemarin',
          onClick (picker) {
              const end = moment().subtract(1, 'days');
              const start = moment().subtract(1, 'days');
              picker.$emit('pick', [start._d, end._d]);
          }
        }, {
          text: '7 Hari Terakhir',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 6);
              picker.$emit('pick', [start, end]);
          }
        }, {
          text: '30 Hari Terakhir',
          onClick (picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              console.log(start);
              picker.$emit('pick', [start, end]);
          }
        },
        {
          text: 'Bulan Ini',
          onClick (picker) {
              const start = moment().startOf('month')
              const end = moment().endOf('month')
              picker.$emit('pick', [start._d, end._d]);
          }
        },{
          text: 'Bulan Lalu',
          onClick (picker) {
              const start = moment().subtract(1, 'month').startOf('month')
              const end = moment().subtract(1, 'month').endOf('month')
              picker.$emit('pick', [start._d, end._d]);
          }
        }
        ]
      },
    };
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.getDataTransaksi();
    }, 500),
  },
  methods: {
    GetPembayaran() {
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");

      var datalap = {
        start: date1,
        end: date2,
        idkasir: this.selectedkasir.id,
      }
      callapi().then((kirim) => {
        kirim.post(`transaksi/totalpenjualan/group/metode/kasir/range`, datalap)
          .then((response) => {
            // console.log('pembayaran',response);
            this.payment = response.data.data;
          })
          .catch((error) => {
            // console.log(error);
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetPembayaran();
            }
          });
      });
    },
    GetData() {
      let n = this;
      callapi().then((kirim) => {
        kirim.get(`account/list?per_page=9999`)
          .then((response) => {
            // console.log(response);
            this.optionskasir = response.data.data;
          })
          .catch((error) => {
            // console.log(error);
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
          });
      });
    },
    Sort(name) {
      var sort = '';
      if(name == 'nama_pembeli') {
        this.Sortnama = this.Sortnama==='asc'?'desc':'asc';
        sort = this.Sortnama;
      } else if (name == 'metode_pembayaran.detail.nama') {
        this.Sortpembayaran = this.Sortpembayaran==='asc'?'desc':'asc';
        sort = this.Sortpembayaran;
      }
      this.getDataTransaksi(this.currentPage, name, sort);
    },
    getDataTransaksi(page, name, sort) {
      let n = this;
      this.loading = true;
      if (this.selectedkasir == "") {
        alert("Silahkan lengkapi data kasir!");
        return false;
      }
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      // console.log(date1);
      var datalap = {
        start: date1,
        end: date2,
        idkasir: this.selectedkasir.id,
      }
      callapi().then((kirim) => {
        kirim.post(`transaksi/laporan/kasir/harian?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`,datalap)
          .then((res) => {
            // console.log("Detail ",res);
            this.loading = false;
            if (res.data.data.length == 0) {
              this.kosong = true;
            } else {
              this.kosong = false;
            }
            this.detailData = res.data.data;
            this.countapil = parseInt(res.data.total);
            this.GetPembayaran();
          })
          .catch((err) => {
            // console.log(err);
            if (error == "Network Error" || error == "Error: Network Error") {
              n.getDataTransaksi();
            }
          });
      });
    },
    Lihatpayment(val) {
      this.namepayment = val;
      this.sortpayment(this.currentPage, this.namepayment)
    },
    sortpayment(page, name) {
      this.sortepayment = true;
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      // console.log(date1);
      var datalap = {
        start: date1,
        end: date2,
        idkasir: this.selectedkasir.id,
      }
      callapi().then((kirim) => {
        kirim.post(`transaksi/kasir/group/metode/${name}?page=${page ? page : 1}`, datalap)
          .then((response) => {
            // console.log(response);
            this.detailData = response.data.data;
            this.countapil = parseInt(response.data.total);
          })
          .catch((error) => {
            // console.log(error);
            if (error == "Network Error" || error == "Error: Network Error") {
              n.sortpayment();
            }
          });
      });
    },
    DetailPesanan(val) {
      this.modalPesanan = true;
      var arr = [];
      val.pembelian.forEach((el) => {
        let data = {
          nama: el.datamenu.nama,
          qty: el.qty,
          harga: el.harga,
          total: el.subtotal,
        };
        arr.push(data);
      });
      this.detailDataSingle = arr;
    },
    close() {
      this.modalPesanan = false;
    },
    async Showchart() {
      let n = this;
      this.chartlist = false;
      this.disabled = true;
      await this.timeout(400);
      if (this.selectedkasir == "") {
        alert("Silahkan lengkapi data Anda!");
        return false;
      }
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      // console.log(date1);
      var datalap = {
        start: date1,
        end: date2,
        idkasir: this.selectedkasir.id,
      }
      this.loadingform = true;
      callapi().then((send) => {
        send.post(`transaksi/laporan/kasir/bulanan`, datalap)
          .then((res) => {
            // console.log(res);
            this.loadingform = false;
            var respon = res.data.data.chart;
            if (res.data.data.chart.label == null) {
              this.lineChart.options.high = 100;
              this.lineChart.data.labels = ["0"];
              this.lineChart.data.series = [[100]];
            } else {
              var datamax = respon.data;
              var max = Math.max.apply(null, datamax);
              this.lineChart.options.high = max;
              this.lineChart.data.labels = respon.label;
              this.lineChart.data.series = [respon.data];
            }
            this.chartlist = true;
            this.disabled = false;
            this.ShowLaba(datalap);
            this.getDataTransaksi();
          })
          .catch((err) => {
            n.loading = true;
            n.disabled = false;
            if (err == "Network Error" || err == "Error: Network Error") {
              n.Showchart();
            }
            // console.log(err);
          });
      });
    },
    ShowLaba(val) {
      let n = this;
      callapi().then((send) => {
        send.post(`transaksi/laporan/data/kasir`, val)
          .then((res) => {
            // console.log(res);
            this.totaljual = res.data.totaljual;
            this.totaltransaksi = res.data.totaltransaksi;
            this.totalpembayaran = res.data.totalpembayaran;
          })
          .catch((err) => {
            // console.log(err);
            if (error == "Network Error" || error == "Error: Network Error") {
              n.ShowLaba();
            }
          });
      });
    },
    async Cetaklaporan() {
      this.disabled1 = true;
      var date1 = moment(this.tglTrx[0]).format("YYYY-MM-DD");
      var date2 = moment(this.tglTrx[1]).format("YYYY-MM-DD");
      await this.timeout(400);
      callapi().then((send) => {
        send.post(`transaksi/laporan/export/kasir/range`, {
            start: date1,
            end: date2,
            idkasir: this.selectedkasir.id,
          })
          .then((res) => {
            // console.log(res);
            this.disabled1 = false;
            window.open(res.data.url, "_blank");
          })
          .catch((err) => {
            this.disabled1 = true;
            console.log(err);
          });
      });
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    toRupiah(val) {
      return convertToRupiah(val);
    },
    formatDate(value) {
      return moment(value).format("DD-MM-YYYY");
    },
  },
};
</script>
<style scoped>
.title-detail {
  color: #9A9A9A;
  font-weight: 600;
}

.dashbord{
	margin-top:5px;
	display: inline-block;
	width:100%;
	color:#fff;
  cursor: pointer;
}
.title-section{
	border-radius: 7px 7px 0px 0px;
	text-align: center;
	background-color:#7CD6F8;
	padding: 5px 0px;
}
.title-section p{
	margin:0px;
	font-size:14px;
  font-weight: 600;
}
.icon-text-section{
	background-color:#5BCCF6;
	padding: 0px 14px;
}
.icon-section{
	font-size:50px;
	float:left;
	width:30%;
	color:#a7e2f8;
}
.text-section{
	width:70%;
	float:right;
	text-align: right;
}
.text-section h1{
	margin-top: 20px;
	font-size:22px;
}
</style>