<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4 class="card-title m-0">Manajemen Karyawan</h4>
              <p class="card-category">Untuk mengatur hak akses pengguna secara individu</p>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-sm mt-2 shadow-none" @click="Tambahdata()">
              <i class="fa fa-plus"></i> Tambah Data Baru
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row" v-if="tablelist">
            <div class="col-md-12">
              <div class="pr-0 pl-0 table-responsive">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <label>Cari</label>
                    <div class="form-group his-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input
                        v-model.trim="search"
                        type="text"
                        ref="search"
                        class="form-control"
                        placeholder="Cari"
                      />
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="5%" class="text-center">ID</th>
                      <th @click="Sort('nama')" width="20%">
                        Nama Pengguna
                        <span>
                          <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th @click="Sort('email')" width="25%">
                        Nama Email
                        <span>
                          <i :class="[Sortemail ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th width="15%">Akses</th>
                      <th width="35%" class="text-center">Aksi</th>
                    </tr>
                  </thead>
                  <tbody v-if="loading == false">
                    <tr v-for="(item, key) in datauser" :key="key">
                      <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                      <td>{{item.nama}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.role}}</td>
                      <td class="text-center">
                        <button
                          v-if="item.role == 'kasir'"
                          class="btn btn-fill btn-sm btn-success shadow-none"
                          @click="gantiPassword(item)"
                        >
                          <i class="fa fa-unlock-alt"></i> Ganti Password
                        </button>&nbsp;
                        <button
                          v-if="item.role == 'kasir'"
                          class="btn btn-fill btn-sm btn-warning shadow-none"
                          @click="Edit(item)"
                        >
                          <i class="fa fa-pencil-square-o"></i> Edit
                        </button>&nbsp;
                        <button
                          v-if="item.role == 'kasir'"
                          class="btn btn-fill btn-sm btn-danger shadow-none"
                          @click="Hapus(item)"
                        >
                          <i class="fa fa-trash-o"></i> Hapus
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else-if="loading == true">
                    <tr>
                      <th colspan="5" class="text-center">
                        <div class="loader mt-2 mb-2"></div>
                      </th>
                    </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i>
                          <h5>Tidak ada data yang ditampilkan</h5>
                        </i>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5
                    v-if="!kosong"
                  >Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                </div>
                <div class="col-md-6">
                  <b-pagination
                    class="mt-2"
                    :total-rows="countapil"
                    v-model="currentPage"
                    :per-page="perHalaman"
                    @input="GetData(currentPage)"
                    align="right"
                  ></b-pagination>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12 mt-1 mb-1">
              <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                <h4 class="card-title mb-4">Tambah Data</h4>
                <form v-on:submit.prevent="Simpan">
                  <div class="form-group">
                    <label>Nama Pengguna</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Nama Pengguna"
                      oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                      oninput="setCustomValidity('')"
                      v-model="nama"
                      ref="nama"
                    />
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Email"
                      oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                      oninput="setCustomValidity('')"
                      v-model="email"
                      ref="email"
                    />
                  </div>
                  <div class="form-group" v-if="validasi">
                    <label for="exampleInputPassword1">
                      Password
                      <span
                        style="color: #FF4757;"
                        data-toggle="tooltip"
                        title="Password minimal 8 karakter dan terdiri dari huruf besar atau kecil, angka dan simbol (!@#$%^&*().)."
                      >
                        <i class="fa fa-question-circle"></i>
                      </span>
                    </label>
                    <input
                      :type="!showNewPassword ? 'password' : 'text'"
                      title
                      class="form-control shadow-none"
                      @input="password_check"
                      v-model="password"
                      placeholder="Masukkan Kata Sandi Baru"
                      oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                      oninput="setCustomValidity('')"
                      ref="password"
                    />
                    <small class="btn-eye pointer" @click="showModalPaswd()">
                      <span
                        class="fa"
                        style="color: #FF4757"
                        :class="[!showNewPassword ? 'fa-eye':'fa-eye-slash']"
                      ></span>
                    </small>
                    <small v-if="status" class="form-text text-danger">{{status}}</small>
                  </div>
                  <div class="form-group">
                    <label>Nama Akses</label>
                    <multiselect
                      v-model="selectedrole"
                      deselect-label
                      selectLabel
                      track-by="nama"
                      label="nama"
                      placeholder="Pilih Salah Satu Menu"
                      :options="options"
                      :searchable="false"
                      :allow-empty="false"
                    >></multiselect>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                    <button
                      type="submit"
                      :disabled="disabled"
                      class="btn btn-fill btn-primary shadow-none"
                    >
                      <span v-if="disabled">
                        Proses
                        <i class="fa fa-spinner fa-pulse"></i>
                      </span>
                      <span v-else>Simpan</span>
                    </button>
                  </div>
                </form>
              </card>
            </div>
          </div>
        </card>
        <b-modal v-model="modalhapus" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin menghapus data tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="Simpan()"
                >Ya, Hapus</button>
              </div>
            </div>
          </div>
        </b-modal>
        <b-modal
          v-model="konfirmasi"
          size="md"
          no-close-on-backdrop
          no-close-on-esc
          hide-footer
          hide-header
          class="p-0"
        >
          <div class="modal-content" style="border: 0px;">
            <h3>
              <i style="color: #00c300 " class="fa fa-check-square-o"></i> &nbsp; Password Baru Anda
            </h3>
            <div class="modal-body mt-2 text-center">
              <h4 class="m-0" style="font-weight: 600;">
                <b>{{passwordbaru}}</b>
              </h4>
              <p class="my-2" style="font-size: 15px;">
                Selamat anda telah menerima pembaruan password baru,
                Simpan dan jangan sampai orang lain mengetahuinya.
              </p>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Keluar</button>
              </div>
            </div>
          </div>
        </b-modal>
        <b-modal v-model="konfirmpassword" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Ganti Password</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin mengubah password pengguna tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="Confirmganti()"
                >Ya, Ganti</button>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import { callapi } from "@/Api.js";
import Multiselect from "vue-multiselect";
import { validasiEmail } from "@/function";

export default {
  components: {
    Multiselect,
  },
  mounted() {
    this.GetData();
  },
  data() {
    return {
      konfirmpassword: false,
      konfirmasi: false,
      tambahdata: false,
      tablelist: true,
      showNewPassword: false,
      loading: true,
      disabled: false,
      modalhapus: false,
      kosong: false,
      has_number: false,
      has_lowercase: false,
      has_uppercase: false,
      has_special: false,
      validasi: true,
      datauser: [],
      options: [],
      options: [{ nama: "kasir" }],
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      Sortnama: "asc",
      Sortemail: "asc",
      selectedrole: "",
      passwordbaru: "",
      password: "",
      nama: "",
      email: "",
      search: "",
      status: "",
      id: "",
    };
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.GetData();
    }, 500),
  },
  methods: {
    password_check: function () {
      var number = (this.has_number = /.{8,}/.test(this.password));
      var huruf = (this.has_lowercase = /[a-z]/.test(this.password));
      var besar = (this.has_uppercase = /[A-Z]/.test(this.password));
      var charackter = (this.has_special = /[!@#\$%\^\&*\)\(+=._-]/.test(
        this.password
      ));

      if (number == false) {
        this.status = "Kata sandi diisi minimal 8 karakter.";
      } else if (charackter == false || huruf == false || besar == false) {
        this.status =
          "Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*()).";
      } else {
        this.status = "";
      }
    },
    Sort(name) {
      var sort = "";
      if (name == "nama") {
        this.Sortnama = this.Sortnama === "asc" ? "desc" : "asc";
        sort = this.Sortnama;
      } else if (name == "email") {
        this.Sortemail = this.Sortemail === "asc" ? "desc" : "asc";
        sort = this.Sortemail;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then((kirim) => {
        kirim.get(`account/list?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`)
          .then((response) => {
            // console.log(response);
            this.loading = false;
            if (response.data.data.length == 0) {
              this.kosong = true;
            } else {
              this.kosong = false;
            }
            this.datauser = response.data.data;
            this.countapil = parseInt(response.data.total);
          })
          .catch((error) => {
            // console.log(error);
            n.loading = false;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
          });
      });
    },
    async Simpan() {
      if (!this.id) {
        if (this.nama == "") {
          this.$refs.nama.focus();
          alert("Silahkan lengkapi data Anda!");
          return false;
        } else if (!validasiEmail(this.email) || this.email == "") {
          this.$refs.email.focus();
          alert("Email tidak valid, Periksa inputan email!");
          return false;
        } else if (this.selectedrole == "") {
          alert("Silahkan lengkapi data Anda!");
          return false;
        } else if (
          this.password == "" ||
          this.status == "Kata sandi tidak sama" ||
          this.status == "Kata sandi diisi minimal 8 karakter." ||
          this.status ==
            "Kata sandi harus berisi huruf besar atau kecil, angka, dan simbol (!@.#$%^&*())."
        ) {
          this.$refs.password.focus();
          alert("Silahkan periksa password Anda!");
          return false;
        }
      }
      this.disabled = true;
      let data = {
        nama: this.nama,
        role: this.selectedrole.nama,
        email: this.email,
        password: this.password,
      };
      // console.log(data);

      await this.timeout(400);
      let kirim, message;
      if (this.id) {
        if (this.modalhapus) {
          kirim = callapi().then((send) => {
            send.delete(`account/kasir/${this.id}`);
            message = "Hapus User";
          });
        } else {
          kirim = callapi().then((send) => {
            send.put(`account/kasir/${this.id}`, data);
            message = "Edit User";
          });
        }
      } else {
        kirim = callapi().then((send) => {
          send.post(`account/kasir`, data);
          message = "Simpan User";
        });
      }
      kirim
        .then((res) => {
          // console.log(res);
          this.notifku(true, message);
          this.disabled = false;
          this.resertVal();
          this.GetData();
        })
        .catch((err) => {
          this.notifku(false, message);
          this.disabled = true;
          console.log(err);
        });
    },
    resertVal() {
      this.konfirmasi = false;
      this.tambahdata = false;
      this.modalhapus = false;
      this.konfirmpassword = false;
      this.tablelist = true;
      this.nama = "";
      this.email = "";
      this.selectedrole = "";
      this.password = "";
    },
    Edit(val) {
      this.tambahdata = true;
      this.tablelist = false;
      this.validasi = false;
      this.nama = val.nama;
      this.email = val.email;
      this.selectedrole = { nama: val.role };
      this.id = val.id;
    },
    Hapus(val) {
      this.modalhapus = true;
      this.id = val.id;
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    gantiPassword(val) {
      this.id = val.id;
      this.konfirmpassword = true;
    },
    Confirmganti() {
      callapi().then((send) => {
        send
          .put(`account/resetpass`, {
            _id: this.id,
          })
          .then((res) => {
            // console.log(res.data.newpass);
            this.konfirmpassword = false;
            this.konfirmasi = true;
            this.passwordbaru = res.data.newpass;
            this.id = "";
          })
          .catch((err) => {
            console.log(err);
          });
      });
    },
    async Tambahdata() {
      this.validasi = true;
      this.tambahdata = true;
      this.tablelist = false;
      await this.timeout(300);
      this.$refs.nama.focus();
    },
    Closemodal() {
      this.tambahdata = false;
    },
    showModalPaswd(val) {
      this.showNewPassword = !this.showNewPassword;
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    },
  },
};
</script>
<style>
.btn-eye {
  float: right;
  margin-right: 13px;
  margin-top: -30px;
  position: relative;
  font-size: 14px;
  z-index: 2;
}
</style>