<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4 class="card-title m-0">Menu</h4>
              <p class="card-category">Menu akan ditampilkan pada daftar menu self-service</p>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-sm mt-3 shadow-none" @click="Tambahdata()">
              <i class="fa fa-plus"></i> Tambah Data Baru
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row" v-if="tablelist">
            <div class="col-md-12" v-if="loadinghead == true">
              <div class="text-center">
                <div class="loader mt-2 mb-2"></div>
              </div>
            </div>
            <div class="col-md-12 mt-1" v-else-if="loadinghead == false">
              <b-tabs justified class="shadow-none">
                <div v-for="(item, key) in dataHead" :key="key">
                    <b-tab
                      :title="item.nama"
                      title-item-class="mytab"
                      @click="ChangeHead(item.id),idHead = item.id"
                    >
                      <div class="row mt-3">
                        <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                          <label>Sortir Nama</label>
                          <multiselect
                            v-model="selectedfilter"
                            deselect-label
                            selectLabel=" "
                            track-by="nama"
                            label="nama"
                            :id="key"
                            placeholder="Tanpa Sortir Nama"
                            :options="optionsfilter"
                            :searchable="false"
                            :allow-empty="false"
                            @select="afterselect"
                          >></multiselect>
                        </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                          <label>Sortir Kategori</label>
                          <multiselect
                            v-model="selectedfilter1"
                            deselect-label
                            selectLabel=" "
                            track-by="nama"
                            label="nama"
                            placeholder="Tanpa Sortir Kategori"
                            :options="optionsfilter1"
                            :searchable="false"
                            :allow-empty="false"
                            @select="selectkategori"
                          >></multiselect>
                        </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                          <label>Cari</label>
                          <div class="form-group his-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input
                              v-model.trim="search"
                              type="text"
                              ref="search"
                              class="form-control"
                              placeholder="Cari"
                            />
                          </div>
                        </div>
                      </div>
                      <div v-if="item.nama == 'MAKANAN'">
                        <div v-if="loading == false">
                          <b-card
                            no-body
                            class="overflow-hidden"
                            v-for="(item, key) in datamenuMakanan"
                            :key="key"
                          >
                            <b-row no-gutters>
                              <b-col md="4" class="text-center">
                                <b-card-img
                                  class="Imgmenu"
                                  v-bind:src="`https://mystoku.multec-api.com${item.gambar}`"
                                ></b-card-img>
                              </b-col>
                              <b-col md="8">
                                <div class="card-body pt-0">
                                  <div class="row">
                                    <div class="col-md-8">
                                      <h4 class="title">
                                        {{ item.nama }}
                                        <br />
                                        <small>{{ item.kategori.nama }}</small>
                                      </h4>
                                    </div>
                                    <div class="col-md-4 text-right">
                                      <h4 class="title">
                                        <b>Rp. {{ formatPrice(item.harga) }}</b>
                                      </h4>
                                      <button class="btn btn-fill btn-sm btn-warning shadow-none"
                                        @click="edit(item)"
                                      >
                                        <i class="fa fa-edit"></i>
                                      </button>&nbsp;
                                      <button class="btn btn-fill btn-sm btn-danger shadow-none" @click="hapus(item)">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </b-col>
                            </b-row>
                          </b-card>
                        </div>
                          <div v-else-if="loading == true" class="text-center">
                            <div class="loader mt-2 mb-2"></div>
                          </div>
                          <div v-if="kosongmakanan == true" class="text-center mb-2 mt-2">
                            <i><h5>Tidak ada data yang ditampilkan</h5></i>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <h5 v-if="!kosong">Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                            </div>
                            <div class="col-md-6">
                              <b-pagination
                                :total-rows="countapil"
                                v-model="currentPage"
                                :per-page="perHalaman"
                                @input="MenuHead(currentPage)"
                                pills
                                align="right"
                              ></b-pagination>
                            </div>
                          </div>
                      </div>
                      <div v-if="item.nama == 'MINUMAN'">
                        <div v-if="loading == false">
                          <b-card
                            no-body
                            class="overflow-hidden"
                            v-for="(item, key) in datamenuMinuman"
                            :key="key"
                          >
                            <b-row no-gutters>
                              <b-col md="4" class="text-center">
                                <b-card-img
                                  class="Imgmenu"
                                  v-bind:src="`https://mystoku.multec-api.com${item.gambar}`"
                                ></b-card-img>
                              </b-col>
                              <b-col md="8">
                                <div class="card-body pt-0">
                                  <div class="row">
                                    <div class="col-md-8">
                                      <h4 class="title">
                                        {{ item.nama }}
                                        <br />
                                        <small>{{ item.kategori.nama }}</small>
                                      </h4>
                                    </div>
                                    <div class="col-md-4 text-right">
                                      <h4 class="title">
                                        <b>Rp. {{ formatPrice(item.harga) }}</b>
                                      </h4>
                                      <button class="btn btn-fill btn-sm btn-warning shadow-none"
                                        @click="edit(item)"
                                      >
                                        <i class="fa fa-edit"></i>
                                      </button>&nbsp;
                                      <button class="btn btn-fill btn-sm btn-danger shadow-none" @click="hapus(item)">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </b-col>
                            </b-row>
                          </b-card>
                        </div>
                          <div v-else-if="loading == true" class="text-center">
                              <div class="loader mt-2 mb-2"></div>
                          </div>
                          <div v-if="kosongminuman == true" class="text-center mb-2 mt-2">
                            <i>
                              <h5>Tidak ada data yang ditampilkan</h5>
                            </i>
                          </div>
                        <div class="row">
                          <div class="col-md-6">
                            <h5 v-if="!kosong">Menampilkan {{currentPage2}} hingga {{perHalaman}} dari {{countapil2}} item</h5>
                          </div>
                          <div class="col-md-6">
                            <b-pagination
                              :total-rows="countapil2"
                              v-model="currentPage2"
                              :per-page="perHalaman"
                              @input="MenuHead(currentPage2)"
                              pills
                              align="right"
                            ></b-pagination>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                </div>
              </b-tabs>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12 mt-1 mb-1">
              <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                <h4 class="card-title mb-4">Tambah Data</h4>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="col-form-label">Gambar Menu</label>
                    <br />
                    <div v-if="resultURL == ''" class="text-center">
                      <input
                        @change="upload($event), (isActive = false)"
                        type="file"
                        name="file"
                        id="file"
                        class="input-file"
                        ref="banner"
                      />
                      <label for="file" class="btn btn-tertiary" style="width: 70%;">
                        <i class="fa fa-upload"></i>
                        <span>Pilih Gambar</span>
                      </label>
                    </div>
                    <div v-else>
                      <img class="rounded mx-auto d-block img-thumbnail" :src="resultURL" />
                      <small class="btn-del pointer" @click="Delimg()">
                        <i class="fa fa-trash"></i>
                      </small>
                    </div>
                    <b-modal
                      v-model="modalCrop"
                      hide-footer
                      no-close-on-backdrop
                      no-close-on-esc
                      hide-header-close
                      title="Setting Gambar"
                      class="p-0"
                    >
                      <clipper-basic
                        class="my-clipper"
                        ref="clipper"
                        :ratio="4 / 2"
                        bg-color="rgba(0,0,0,0)"
                        :src="imgURL"
                      ></clipper-basic>
                      <b-row>
                        <b-col>
                          <b-button class="mt-3 shadow-none" block @click="getResult">Crop Gambar</b-button>
                        </b-col>
                        <b-col>
                          <b-button class="mt-3 shadow-none" block variant="danger" @click="close()">Batal</b-button>
                        </b-col>
                      </b-row>
                    </b-modal>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label">Nama Menu</label>
                      <input
                        v-model="menu"
                        type="text"
                        class="form-control"
                        placeholder="Masukkan Nama Menu"
                        id="recipient-name"
                        ref="namaMenu"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label">Harga</label>
                      <money v-model="harga" ref="harga" class="form-control" v-bind="money"></money>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-form-label">Nama Kategori</label>
                      <multiselect
                        v-model="selectedkategori"
                        deselect-label
                        selectLabel=" "
                        track-by="nama"
                        label="nama"
                        placeholder="Pilih Salah Satu Kategori"
                        :options="options"
                        :searchable="false"
                        :allow-empty="false"
                      >></multiselect>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Jenis</label>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mb-2 mr-3" v-for="(item, key) in dataGambar" :key="key">
                        <button
                          type="button"
                          class="btnku btnku-labeled btn-fill btn-sm btn-outline-danger shadow-none"
                          @click="jenisAc(item.code,key)"
                          :class="{active: key === activeItem}"
                        >
                          <span class="btnku-label">
                            <img
                              :src="require(`@/assets/images/menuIcon/${item.img}`)"
                              style="height:25px;width:25px"
                            />
                          </span>
                          {{ item.title }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="col-form-label">Keterangan</label>
                      <textarea
                        class="form-control shadow-none"
                        placeholder="Masukkan Keterangan"
                        ref="alamat"
                        rows="3"
                        v-model="komposisi"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                  <button
                    class="btn btn-fill btn-primary shadow-none"
                    @click="generateImage()"
                    v-if="id == ''"
                    :disabled="disabled"
                  >
                    <span v-if="disabled">
                      Proses
                      <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span v-else>Simpan</span>
                  </button>
                  <button
                    class="btn btn-fill btn-primary shadow-none"
                    @click="generateImage()"
                    v-if="id != ''"
                  >
                    <span v-if="disabled">
                      Proses
                      <i class="fa fa-spinner fa-pulse"></i>
                    </span>
                    <span v-else>Update</span>
                  </button>
                </div>
              </card>
            </div>
          </div>
        </card>
        <b-modal
          name="konfirmasi"
          v-model="modalhapus"
          hide-footer
          hide-header
          transition="pop-out"
          width="450"
          height="auto"
        >
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin menghapus data tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="hapusdata()"
                >Ya, Hapus</button>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import Multiselect from "vue-multiselect";
import VuejsClipper from "vuejs-clipper";
import { callapi } from "@/Api.js";
import { Money } from "v-money";

Vue.use(VuejsClipper, {
  components: {
    clipperBasic: true,
    clipperPreview: true,
  },
});

export default {
  components: {
    Money,
    Multiselect,
  },
  async mounted() {
    await this.GetDataHead();
  },
  data() {
    return {
      tablelist: true,
      isActive: false,
      modalCrop: false,
      tambahdata: false,
      modalhapus: false,
      loading: true,
      loadinghead: true,
      disabled: false,
      kosongmakanan: false,
      kosongminuman: false,
      kosong: false,
      activeItem: null,
      countapil: 0,
      countapil2: 0,
      currentPage: 1,
      currentPage2: 1,
      perHalaman: 5,
      selectedfilter: {nama: "Tanpa Sortir Nama"},
      optionsfilter: [
        {nama: "Tanpa Sortir Nama"},
        {nama: "A-Z"},
        {nama: "Z-A"}
      ],
      selectedfilter1: {nama: "Tanpa Sortir Kategori"},
      optionsfilter1: [
        {nama: "Tanpa Sortir Kategori"},
        {nama: "A-Z"},
        {nama: "Z-A"}
      ],
      search: "",
      jenis: "",
      idHead: "",

      money: {
        decimal: ",",
        thousands: ".",
        prefix: "",
        suffix: " ",
        precision: 0,
        masked: false,
      },
      dataGambar: [
        {
          title: "Makanan",
          img: "burger.png",
          code: "eat",
        },
        {
          title: "Minuman",
          img: "softdrink.png",
          code: "softdrink",
        },
        {
          title: "Snack",
          img: "snack.png",
          code: "snack",
        },
        {
          title: "Kopi",
          img: "kopi.png",
          code: "cofee",
        },
      ],
      selectedrole: "",
      resultURL: "",
      imgURL: "",
      options: [],
      selectedkategori: "",
      imageedit: null,
      menu: "",
      harga: 0,
      komposisi: "",
      id: "",
      datamenuMakanan: [],
      datamenuMinuman: [],
      dataHead: [],
    };
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.MenuHead();
    }, 500),
  },
  methods: {
    async Tambahdata() {
      this.tambahdata = true;
      this.tablelist = false;
      this.GetDataKategori();
      await this.timeout(300);
      this.$refs.namaMenu.focus();
    },
    upload(e) {
      if (e.target.files.length !== 0) {
        if (this.imgURL) URL.revokeObjectURL(this.imgURL);
        this.imgURL = window.URL.createObjectURL(e.target.files[0]);
        this.modalCrop = true;
      }
      console.log('modal keluar');
    },
    Delimg() {
      this.resultURL = "";
    },
    close() {
      this.imgURL = "";
      this.resultURL = "";
      this.modalCrop = false;
    },
    getResult: function () {
      let pixel = 450;
      const canvas = this.$refs.clipper.clip({ wPixel: pixel });
      this.resultURL = canvas
        .toDataURL("image/png")
        .replace("image/png", "image/octet-stream");
      this.isActive = true;
      this.modalCrop = false;
    },
    async ChangeHead(val) {
      // console.log(val);
      this.idHead = val;
      this.kosongmakanan = false;
      this.kosongminuman = false;
      this.loading = false;
      await this.timeout(300);
      this.MenuHead();
    },
    selectkategori(data) {
      var sort = '';
      var name = 'kategori.nama';
      if (data.nama == 'A-Z') {
        sort = 'asc';
      } else if (data.nama == 'Z-A') {
        sort = 'desc';
      } else {
        sort = '';
      }
      this.MenuHead(1, name, sort);
    },
    afterselect(data) {
      var sort = '';
      var name = 'nama';
      if (data.nama == 'A-Z') {
        sort = 'asc';
      } else if (data.nama == 'Z-A') {
        sort = 'desc';
      } else {
        sort = '';
      }
      this.MenuHead(1, name, sort);
    },
    async MenuHead(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      return new Promise((resolve, reject) => {
        callapi().then((kirim) => {
          kirim.get(`menu/group/head/${this.idHead}?page=${page ? page : 1}&filter=${this.search}&sort=${name}|${sort}`)
            .then((response) => {
              // console.log('menuhead',response);
              
              if (this.datamenuMakanan !== []) {
                this.datamenuMakanan = [];
              }
              if (this.datamenuMinuman != []) {
                this.datamenuMinuman = [];
              }

              let data = response.data.data;
              if (response.data.data.length == 0) {
                this.kosongmakanan = true;
                this.kosongminuman = true;
              } else {
                this.kosongmakanan = false;
                this.kosongminuman = false;
              }
              if (data[0].kategori.headmenu.nama === "MAKANAN") {
                this.datamenuMakanan = response.data.data;
                this.countapil = parseInt(response.data.total);
              } else {
                this.datamenuMinuman = response.data.data;
                this.countapil2 = parseInt(response.data.total);
              }
              this.loading = false;
              resolve(true);
            })
            .catch((error) => {
              // console.log(error);
              n.loading = false;
              if (error == "Network Error" || error == "Error: Network Error") {
                n.MenuHead();
              }
            });
        });
      });
    },
    async GetData(page) {
      let n = this;
      callapi().then((kirim) => {
        kirim.get(`menu?page=${page ? page : 1}&filter=${this.search}`)
          .then((response) => {
            this.countapil = parseInt(response.data.total);
            // console.log(response);

            this.loading = false;
            if (this.datamenuMakanan !== []) {
              this.datamenuMakanan = [];
            }
            if (this.datamenuMinuman != []) {
              this.datamenuMinuman = [];
            }
            let data = response.data.data;
            data.forEach((el) => {
              if (el.kategori.headmenu.nama === "MAKANAN") {
                this.datamenuMakanan.push(el);
              } else {
                this.datamenuMinuman.push(el);
              }
            });
            this.countapil = parseInt(response.data.total);
          })
          .catch((error) => {
            // console.log(error);
            n.loading = false;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
          });
      });
    },
    async GetDataHead() {
      let n = this;
      this.loadinghead = true
      await this.timeout(400);
      return new Promise((resolve, reject) => {
        callapi().then((kirim) => {
          kirim.get("headmenu")
            .then((response) => {
              // console.log(response);
              this.dataHead = response.data.data;
              this.idHead = response.data.data[0].id;
              this.loadinghead = false
            })
            .catch((error) => {
              // console.log(error);
              this.loadinghead = false
              if (error == "Network Error" || error == "Error: Network Error") {
                n.GetDataHead();
              }
              reject(false);
            });
        });
      });
    },
    GetDataKategori() {
      return new Promise((resolve, reject) => {
        callapi().then((kirim) => {
          kirim.get(`kategori?per_page=9999`)
            .then((response) => {
              this.options = response.data.data;
              resolve(true);
            })
            .catch((error) => {
              console.log(error);
              reject(false);
            });
        });
      });
    },
    async kirimgambar(val) {
      let data = {
        file: val,
      };
      this.disabled = true;

      await this.timeout(400);
      if (this.isValidUrl(val) !== true) {
        callapi().then((kirim) => {
          kirim.post(`uploadbase64/menu`, data)
            .then((res) => {
              let dataimage = res.data.path;
              this.simpan(dataimage);
            })
            .catch((err) => {
              console.log(err);
            });
        });
      } else {
        let n = this;
        this.FromUrl(val, function (myBase64) {
          data.file = myBase64;
          callapi().then((kirim) => {
            kirim
              .post(`uploadbase64/menu`, data)
              .then((res) => {
                console.log(res.data.path);
                let dataimage = res.data.path;
                n.simpan(dataimage);
              })
              .catch((err) => {
                console.log(err);
              });
          });
        });
      }
    },
    simpan(val) {
      let data = {
        nama: this.menu,
        komposisi: this.komposisi,
        harga: parseInt(this.harga),
        idkategori: this.selectedkategori.id,
        jenis: this.jenis,
        gambar: val,
      };
      if (this.isValidUrl(val) === true) {
        data.gambar = val.substr(26);
      }

      let kirim, message;
      if (this.id) {
        kirim = callapi().then((send) => {
          send.put(`menu/${this.id}`, data);
          message = "Edit Menu";
        });
      } else {
        kirim = callapi().then((send) => {
          send.post(`menu`, data);
          message = "Simpan Menu";
        });
      }
      kirim
        .then((res) => {
          this.notifku(true, message);
          this.disabled = false;
          this.GetData();
          this.resertVal();
        })
        .catch((err) => {
          this.notifku(false, message);
          this.disabled = false;
          this.resertVal();
          console.log(err);
        });
    },
    resertVal() {
      this.tablelist = true;
      this.tambahdata = false;
      this.imageedit = "";
      this.menu = "";
      this.harga = "";
      this.komposisi = "";
      this.jenis = "";
      this.activeItem = null;
      this.selectedkategori = "";
      this.id = "";
      this.resultURL = "";
      this.modalhapus = false;
    },
    hapusdata() {
      callapi()
        .then((send) => {
          send.delete(`menu/${this.id}`);
        })
        .then((res) => {
          this.notifku(true, "Hapus Menu");
          this.GetData();
          this.resertVal();
        })
        .catch((err) => {
          console.log(err);
          this.resertVal();
          this.notifku(false, "Hapus Menu");
        });
    },
    edit(val) {
      console.log(val);
      this.resultURL = "https://mystoku.multec-api.com" + val.gambar;
      this.selectedkategori = { nama: val.kategori.nama, id: val.kategori.id };
      this.menu = val.nama;
      this.harga = val.harga;
      this.komposisi = val.komposisi;
      this.id = val.id;
      this.jenis = val.jenis;
      this.jenisAc("", "", val.jenis);
      this.GetDataKategori();

      this.tambahdata = true;
      this.tablelist = false;
    },
    generateImage: function () {
      let url = this.resultURL;
      if (!url) {
        alert("Lengkapi gambar menu Anda!.");
        return false;
      }
      if (this.menu == "") {
        this.$refs.namaMenu.focus();
        alert("Lengkapi kolom nama menu Anda!");
        return false;
      } else if (
        this.harga == "" ||
        this.jenis == "" ||
        this.selectedkategori == ""
      ) {
        alert("Lengkapi kolom data Anda!");
        return false;
      } else if (this.komposisi == "") {
        this.$refs.alamat.focus();
        alert("Lengkapi kolom keterangan Anda!");
        return false;
      } else {
        this.kirimgambar(url);
      }
    },
    hapus(val) {
      this.modalhapus = true;
      this.id = val.id;
    },
    Showgambar(val) {
      var api = "https://server.mystoku.com";
      this.backgroundImage = api + val.gambar;
      this.$modal.show("modal-gambar");
    },
    jenisAc(val, i, y) {
      this.jenis = val;
      this.activeItem = i;
      // console.log(this.jenis);
      if (y) {
        this.jenis = y;
        if (y === "eat") {
          this.activeItem = 0;
        } else if (y === "softdrink") {
          this.activeItem = 1;
        } else if (y === "snack") {
          this.activeItem = 2;
        } else {
          this.activeItem = 3;
        }
      }
    },
    FromUrl(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        var reader = new FileReader();
        reader.onloadend = function () {
          callback(reader.result);
        };
        reader.readAsDataURL(xhr.response);
      };
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.send();
    },
    isValidUrl(string) {
      try {
        new URL(string);
      } catch (_) {
        return false;
      }
      return true;
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped></style>
<style scoped>
.btn-del {
  text-align: center;
  float: right;
  margin-right: 275px;
  margin-top: -50px;
  position: relative;
  font-size: 14px;
  z-index: 2;
  background: #fff;
  padding: 4px 0px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.activeShow {
  display: none;
}
.Imgmenu {
  width: 90%;
  padding: 16px 4px;
}
.btnku-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: whitesmoke;
  border-radius: 3px 0 0 3px;
}
.btnku-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btnku {
  margin-bottom: 10px;
  border: none;
  font-weight: 800;
}

@media screen and (max-width: 766px) {
  .Imgmenu {
    width: 95%;
    padding: 15px 5px;
  }
}
</style>
<style lang="scss" scoped>
.img-thumbnail {
  max-width: 100% !important;
}

@media (max-width: 1024px) {
  .img-thumbnail {
    max-width: 100% !important;
  }
  .btn-del {
    margin-right: 120px;
  }
}

@media (max-width: 426px) {
  .img-thumbnail {
    max-width: 100% !important;
  }
  .btn-del {
    margin-right: 20px;
  }
}
</style>