<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4 class="card-title m-0">Metode Pembayaran Digital</h4>
              <p class="card-category">Metode pembayaran untuk memudahkan pelanggan Anda dalam membayar transaksi mereka</p>
            </div>
          </div>
          <div class="col-md-4 text-right" v-if="tambahdata == true">
            <button class="btn btn-dark btn-sm mt-2 shadow-none" @click="Back()">
              Kembali
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div v-if="loading" class="text-center">
            <div class="loader mt-2 mb-2"></div>
          </div>
          <div class="row" v-if="tablelist">
            <div class="col-md-12">
              <h4 class="card-title mb-3" v-if="title">Digital Payment</h4>
              <div class="row">
              <div class="col-md-6" v-for="(item, index) in databayar" :key="index">
                <stats-card>
                  <div slot="header" >
                    <img :src="item.gambar" class="img-responsive image-payment">
                  </div>
                  <div slot="content">
                    <p class="title-payment">{{item.nama}}
                      <span class="button-payment">
                        <VueToggles
                          :value="item.status"
                          height="30"
                          width="60"
                          checkedText="On"
                          uncheckedText="Off"
                          checkedBg="#ff4757"
                          uncheckedBg="lightgrey"
                        />
                      </span>
                    </p>
                    <h5 class="card-title text-left">{{item.payload.tipe}}</h5>
                    <button v-if="item.button == true" class="btn btn-fill btn-sm btn-dark shadow-none" @click="Editpayment(item)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </div>
                </stats-card>
              </div>
              </div>
            </div>
            <div class="col-md-12">
              <h4 class="card-title mb-3" v-if="title">EDC Payment</h4>
              <div class="row">
                <div class="col-md-6" v-for="(dat, id) in dataedc" :key="id">
                  <stats-card>
                    <div slot="header" >
                      <img :src="dat.gambar" class="img-responsive image-payment">
                    </div>
                    <div slot="content">
                      <p class="title-payment">{{dat.nama}}
                        <span class="button-payment">
                          <VueToggles
                            :value="dat.status"
                            height="30"
                            width="60"
                            checkedText="On"
                            uncheckedText="Off"
                            checkedBg="#ff4757"
                            uncheckedBg="lightgrey"
                          />
                        </span>
                      </p>
                      <h5 class="card-title text-left">{{dat.payload.tipe}}</h5>
                      <button v-if="dat.button == true" class="btn btn-fill btn-sm btn-dark shadow-none" @click="Editpayment(dat)">
                        <i class="fa fa-pencil-square-o"></i>
                      </button>
                    </div>
                  </stats-card>
                </div>

              </div>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12">
              <edit-payment :parentData="idx" ref="back"></edit-payment>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import { callapi } from "@/Api.js";
import StatsCard from "@/components/Cards/StatsCard.vue";
import Payment from "./Payment.vue";
import VueToggles from 'vue-toggles';

Vue.component('VueToggles', VueToggles);

export default {
    components: {
    "edit-payment": Payment,
    StatsCard
  },
  mounted() {
    this.GetData();
  },
  data() {
    return {
      tambahdata: false,
      toggleppn: false,
      loading: true,
      disabled: false,
      tablelist: true,
      title: false,
      databayar: [],
      dataedc: [],
      imgpayment: "",
      idx: "",
    }
  },
  methods: {
    async GetData() {
      let n = this;
      this.loading = true;
      this.title = false;
      await this.timeout(400);
      callapi().then((kirim) => {
        kirim.get(`metode_pembayaran?per_page=10`)
          .then((response) => {
            console.log(response);
            this.loading = false;
            this.title = true;
            let Detailpayment = [];
            let DetailEDC = [];
            response.data.data.map(item =>{
              let Newgambar = '';
              let newitem = {};
              let Newstatus = false;
              let Statusbutton = true;
              if (item.nama == "OVO") {
                Newgambar = '/static/assets/images/bayar/ovo.png'
              } else if (item.nama == "DANA") {
                Newgambar = '/static/assets/images/bayar/dana.png'
              } else if (item.nama == "CASH") {
                Newgambar = '/static/assets/images/bayar/cash.png'
              } else if (item.nama == "LINK AJA") {
                Newgambar = '/static/assets/images/bayar/linkaja.png'
              } else if (item.nama == "GOPAY") {
                Newgambar = '/static/assets/images/bayar/gopay.png'
              } else if (item.nama == "BCA") {
                Newgambar = '/static/assets/images/bayar/bca.png'
              } else if (item.nama == "BRI") {
                Newgambar = '/static/assets/images/bayar/bri.png'
              } else if (item.nama == "MANDIRI") {
                Newgambar = '/static/assets/images/bayar/mandiri.png'
              } else if (item.nama == "BNI") {
                Newgambar = '/static/assets/images/bayar/bni.png'
              }

              if (item.status == "enabled") {
                Newstatus = true;
              } else {
                Newstatus = false;
              }
              if (item.nama == "CASH") {
                Statusbutton = false;
              } else {
                Statusbutton = true;
              }

                newitem = {
                  nama: item.nama,
                  code: item.code,
                  payload: {
                    tipe: item.payload.tipe,
                    value: item.payload.value
                  },
                  gambar: Newgambar,
                  status: Newstatus,
                  button: Statusbutton
                }
              if (item.payload.tipe == "EDC") {
                DetailEDC.push(newitem)
              } else {
                Detailpayment.push(newitem)
              }              
            })
            this.databayar = Detailpayment;
            this.dataedc = DetailEDC;
          })
          .catch(function (error) {
            n.loading = true;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
          });
      });
    },
    Back() {
      this.tablelist = true;
      this.tambahdata = false;
      setTimeout(() => {
        this.databayar = [];
        this.dataedc = [];
      }, 100);
      this.GetData();
    },
    Editpayment(val) {
      // console.log(val);
      this.idx = {
        nama: val.nama,
        code: val.code,
        payload : {
          tipe: val.payload.tipe,
          value: val.payload.value
        },
        status: val.status
      };
      this.tablelist = false;
      this.tambahdata = true;
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
  }
}
</script>
<style scoped>
.image-payment {
  width: 90px;
  height: 90px;
  border: 1px solid #ebebeb;
  margin-bottom: 15px;
}
.title-payment {
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}
.button-payment {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.vue-toggles {
  outline: none !important;
}

</style>