<template>
  <div class="row">
    <div class="col-md-12 mt-1 mb-1">
      <card class="mb-0 pr-0 pl-0" style="border: 0px">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title mb-3">Update Data</h4>
          </div>
          <div class="col-md-6 text-right">
            <button v-if="parentData.payload.tipe != 'EDC'" class="btn btn-dark btn-sm round btn-fill" data-toggle="tooltip" title="Panduan Scanner Pembayaran." @click="Openinfo()">
              <i class="fa fa-question-circle"></i>
            </button>
          </div>
        </div>
        <div class="row mb-3" v-if="message == 'Kode Pembayaran'">
          <div class="col-md-8">
            <p-checkbox :inline="false" v-model="checkbarcode">
              Aktifkan checkbox apabila kode Anda berupa barcode.</p-checkbox>
          </div>
        </div>
        <div class="row justify-content-md-center" v-if="qrcodes">
          <div class="col-md-6">
            <card>
            <label>Upload File</label><br>
            <qrcode-capture
              @decode="onDecode"
            >
            </qrcode-capture>
            </card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nama Pembayaran</label>
              <input
                type="text"
                class="form-control"
                placeholder="Masukkan Nama Pembayaran"
                oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                oninput="setCustomValidity('')"
                v-model="nama"
                disabled
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label> {{message}}</label>
              <input
                type="text"
                class="form-control"
                placeholder="Masukkan Kode Pembayaran"
                oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                oninput="setCustomValidity('')"
                v-model="kode"
                ref="kode"
                :disabled="check"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Status Pembayaran</label>
            <VueToggles
              @click="toggle = !toggle"
              :value="toggle"
              height="30"
              width="60"
              checkedText="On"
              uncheckedText="Off"
              checkedBg="#ff4757"
              uncheckedBg="lightgrey"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button
              :disabled="disabled"
              class="btn btn-fill btn-primary shadow-none"
              @click="Simpan()"
            >
              <span v-if="disabled">
                Proses <i class="fa fa-spinner fa-pulse"></i>
              </span>
              <span v-else>Update Data</span>
            </button>
          </div>
        </div>
      </card>
    </div>
        <b-modal v-model="modalinfo" :size="size" title="Panduan Scanner Pembayaran" hide-footer>
          <div class="modal-content">
            <div class="row">
              <div class="col-md-7">
                <div class="modal-body text-center">
                  <img :src="gambar" class="img-responsive image-payment">
                </div>
              </div>
              <div class="col-md-5" v-if="nama == 'DANA'">
                <div class="modal-body text-left">
                  <h5 class="modal-title m-0">Tata Cara:</h5>
                  <h5 style="font-weight: 500 !important;">
                    <ol>
                      <li>Buka aplikasi mobile Dana Anda</li>
                      <li>Pilih Menu Minta</li>
                      <li>Setelah muncul kode Qrcode Anda, silahkan screenshoot kode Qrcode Anda</li>
                      <li>Kemudian upload dan klik update data.</li>
                    </ol>
                  </h5>
                </div>
              </div>
              <div class="col-md-5" v-if="nama == 'OVO'">
                <div class="modal-body text-left">
                  <h5 class="modal-title m-0">Tata Cara:</h5>
                  <h5 style="font-weight: 500 !important;">
                    <ol>
                      <li>Buka aplikasi mobile OVO Anda</li>
                      <li>Pilih menu Profile pada kanan bawah</li>
                      <li>Kemudian pilih menu QR Code</li>
                      <li>Setelah muncul kode Qrcode Anda, silahkan screenshoot kode Qrcode Anda</li>
                      <li>Kemudian upload dan klik update data.</li>
                    </ol>
                  </h5>
                </div>
              </div>
              <div class="col-md-5" v-if="nama == 'LINK AJA'">
                <div class="modal-body text-left">
                  <h5 class="modal-title m-0">Tata Cara:</h5>
                  <h5 style="font-weight: 500 !important;">
                    <ol>
                      <li>Buka aplikasi mobile LINK AJA Anda</li>
                      <li>Pilih menu Semua</li>
                      <li>Kemudian pilih menu My QR</li>
                      <li>Setelah muncul kode Qrcode Anda, silahkan screenshoot kode Qrcode Anda</li>
                      <li>Kemudian upload dan klik update data.</li>
                    </ol>
                  </h5>
                </div>
              </div>
              <div class="col-md-5" v-if="nama == 'GOPAY'">
                <div class="modal-body text-left">
                  <h5 class="modal-title m-0">Tata Cara:</h5>
                  <h5 style="font-weight: 500 !important;">
                    <ol>
                      <li>Buka aplikasi mobile GOJEK Anda</li>
                      <li>Pilih menu Isi Gopay</li>
                      <li>Kemudian pilih menu Minta</li>
                      <li>Setelah muncul kode Qrcode Anda, silahkan screenshoot kode Qrcode Anda</li>
                      <li>Kemudian upload dan klik update data.</li>
                    </ol>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
import { QrcodeCapture } from "vue-qrcode-reader";
import PCheckbox from "@/components/Inputs/Checkbox.vue";
import { callapi } from "@/Api.js";

export default {
  components: {
    QrcodeCapture,
    PCheckbox
  },
  props: ['parentData'],
  mounted() {
    if (this.parentData.status == true) {
      this.toggle = true;
    } else {
      this.toggle = false;
    }
    if (this.parentData.payload.tipe == 'EDC') {
      this.checkbarcode = true;
      this.message = 'Nomor Rekening Pembayaran'
    }
    // console.log(this.parentData.payload.tipe);
  },
  watch: {
    checkbarcode: function() {
      if (this.checkbarcode == true) {
        this.check = false;
        this.qrcodes = false;
        this.timeout(300);
        this.$refs.kode.focus();
      } else {
        this.check = true;
        this.qrcodes = true;
      }
    }
  },
  data() {
    return {
      nama: this.parentData.nama,
      kode: this.parentData.payload.value,
      kodes: this.parentData.code,
      message: 'Kode Pembayaran',
      gambar: "",
      size: '',
      result: '',
      toggle: false,
      disabled: false,
      checkbarcode: false,
      modalinfo: false,
      qrcodes: true,
      check: true,
    }
  },
  methods: {
    Simpan() {
      if (this.kode == "") {
        alert("Silahkan lengkapi kode Anda!");
        return false;
      }
      this.disabled = true;
      let Newstatus, Newtipe
      if (this.toggle == true) {
        Newstatus = 'enabled'
      } else {
        Newstatus = 'disabled'
      }
      if (this.parentData.payload.tipe == 'EDC') {
          Newtipe = 'EDC'
        } else {
          if (this.checkbarcode == true) {
            Newtipe = 'BARCODE'
          } else {
            Newtipe = 'QRCODE'
          }
      }
      let data = {
        code: this.kodes,
        payload : {
          tipe: Newtipe,
          value: this.kode},
        status: Newstatus,
      }
      callapi().then(kirim => {
        kirim.put(`metode_pembayaran`, data) 
        .then(res => {
          // console.log(res);
          this.disabled = false;
          this.notifku(true, 'Edit Pembayaran');
          Newstatus = ''
          Newtipe = ''
        })
        .catch(err => {
          console.log(err);
          this.notifku(false, 'Edit Pembayaran');
          this.disabled = false;
        })
      })
    },
    Openinfo() {
      this.modalinfo = true;
      if (this.nama == 'OVO') {
        this.gambar = '/static/assets/images/bayar/tutorialovo.png'
        this.size = 'xl'
      } else if (this.nama == 'DANA') {
        this.gambar = '/static/assets/images/bayar/tutorialdana.png'
        this.size = 'lg'
      } else if (this.nama == 'LINK AJA') {
        this.gambar = '/static/assets/images/bayar/tutoriallinkaja.png'
        this.size = 'xl'
      } else if (this.nama == 'GOPAY') {
        this.gambar = '/static/assets/images/bayar/tutorialgopay.png'
        this.size = 'xl'
      }
    },
    async onDecode(result) {
      console.log(result);
      this.kode = result;
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    }
  }
};
</script>

<style scoped>
body, .wrapper {
  min-height: 0vh !important;
}
.card .card-body {
  padding: 15px 15px 15px 15px !important;
}
.validation-success,
.validation-failure,
.validation-pending {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
  text-align: center !important;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px;

  display: flex !important;
  flex-flow: column nowrap;
  justify-content: center;
}
.vue-toggles {
  outline: none !important;
}
.image-payment {
  width: 100%;
  height: auto;
  border: 1px solid #ebebeb;
  /* margin-bottom: 15px; */
}
</style>