<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div slot="header">
              <h4 class="card-title m-0">Resep</h4>
              <p class="card-category">Pengelompokkan menu dari berbagai bahan</p>
            </div>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-danger btn-sm mt-2 shadow-none" @click="Tambahdata()">
              <i class="fa fa-plus"></i> Tambah Data Baru
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row" v-if="tablelist">
            <div class="col-md-12">
              <div class="pr-0 pl-0 table-responsive">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <label>Cari</label>
                    <div class="form-group his-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input
                        v-model.trim="search"
                        type="text"
                        ref="search"
                        class="form-control"
                        placeholder="Cari"
                      />
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th width="5%" class="text-center">ID</th>
                      <th @click="Sort('nama')" width="25%">
                        Nama Resep
                        <span>
                          <i :class="[Sortnama ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th @click="Sort('namamenu')" width="25%">
                        Nama Menu
                        <span>
                          <i :class="[Sortmenu ==='asc' ? 'fa fa-caret-up' : 'fa fa-caret-down' ]"></i>
                        </span>
                      </th>
                      <th width="25%" class="text-center">Komposisi Bahan</th>
                      <th width="20%" class="text-center">Aksi</th>
                    </tr>
                  </thead>
                  <tbody v-if="loading == false">
                    <tr v-for="(item, key) in dataresep" :key="key">
                      <th class="text-center">{{(currentPage-1)*perHalaman+(key+1)}}</th>
                      <td>{{item.nama}}</td>
                      <td>{{item.namamenu}}</td>
                      <td class="text-center">
                        <button
                          class="btn btn-fill btn-sm btn-success shadow-none"
                          @click="DetailBahan(item)"
                        >
                          <i class="fa fa-asterisk"></i> Lihat
                        </button>
                      </td>
                      <td class="text-center">
                        <button
                          class="btn btn-fill btn-sm btn-warning shadow-none"
                          @click="Edit(item)"
                        >
                          <i class="fa fa-pencil-square-o"></i> Edit
                        </button>&nbsp;
                        <button
                          class="btn btn-fill btn-sm btn-danger shadow-none"
                          @click="Hapus(item)"
                        >
                          <i class="fa fa-trash-o"></i> Hapus
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else-if="loading == true">
                    <tr>
                      <th colspan="5" class="text-center">
                        <div class="loader mt-2 mb-2"></div>
                      </th>
                    </tr>
                  </tbody>
                  <tbody v-if="kosong">
                    <tr>
                      <th colspan="5" class="text-center">
                        <i>
                          <h5>Tidak ada data yang ditampilkan</h5>
                        </i>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h5
                    v-if="!kosong"
                  >Menampilkan {{currentPage}} hingga {{perHalaman}} dari {{countapil}} item</h5>
                </div>
                <div class="col-md-6">
                  <b-pagination
                    class="mt-2"
                    :total-rows="countapil"
                    v-model="currentPage"
                    :per-page="perHalaman"
                    align="right"
                    @input="GetData(currentPage)"
                  ></b-pagination>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="tambahdata">
            <div class="col-md-12 mt-1 mb-1">
              <card class="mb-0 pr-0 pl-0" style="border: 0px;">
                <h4 class="card-title mb-4">Tambah Data</h4>
                <form v-on:submit.prevent="Simpan">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Nama Resep</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Masukkan Nama Resep"
                          oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')"
                          oninput="setCustomValidity('')"
                          v-model="resep"
                          ref="resep"
                        />
                      </div>
                      <div class="form-group">
                        <label>Nama Menu</label>
                        <multiselect
                          v-model="selectedmenu"
                          deselect-label
                          selectLabel
                          track-by="nama"
                          label="nama"
                          placeholder="Pilih Salah Satu Menu"
                          :options="optionsmenu"
                          :searchable="false"
                          :allow-empty="false"
                        >></multiselect>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-responsive">
                        <thead class="bg-light">
                          <tr>
                            <th scope="col" class="border-0">ID</th>
                            <th scope="col" class="border-0 text-left">Nama Bahan</th>
                            <th scope="col" class="border-0">Qty</th>
                            <th scope="col" colspan="2" class="border-0 text-center">Satuan</th>
                            <th scope="col" class="border-0">Aksi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, key) in databahan" :key="key">
                            <td width="5%">{{key+1}}</td>
                            <td width="30%">
                              <multiselect
                                v-model="item.selectedbahan"
                                deselect-label
                                selectLabel
                                :id="key"
                                track-by="nama"
                                label="nama"
                                placeholder="Pilih Bahan"
                                :options="optionsbahan"
                                :allow-empty="false"
                                @select="InsertUnit"
                              >></multiselect>
                            </td>
                            <td width="15%">
                              <input
                                type="number"
                                v-model="item.qty"
                                class="form-control"
                                placeholder="Qty"
                              />
                            </td>
                            <td width="20%">
                              <input
                                type="text"
                                v-model="item.satuan"
                                class="form-control"
                                placeholder="Satuan"
                                disabled
                              />
                            </td>
                            <td width="20%">
                              <multiselect
                                v-model="item.selectedunit"
                                deselect-label
                                selectLabel
                                track-by="id"
                                label="id"
                                placeholder="Pilih Satuan"
                                :options="item.optionsunit"
                                :searchable="false"
                                :allow-empty="false"
                              >></multiselect>
                            </td>
                            <td width="10%">
                              <button
                                type="button"
                                class="btn btn-fill btn-sm btn-danger shadow-none"
                                @click="HapusRow(item)"
                                :disabled="disabled==key?true:false"
                                :ref="'hapus'+key"
                              >
                                <i class="fa fa-times"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <td colspan="7">
                            <button
                              type="button"
                              class="btn btn-fill btn-sm btn-primary shadow-none"
                              @click="TambahRow()"
                            >
                              <i class="fa fa-plus"></i> Tambah
                            </button>
                          </td>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-fill btn-danger shadow-none" @click="resertVal()">Batal</button>
                    <button
                      type="submit"
                      :disabled="disabled"
                      class="btn btn-fill btn-primary shadow-none"
                    >
                      <span v-if="disabled">
                        Proses
                        <i class="fa fa-spinner fa-pulse"></i>
                      </span>
                      <span v-else>Simpan</span>
                    </button>
                  </div>
                </form>
              </card>
            </div>
          </div>
        </card>
        <b-modal v-model="modalkomposisi" size="lg" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Komposisi Bahan</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <div class="col-md-12">
                <ul v-for="(item, key) in detailbahan" :key="key" class="list-group">
                  <li class="list-group-item vertical">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="title-detail">Nama Resep</div>
                        <span>{{item.selectedbahan}}</span>
                      </div>
                      <div class="col-md-4">
                        <div class="title-detail">Qty Bahan</div>
                        <span>{{item.qty}}</span>
                      </div>
                      <div class="col-md-4">
                        <div class="title-detail">Unit Bahan</div>
                        <span>{{item.satuan}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </b-modal>
        <b-modal v-model="modalhapus" hide-footer hide-header>
          <div class="modal-content" style="border: 0px;">
            <div class="modal-header">
              <h4 class="modal-title m-0">Konfirmasi Hapus</h4>
              <button
                type="button"
                style="outline: none !important;"
                class="close"
                @click="resertVal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mt-3">
              <h6
                style="font-weight: 400 !important;"
              >Apakah anda yakin, ingin menghapus data tersebut?</h6>
              <div class="text-right mt-4">
                <button
                  type="button"
                  class="btn btn-fill btn-danger btn-sm shadow-none"
                  @click="resertVal()"
                >Batal</button>
                <button
                  type="button"
                  class="btn btn-fill btn-primary btn-sm shadow-none"
                  @click="Simpan()"
                >Ya, Hapus</button>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import _ from "lodash";
import { callapi } from "@/Api.js";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect,
  },
  async mounted() {
    await this.GetData();
    await this.GetDataMenu();
    await this.GetDataBahan();
  },
  data() {
    return {
      tambahdata: false,
      tablelist: true,
      modalkomposisi: false,
      loading: true,
      disabled: false,
      modalhapus: false,
      kosong: false,
      countapil: 0,
      currentPage: 1,
      perHalaman: 5,
      Sortnama: "asc",
      Sortmenu: "asc",
      selectedmenu: "",
      resep: "",
      search: "",
      id: "",
      dataresep: [],
      optionsmenu: [],
      detailbahan: [],
      optionsbahan: [],
      optionsatuan: [],
      databahan: [
        {
          qty: "",
          selectedbahan: "",
          satuan: "",
          selectedunit: "",
          optionsunit: [],
        },
      ],
    };
  },
  watch: {
    search: _.debounce(function () {
      this.currentPage = 1;
      this.GetData();
    }, 500),
  },
  methods: {
    GetDataMenu() {
      let n = this;
      return new Promise((resolve, reject) => {
        callapi().then((kirim) => {
          kirim
            .get(`menu?per_pagee=9999`)
            .then((response) => {
              // console.log(response);
              this.optionsmenu = response.data.data;
              resolve(true);
            })
            .catch((error) => {
              console.log("GetDataMenu : " + error);
              n.loading = true;
              if (error == "Network Error" || error == "Error: Network Error") {
                n.GetDataMenu();
              }
              reject(false);
            });
        });
      });
    },
    GetDataBahan() {
      return new Promise((resolve, reject) => {
        callapi().then((kirim) => {
          kirim
            .get(`bahan?per_page=9999`)
            .then((response) => {
              // console.log(response);
              this.optionsbahan = response.data.data;
              resolve(true);
            })
            .catch((error) => {
              console.log(error);
              reject(false);
            });
        });
      });
    },
    Sort(name) {
      var sort = "";
      if (name == "nama") {
        this.Sortnama = this.Sortnama === "asc" ? "desc" : "asc";
        sort = this.Sortnama;
      } else if (name == "namamenu") {
        this.Sortmenu = this.Sortmenu === "asc" ? "desc" : "asc";
        sort = this.Sortmenu;
      }
      this.GetData(this.currentPage, name, sort);
    },
    async GetData(page, name, sort) {
      let n = this;
      this.loading = true;
      await this.timeout(400);
      callapi().then((kirim) => {
        kirim
          .get(
            `resep?page=${page ? page : 1}&filter=${
              this.search
            }&sort=${name}|${sort}`
          )
          .then((response) => {
            // console.log();
            this.loading = false;
            if (response.data.data.length == 0) {
              this.kosong = true;
            } else {
              this.kosong = false;
            }
            this.dataresep = response.data.data;
            this.countapil = parseInt(response.data.total);
          })
          .catch((error) => {
            console.log(error);
            n.loading = true;
            if (error == "Network Error" || error == "Error: Network Error") {
              n.GetData();
            }
            // console.log(error);
          });
      });
    },
    async Simpan() {
      if (!this.id) {
        if (
          this.databahan[0].selectedbahan == "" ||
          this.databahan[0].qty == "" ||
          this.databahan[0].satuan == "" ||
          this.databahan[0].unit == "" ||
          this.selectedmenu == ""
        ) {
          alert("Silahkan lengkapi data Anda");
          return false;
        } else if (this.resep == "") {
          this.$refs.resep.focus();
          alert("Silahkan lengkapi data Anda");
          return false;
        }
      }
      let detail = [];
      this.databahan.forEach((data) => {
        // console.log(this.databahan);
        detail.push({
          idbahan: data.selectedbahan.id,
          qty: parseFloat(data.qty),
          unit: {
            code: data.selectedunit.id,
            satuan: data.satuan,
          },
        });
      });
      let data = {
        nama: this.resep,
        idmenu: this.selectedmenu.id,
        listbahan: detail,
      };
      this.disabled = true;
      // console.log(data);
      await this.timeout(400);
      let kirim, message;
      if (this.id) {
        if (this.modalhapus) {
          kirim = callapi().then((send) => {
            send.delete(`resep/${this.id}`);
            message = "Hapus Resep";
          });
        } else {
          kirim = callapi().then((send) => {
            send.put(`resep/${this.id}`, data);
            message = "Edit Resep";
          });
        }
      } else {
        kirim = callapi().then((send) => {
          send.post(`resep`, data);
          message = "Simpan Resep";
        });
      }
      kirim
        .then((res) => {
          // console.log(res);
          this.notifku(true, message);
          this.disabled = false;
          this.resertVal();
          this.GetData();
        })
        .catch((err) => {
          this.notifku(false, message);
          this.disabled = false;
          console.log(err);
        });
    },
    Hapus(val) {
      this.modalhapus = true;
      this.id = val.id;
    },
    Edit(val) {
      // console.log(val);
      this.id = val.id;
      this.resep = val.nama;
      this.selectedmenu = { nama: val.namamenu, id: val.idmenu };
      var arrayunit = [];
      var arr = [];
      val.listbahan.forEach((item) => {
        if (item.unit.satuan == "massa") {
          arrayunit = [
            { id: "kg" },
            { id: "hg" },
            { id: "dag" },
            { id: "gr" },
            { id: "dg" },
            { id: "cg" },
            { id: "mg" },
          ];
        } else if (item.unit.satuan == "volume") {
          arrayunit = [
            { id: "kl" },
            { id: "hl" },
            { id: "dal" },
            { id: "lt" },
            { id: "dl" },
            { id: "cl" },
            { id: "ml" },
          ];
        } else if (item.unit.satuan == "barang") {
          arrayunit = [{ id: "pcs" }];
        }
        let data = {
          selectedbahan: { nama: item.resep.nama, id: item.resep.id },
          qty: item.qty,
          satuan: item.unit.satuan,
          optionsunit: arrayunit,
          selectedunit: { id: item.unit.code },
        };
        arr.push(data);
      });
      // console.log(arr);
      this.databahan = arr;
      this.tambahdata = true;
      this.tablelist = false;
    },
    InsertUnit(data, id) {
      // console.log(data, id);
      this.databahan[id].satuan = data.unit.satuan;
      if (data.unit.satuan == "massa") {
        this.databahan[id].optionsunit = [
          { id: "kg" },
          { id: "hg" },
          { id: "dag" },
          { id: "gr" },
          { id: "dg" },
          { id: "cg" },
          { id: "mg" },
        ];
      } else if (data.unit.satuan == "volume") {
        this.databahan[id].optionsunit = [
          { id: "kl" },
          { id: "hl" },
          { id: "dal" },
          { id: "lt" },
          { id: "dl" },
          { id: "cl" },
          { id: "ml" },
        ];
      } else if (data.unit.satuan == "barang") {
        this.databahan[id].optionsunit = [{ id: "pcs" }];
      }
      this.databahan[id].selectedunit = { id: data.unit.code };
    },
    resertVal() {
      this.modalhapus = false;
      this.modalkomposisi = false;
      this.tambahdata = false;
      this.tablelist = true;
      this.id = "";
      this.resep = "";
      this.selectedmenu = "";
      this.databahan = [
        {
          qty: "",
          selectedbahan: "",
          satuan: "",
          selectedunit: "",
          optionsunit: [],
        },
      ];
    },
    DetailBahan(val) {
      // console.log(val);
      var arr = [];
      val.listbahan.forEach((item) => {
        let data = {
          qty: item.qty,
          selectedbahan: item.resep.nama,
          satuan: item.unit.code,
        };
        arr.push(data);
        // console.log(data);
      });
      this.detailbahan = arr;
      this.modalkomposisi = true;
    },
    async Tambahdata() {
      this.tambahdata = true;
      this.tablelist = false;
      await this.timeout(300);
      this.$refs.resep.focus();
    },
    timeout(ms) {
      return new Promise((resolve) => {
        window.setTimeout(resolve, ms);
      });
    },
    TambahRow() {
      this.databahan.push({
        qty: "",
        selectedbahan: "",
        satuan: "",
        selectedunit: "",
        optionsunit: [],
      });
    },
    HapusRow(index) {
      if (this.databahan.length > 1) {
        this.databahan.splice(index, 1);
      } else {
        this.databahan = [
          {
            qty: "",
            selectedbahan: "",
            satuan: "",
            selectedunit: "",
            optionsunit: [],
          },
        ];
      }
    },
    notifku(status, message) {
      this.$notifications.notify({
        message: `<span><b>${
          status ? "Berhasil" : "Gagal"
        }</b> ${message}</span>`,
        icon: status ? "nc-icon nc-check-2" : "nc-icon nc-simple-remove",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: status ? "success" : "danger",
      });
    },
  },
};
</script>
<style scoped>
.title-detail {
  color: #9a9a9a;
  font-weight: 600;
}
</style>