<template>
  <div>
    <nav class="navbar navbar-expand-lg">
      <div class="col-12">
        <div class="row">
          <div class="col-md-8">
            <div>
              <h4 class="card-title m-0">Pengaturan Akun</h4>
              <p
                class="card-category"
              >Menu ini diperlukan untuk mengatur profil Anda pada aplikasi mobile</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <card style="border: 0px;">
          <div class="row">
            <div class="col-md-12">
              <b-tabs justified class="shadow-none mt-2">
                <b-tab title="Profil Bisnis" title-item-class="mytab">
                  <profil-usaha></profil-usaha>
                </b-tab>
                <b-tab title="Profil Akun" title-item-class="mytab">
                  <profil-akun></profil-akun>
                </b-tab>
                <b-tab title="Ubah Password Admin" title-item-class="mytab">
                  <ganti-password></ganti-password>
                </b-tab>
              </b-tabs>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import ProfilUsaha from "./setting/Profil-Usaha.vue";
import ProfilAkun from "./setting/Profil-Akun.vue";
import GantiPassword from "./setting/Ganti-Password.vue";

export default {
  components: {
    "profil-usaha": ProfilUsaha,
    "profil-akun": ProfilAkun,
    "ganti-password": GantiPassword,
  },
};
</script>
<style>
</style>