<template>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 p-0">
        <div class="login d-flex align-item-left py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 px-md-5">
                <a href="https://www.mystoku.com/">
                  <img src="@/assets/images/logowarna.svg" class="mb-5 logos" alt="logos" width="45%">
                </a>
                <h3 style="margin-bottom: 70px;">Kode Usaha</h3>
                <form v-on:submit.prevent="submit">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Kode</label>
                    <input type="number" title="" class="form-control shadow-none" placeholder="Masukkan Kode Perusahaan / Usaha" oninvalid="this.setCustomValidity('Silahkan isi kolom ini.')" oninput="setCustomValidity('')" ref="verifikasi" v-model="kode" required>
                  </div>
                  <button type="submit" :disabled="disabled" class="btn shadow-none btn-block btn-login text-uppercase font-weight-bold mb-3">
                    <span v-if="disabled"><i class="fa fa-spinner fa-pulse fa-lg"></i>
                    </span>
                    <span v-else>Kirim</span>
                  </button>
                  <small class="form-text text-danger mb-3">{{status}}</small>
                  <p class="m-0">Tanya Kasir Untuk Mendapatkan Kode Usaha</p>
                </form>
                <div class="text-footer mt-3">
                  <p>Copyright © 2020 Mystoku</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  name: 'HelloWorld',
  data () {
    return {
      kode: '',
      disabled: false,
      konfirmasi: false,
      loading: false,
      status: '',
    }
  },
  mounted() {
    this.$refs.verifikasi.focus();
  },
  beforeCreate: function () {
    if (localStorage.getItem("code")) {
      this.$router.push('/dapur')
    }
  },
  methods: {
    submit() {
      this.disabled = true;
      var local = localStorage.getItem("code");
      // var datalogin = {
      //   code: this.kode
      // };
      // callapi().then(kirim => {
        Axios.get(`https://server.mystoku.com/api/mitra/data/`+ this.kode)
        .then(async response => {
          localStorage.setItem("code", JSON.stringify(response.data.data));
          this.disabled = false;
          this.konfirmasi = true;
          this.$router.replace({ path: "/dapur" });
        })
        .catch(err => {
          this.disabled = false;
          this.status = 'Kode Perusahaan / Usaha tidak valid, Coba Tanyakan Kasir.'
          console.log(err);
        });
      // })
    },
  }
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #2E2E2E;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.login,
.image {
  min-height: 100vh;
  background-color: #FFF2F3;
}

.link {
  color: #3069E3;
}

.btn-login {
  color: #ffff;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.65rem 1rem;
  border-radius: 2rem;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: -o-linear-gradient(left, #FFC312,#ff9317,#FFC312);
  background-image: linear-gradient(to left,#FFC312,#ff9317,#FFC312);
}

.btn-login:hover {
  background-image: linear-gradient(to right,#ff9317,#FFC312,#FFC312);
  color: #ffff !important;
}

.bg-image {
  background-image: url('../../assets/images/verifikasi.svg');
  background-size: cover;
  background-position: center;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #FF4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.pointer {
  cursor: pointer;
}

.text-footer {
  background: none;
  bottom: 15px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }

  .logos {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
  }
}

</style>