/* STYLE TABS MENU */

.nav-tabs .mytab .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ff4757 !important;
  background-color: transparent !important;
  border-color: transparent transparent #ff4757 !important;
  border-bottom: 3px solid !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.nav-tabs .mytab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #9a9a9a;
  font-size: 18px;
}

.nav-tabs {
  outline: none !important;
}

.nav-tabs .nav-link:focus {
  outline: none !important;
}

/* STYLE MODAL */

.modal .modal-content .modal-body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.modal .modal-content .modal-header {
  padding-left: 15px;
  color: #888888;
}

/* STYLE SEARCH GLOBAL */

.his-search {
  width: 100%;
}

.his-search .form-control {
  padding-left: 2.375rem;
}

.his-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* STYLE INPUT FILE */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ff4757;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
  outline: 0 none;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* STYLE PAGINATION */

.page-link {
  border: 0;
  border-radius: 30px !important;
  transition: all 0.3s;
  padding: 0 11px !important;
  margin: 0 3px !important;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: 0 0;
  text-align: center;
}

.page-link:hover {
  color: #999;
}

.page-item.active .page-link {
  border: none !important;
  border-radius: 100%;
  background-color: #ff4757;
  border-color: #ff4757;
  box-shadow: none;
}

.page-item.disabled .page-link {
  border: none !important;
}

/* STYLE MULTISELECT */

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 1rem !important;
}

.multiselect__single {
  padding-top: 0.30rem !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.multiselect__input,
.multiselect__single {
  padding-left: 1px !important;
}

.multiselect__tags {
  font-size: 1rem !important;
  padding-top: 0.45rem !important;
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.multiselect__placeholder {
  display: inline !important;
  color: #E3E3E3 !important;
  font-weight: 300 !important;
}

.multiselect__option--highlight {
  background: #007bff !important;
  outline: none;
  color: #fff
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #007bff !important;
  color: #fff
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #ff4757 !important;
  color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #ff4757 !important;
  content: attr(data-deselect);
  color: #fff
}

/* STYLE LOADING */

.loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: -75px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #ff4757;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.vertical {
  border-top: 5px solid #ff4757;
  margin-bottom: 20px;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.close { 
  outline: none !important;
  text-shadow: none !important;
}

.list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
  margin-top: 0px !important;
}

::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
 background-color: #F5F5F5;
}

::-webkit-scrollbar
{
 width: 6px;
 background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #777777;
}

/* BUTTON BULAT */
.round {
  border-radius: 50%;
  margin: 0 1px;
  color: #797979;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
}
